.n-overlay.n-overlay--flagship.mfp-hide#ovearlayFlagship
    .n-overlay__box
        <button title="關閉" type="button" class="mfp-close">&#215;</button>
        .n-l-bgw-lg
            .n-overlay__head.n-l-colmb20.n-text--center 
                img(src="Resource/img201703/flagship/bn230x90.jpg", alt="logo")
            .n-overlay__body.n-overlay--flagship-about
                .n-title--15 標題一
                p 早於1970年，SK-II的科學家已經開始尋找能夠讓女士們擁有美麗肌膚的神奇成分。經過千山萬水，科學家們雖然不曾放棄，卻始終找不到美肌的奧秘。
                p 直至一次偶然的機會，科學家們來到了一所清酒釀造廠，看到年邁釀酒師的臉上佈滿皺紋，雙手卻依然細嫩； 就是這個讓科學家們驚訝的畫面，啟發了他們後來發現美肌的神奇成分，也從此揭開了美麗的奧秘。
                .n-title--15 標題二
                p 在看到年邁釀酒師佈滿皺紋的臉，和他們細嫩的雙手這個強列對比後，科學家們一直無法忘懷。當他們回到SK-II的實驗室後， 推測令老釀酒師擁有年輕雙手的奧秘，必定是埋藏在雙手每天接觸的酵母液體中。
                p 經過一連串嚴謹的研究後，科學家們從當時存在的350種酵母中找到其中一種酵母加以提煉，發現了一種神奇成分，那就是讓肌膚晶瑩剔透的唯一奧秘，PITERA™因此誕生。
                p 雖然尋找神奇成分的旅程已經結束，但是美肌的新革命卻正要掀開嶄新的一頁。
                img(src="Resource/img201703/flagship/620x500.png", alt="但是美肌的新革命卻正要掀開嶄新的一頁")
                .n-title--15 標題三
                p 從嚴謹監控的發酵過程中，科學家們發現PITERA™是一種蘊含豐富維他命、氨基酸、礦物質及有機酸的透明液體。
                p 這種天然的混合成分能夠明顯地改善肌膚表皮層的代謝過程，讓肌膚逆轉肌齡。
                p PITERA™跟肌膚的天然保濕因數(NMF)成分極為相似，是提升及維持肌膚透亮、柔嫩及細滑的重要元素。將大自然及卓越的科技互相融合，成就了SK-II的經典成分PITERA™ ，承諾讓女士的肌膚一直晶瑩剔透下去。