<div class="n-pager n-l-colmb15">
	<div class="n-left n-pager__total">第 <span> 1 </span> 件～第 <span>40</span> 件 （共 <span>3500 </span>件商品）</div>
	<div class="n-left n-pager__num">
		<a class="n-pager--first n-pager--disable" href="" title="最前頁"><i class="n-icon--first"></i></a>
		<a class="n-pager--disable" href="" title="上一頁"><i class="n-icon--prev"></i></a>
		<a class="current" href="" title="1">1</a>
		<a href="" title="2">2</a>
		<a href="" title="3">3</a>
		<a href="" title="4">4</a>
		<a href="" title="5">5</a>
		<a class="n-pager--active" href="" title="下一頁"><i class="n-icon--next"></i></a>
		<a class="n-pager--last n-pager--active" href="" title="最後頁"><i class="n-icon--last"></i></a>
	</div>
</div>