.n-overlay.mfp-hide.n-prod--notice#productNotice
	.n-overlay__box.n-prod__body
		<button title="關閉" type="button" class="mfp-close">&#215;</button>
		.n-l-bgw-md.n-prod__wrap
			img.n-left.n-pic(src="https://goo.gl/7MBclW", alt="PS4 菲莉絲的鍊金工房~不可思議之旅的鍊金術士-中文水晶珍藏盒版")
			.n-left.n-prod__right
				.n-title--15 PS4 菲莉絲的鍊金工房~不可思議之旅的鍊金術士-中文水晶珍藏盒版
				ul.n-choose__spec
					li
						label(for="noticeS1") 顏色：
						select.n-form--control#noticeS1(name="")
							option(value="") 黑色
							option(value="") 灰色
					li
						label(for="noticeS2") 樣式：
						select.n-form--control#noticeS2(name="")
							option(value="") M
							option(value="") L
				button.n-btn.n-btn--primary 到貨通知我