meta(name='robots', content='index')
meta(name='title', content='東森嚴選－ET Mall東森購物網')
meta(name='description', content='ET Mall東森購物網提供數萬種東森嚴選商品，包含保健食品、彩妝、珠寶、服飾、內衣、旅遊、百貨、美食、3C及家電等眾多類別，雙重資訊安全認證，購物最放心、服務最完整。')
meta(name='keywords' content='ETMall東森購物網')
meta(name='author' content='ETMall東森購物網')
meta(name='copyright' content='EASTERN HOME SHOPPING &amp; LEISURE CO., LTD.')
meta(property='og:title', content='ETMall東森購物網')
meta(property='og:type', content='website')
meta(property='og:url', content='http://www.u-mall.com.tw/')
meta(property='og:description', content='ET Mall東森購物網提供數萬種東森嚴選商品，包含保健食品、彩妝、珠寶、服飾、內衣、旅遊、百貨、美食、3C及家電等眾多類別，雙重資訊安全認證，購物最放心、服務最完整。')
link(rel='shortcut icon', href='Resource/img201703/favicon/favicon.ico')
link(rel='apple-touch-icon', href='Resource/img201703/favicon/apple-icon-180x180.png')
link(rel='shortcut icon', href='Resource/img201703/favicon/android-icon-192x192.png')