.n-topics__bn#topicsBn
	mixin bnLists(imgSrc, name)
		a(href="#" alt= name)
			img(src= imgSrc alt= name)
	+bnLists('Resource/img201703/topic/bn1260x500-1.jpg', '母親節禮物送禮推薦')
	+bnLists('http://placehold.it/1260x500/821000/ffffff', '母親節禮物送禮推薦')
	+bnLists('http://placehold.it/1260x500/FF836F/ffffff', '母親節禮物送禮推薦')
	.n-topics__bn-nav#topicsNav