.n-topics__model.n-w-1010.n-left(style="display: none")#topicTempl3
	h2.n-topics__title.n-title--18
		i.n-up-down--title
		span 限量優惠商品
	ul.n-topics__promo-list.n-hover--img
		-var eightLists = [ { link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/u0z7R4', subName: '精選美饌', promoName: '會員專屬優惠' }, { link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/oepZZU', subName: '夏日涼感冰礦咖啡紗', promoName: '會員專屬優惠' },{ link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/PqvE94', subName: '法式風情百搭', promoName: '會員專屬優惠'  },{ link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/UhFZD8', subName: '黛瑪深V集中爆乳蠶絲' , promoName: '好吃美味' },{ link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/MHhDGE', subName: '鍋寶金鑽不沾鍋絕美' , promoName: '全面5折' },{ link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/f1SciM', subName: '紳士品味' , promoName: '會員專屬'},{ link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/v9fDA5', subName: '妝點女人味', promoName: '會員專屬優惠'},{ link: 'https://goo.gl/ktTeIv', name:'COACH 71842 經典LOGO烙印撞色皮革中性斜背包.黑/藍', imgSrc:'https://goo.gl/bv3KlG', subName: '韓版五折起' , promoName: '會員專屬優惠'} ];
		each eightList in eightLists
			li
				a(href= eightList.link title= eightList.name target="_blank")
					.n-pic
						p.n-promo-name= eightList.promoName
						img(src= eightList.imgSrc alt= eightList.name )
					.n-desc
						p.n-sub-name= eightList.subName
						p.n-name= eightList.name