.n-topics__block.n-hover--img
	h2.n-topics__title.n-title--18
		i.n-up-down--title
		span 好康特報
	.n-topics__pic-with-six-item
		.n-topics__top
			ul.n-left
				- var twoItems = [{hotUrl: 'https://goo.gl/ATXrw3', name: '鍋寶304不銹鋼電鍋超值熱銷組', imgSrc: 'https://goo.gl/RLvNVt', price: '1,111,680'}, {hotUrl: 'https://goo.gl/iw4vYx', name: '[漁季]頂級挪威鯖魚限定組', imgSrc: 'https://goo.gl/lhucKm', price: '1,111,580'}]
				each twoItem in twoItems
					li
						a(href= twoItem.hotUrl title= twoItem.name target="_blank")
							.n-pic
								img(src= twoItem.imgSrc alt= twoItem.name)
							p.n-name= twoItem.name
							.n-price--16 $
								span= twoItem.price
			figure.n-left.n-topics__photo
				a(href="" title="居家用品好物推薦" target="_blank")
					.n-pic
						img(src="Resource/img201703/topic/topic-pic.png" alt="居家用品好物推薦")
		ul.n-topics__bottom.n-hover--img
			- var pordItems = [{hotUrl: 'https://goo.gl/ATXrw3', name: '鍋寶304不銹鋼電鍋超值熱銷組', imgSrc: 'https://goo.gl/RLvNVt', price: '1,111,680'}, {hotUrl: 'https://goo.gl/iw4vYx', name: '[漁季]頂級挪威鯖魚限定組', imgSrc: 'https://goo.gl/lhucKm', price: '1,111,580'}, {hotUrl: 'https://goo.gl/UyIC5s', name: 'Microban葉語傾城抗菌兩用被床罩組-雙', imgSrc: 'https://goo.gl/QVMjuc', price: '1,112,880'}, {hotUrl: 'https://goo.gl/U7t2El', name: '德國ALKMENE】極效修護凍齡回春250ml(買五送一熱銷組)', imgSrc: 'https://goo.gl/ZrlDwv', price: '1,111,980'}]
			each pordItem in pordItems
				li
					a(href= pordItem.hotUrl title= pordItem.name target="_blank")
						.n-pic
							img(src= pordItem.imgSrc alt= pordItem.name)
						p.n-name= pordItem.name
						.n-price--16 $
							span= pordItem.price 