.n-l-bgw-lg.n-reg__terms
    .n-title--13 得易Ponta聯名暨個資宣告條款
    .n-form--radio.n-label--inline
        input#pontapersonalagreeYes(type="radio", name="pontapersonalagree", value="Y", checked)
        label(for="pontapersonalagreeYes") 同意
    .n-form--radio.n-label--inline
        input#pontapersonalagreeNo(type="radio", name="pontapersonalagree", value="N")
        label(for="pontapersonalagreeNo") 不同意
    .n-l-bgw-md.n-l-bgw-border.n-reg__terms-box
        p 申請得易Ponta聯名卡視為同時申請成為森森百貨股份有限公司及東森得易購股份有限公司之會員（網站消費購物仍須先上網註冊完成，完整會員條款請詳閱森森百貨www.u-mall.com.tw及東森得易購www.etmall.com.tw網站所載。
        p 聯名機構（森森百貨股份有限公司及東森得易購股份有限公司，下同）之個人資料使用同意條款：勾選同意者，即同意聯名機構於聯名卡契約有效期間內得分別或共同蒐集、處理、利用申請人於本申請書所提供之個人資料、於聯名機構之消費交易記錄及累兌點資料，作為聯名卡提供優惠、服務或行銷等之用。如未勾選同意，將無法核發聯名卡。申請人如日後表示不同意，視為申請停用該聯名卡。
        p 東森購物將本人之個人資料(姓名、行動電話、出生年月日、電子郵件、性別、身分證號、住址等) 、於聯名機構之消費交易記錄及累兌點資料提供予東森整合行銷股份有限公司及森森百貨股份有限公司，作為聯名卡之申辦、提供優惠、服務或行銷等使用。
        p 聯名機構（森森百貨股份有限公司及東森得易購股份有限公司，下同）之重要會員條款摘露如下，完整會員條款請詳閱森森百貨及東森得易購網站所載：
        ol.n-list--decimal
            li 依個人資料保護法宣告如下：
                ul
                    li 資料之蒐集：聯名機構依照您主動提供，或經合法或經您同意由第三人提供有關您之個人資料。
                    li 蒐集之目的：基於商品配送、消費者客戶管理與服務（包括但不限於會員相關權益通知、服務滿意度調查、為提供更適合會員之商品或優惠所作之統計分析等）、行銷資料、其他合於營業登記項目或章程所定之業務。
                    li 蒐集之個人資料類別：C○○一 識別個人者：如姓名、住居所、聯絡電話、電子郵件或其他可辨識資料本人者等。
                    li C○○二 識別財務者：如銀行帳戶之號碼與姓名、信用卡或簽帳卡之號碼等。
                    li C○○三 政府資料中之辨識者：如身分證統一編號、護照號碼等。
                    li C○一一 個人描述：如年齡、性別、出生年月日、國籍等。
                    li C○九三 財務資料：如支付方式、往來記錄等。
                    li C一○二 契約或約定：如關於交易、法律或契約等。
                    li C○五一 學校紀錄：如學歷。
                    li C○二一 家庭情形：如婚姻有無、子女人數等。
                    li 個人資料利用之期間、地區、對象及方式：聯名機構於本國為提供會員服務（包括但不限於交易之查詢、退換貨及售後服務等）將於營運期間蒐集使用會員個人資料，且為基於服務目的，聯名機構會委任處理營運相關事務之必要第三人（如：合作廠商、物流廠商）或由聯名機構之關係企業基於寄發行銷優惠訊息者，均將使用您的個人資料；惟當會員要求刪除個人資料時，聯名機構將先凍結該會員資料與其歷史訂單記錄，並禁止員工對該會員資料進行因行銷目的之蒐集、處理、利用，並於法令規定之保存期間屆滿後進行刪除。
            li 聯名機構得不定期：
                ul
                    li 寄發電子報、型錄、發送簡訊、郵件等相關商品或服務之資訊（日後如不願接受，請撥打客戶專線0800-609-609通知森森百貨、0800-057-999通知東森購物）。聯名機構之關係企業得寄送相關行銷優惠訊息。