.n-produt__tool
	ul.n-left.n-produt__tool-sort
		li.current
			a(href="" title="高相關") 高相關
		li
			a(href="" title="最熱銷") 最熱銷
		li
			a(href="" title="價格低到高") 價格低到高
				i.n-icon--arrow-up
		li
			a(href="" title="價格高到低") 價格高到低
			i.n-icon--arrow-down
	.n-left.n-produt__tool-range
		input.n-form--control(type="text", placeholder="依價格最低")
		|  - 
		input.n-form--control(type="text", placeholder="依價格最高")
		button.n-btn.n-btn--normal(type="submit") 搜尋
	a.n-right.n-operating#searchDispalyMode(href="#", title="棋盤式")
		i.n-icon--list
	ul.n-right.n-produt__tool-filter
		li
			input#filter1(type="radio", name="searchFilter")
			label.n-form--label(for="filter1") 全部
		li
			input#filter2(type="radio", name="searchFilter")
			label.n-form--label(for="filter2") 24小時到貨
		li
			input#filter3(type="radio", name="searchFilter")
			label.n-form--label(for="filter3") 超商取貨 