// ==========================================================================
// variables 
// ==========================================================================

// Primary series
// ==========================================================================
$pr-dp-dark: #370801;
$pr-darkest: #5A0B00;
$pr-darker: #821000;
$pr-dark: #A91300;
$pr-medium: #cc1e05;
$pr-light: #FE2A00;
$pr-lighter: #FF4E30;
$pr-lightest: #FF836F;
$pr-dp-light: #FFA497;

// secondary series
// ==========================================================================
$se-dp-dark: #500120;
$se-darkest: #6D082D;
$se-darker: #950F3E;
$se-dark: #BD164F;
$se-medium: #e00061;
$se-light: #FF296C;
$se-lighter: #FF6291;
$se-lightest: #FFB7D8;
$se-dp-light: #FFF3F3;

// third series
// ==========================================================================
$th-dp-dark: #001B37;
$th-darkest: #002F5E;
$th-darker: #004D9B;
$th-dark: #0065bf;
$th-medium: #0075E8;
$th-light: #1893FF;
$th-lighter: #6EBAFF;
$th-lightest: #BEE0FF;
$th-dp-light: #E5F2FF;

// fourth series
// ==========================================================================
$fo-dp-dark: #001922;
$fo-darkest: #00374A;
$fo-darker: #00709A;
$fo-dark: #009CD6;
$fo-medium: #00AAE9;
$fo-light: #00BAFA;
$fo-lighter: #00C5FF;
$fo-lightest: #7DDFFF;
$fo-dp-light: #D1F4FF;

// yellow series
// ==========================================================================
$ye-dp-dark: #373400;
$ye-darkest: #4B4600;
$ye-darker: #867B00;
$ye-dark: #C1B200;
$ye-medium: #FFED00;
$ye-light: #FEF567;
$ye-lighter: #FEF894;
$ye-lightest: #FFFBBE;
$ye-dp-light: #FFFDE8;

//Gray color setting
// ========================================================================== */

// Gray series
// ==========================================================================
$gr-dp-dark: #000000;
$gr-darkest: #323232;
$gr-darker: #525252;
$gr-dark: #5D5D5D;
$gr-medium: #999999;
$gr-light: #BDBDBD;
$gr-lighter: #DDDDDD;
$gr-lightest: #E1E1E1;
$gr-dp-light: #EDEDED;

// Gray2 series
// ==========================================================================
$gr2-light: #F3F3F3;
$gr2-lighter: #F7F7F7;
$gr2-lightest: #F9F9F9;
$gr2-dp-light: #FFFFFF;

// Font family setting
// ========================================================================== */
$font-family-ch: 'LiHei Pro',"Microsoft JhengHei","PMingLiU","微軟正黑體","新細明體";
$font-family-en: Arial, Helvetica, sans-serif, "Lucida Sans Unicode";

// Font siez setting
// ========================================================================== */
$fz-36: 36;
$fz-32: 32;
$fz-26: 26;
$fz-24: 24;
$fz-22: 22;
$fz-18: 18;
$fz-16: 16;
$fz-15: 15;
$fz-13: 13;
$fz-12: 12;

// Width values
// ========================================================================== */
$pad: 1024px;