.n-l-colmb20.n-l-bgw-md.n-checkout__wrap
	.n-l-colmb20.n-prod__name
		h3.n-title--18 PS4 菲莉絲的鍊金工房~不可思議之旅的鍊金術士-中文水晶珍藏盒版
		p 台灣設計品牌／人氣推薦／必入手單品
	.n-left.col-6.n-checkout__left
		ul.n-pay-method
			li 付款方式：信用卡 / ATM / 超取/禮物卡/霸王金
			li 
				.n-left 分期方式：
				ul.n-left.n-installment__list
					li 12 期0利率
					li 每期 <span class="n-pr--medium"> 4,975 </span> 元 ( 永豐等銀行 )
					li 
						a(href="", title="更多分期")
							i.n-icon--inverted-triangle
							| 更多分期
			li 點數查詢：最高累積點數 <span class="n-pr--medium"> 7,800 </span> 點
		.n-prod__pop.n-installment.n-is--hide
			.n-installment__head
				.n-left.n-title--13 更多分期方式
				.n-right 
					a(class="n-right" href="#" title="關閉")
						i.n-icon--close
			table.table
				tr
					td <span class="n-pr--medium"> 3 </span>期 0 利率
					td 每期 <span class="n-pr--medium">400,975</span> 元
					td <a class="n-blue--link" href="#" title="接受永豐等30家銀行">接受永豐等30家銀行</a>
				tr
					td <span class="n-pr--medium"> 6 </span>期 0 利率
					td 每期 <span class="n-pr--medium">400,975</span> 元
					td <a class="n-blue--link" href="#" title="接受永豐等30家銀行">接受永豐等30家銀行</a>
				tr
					td <span class="n-pr--medium"> 9 </span>期 0 利率
					td 每期 <span class="n-pr--medium">400,975</span> 元
					td <a class="n-blue--link" href="#" title="接受永豐等30家銀行">接受永豐等30家銀行</a>
				tr
					td(colspan="3")
						ul
							li 除不盡餘數，將於第一期收取。
							li 接受 <img src="Resource/img201703/prod/bank_visa.png" alt="VISA" /><img src="Resource/img201703/prod/bank_mastercard.png" alt="MasterCard" /><img src="Resource/img201703/prod/bank_jcb.png" alt="JCB" /><img src="Resource/img201703/prod/bank_unionPay.png" alt="UnionPay" /><img src="Resource/img201703/prod/bank_ae.png" alt="AE" /> 信用卡。
			ul.n-prod__pop.n-prod__bank.n-is--hide
				each bankList in [ '中國信託', '合作金庫', '永豐銀行', '永旺信用卡', '台新銀行','陽信商銀', ' 花旗銀行', '凱基銀行', '聯邦銀行', '大眾銀行','澳盛銀行', '匯豐銀行', '國泰世華', '第一銀行', '台北富邦銀行','台灣企銀', '玉山銀行', '土地銀行', '兆豐銀行', '華南商行','日盛銀行', '安泰銀行', ' 遠東銀行', '三信商銀', '上海銀行','元大銀行', '渣打銀行', '華泰銀行', '新光銀行', '台中商銀' ]
					li(class="n-left")=bankList
		ul.n-prod__note
			li 此為預購商品，預定訂單成立後 14 日出貨
			li 訂購專線：本商品不支援客服與語音訂購
	.n-left.col-6.n-checkout__right
		.n-price__block
			.n-price__top
				.n-left
					span 原價：
					span $1,998,500  
					span 員工價：
					span $1,998,500
				.n-right
					a.n-prod__collect(href="", title="加入收藏")
						i.n-icon--collect
						span 加入收藏
			.n-price__bottom
				span.n-price__exlarge
					span.n-price__name 優惠價：
					span.n-price__sign $
					span.n-price__num 1,998,500
				a.n-blue--link(href="", title="") 優惠券小幫手
				.n-prod__pop.n-coupon.n-is--hide
					.n-coupon__head
						.n-left.n-title--13 適用此商品的折價券
						a(class="n-right" href="#" title="關閉")
							i.n-icon--close
					table.table
						tr
							th(colspan="3") 
								span(claee="n-title--13") 商品原價：$14,800
						tr
							td 折價券面額
							td 折價後金額
							td 省最大
						tr.n-pr--medium 
							td 85折
							td $13,006
							td -1184
						tr
							td(colspan="3") 
								ul
									li 使用折價券須用東森價計算。
									li 折價後金額僅供參考，是否適用以結帳頁面(購物車)為準。 
		ul.n-choose__wrap
			li.n-choose__radio
				ul
					li 配送：
					li.n-form--radio 
						input( type="radio" name="delivery" id="d1") 
						label( for="d1") 一般宅配
					li.n-form--radio 
						input( type="radio" name="delivery" id="d2") 
						label( for="d2") 海外配送
					li.n-form--radio 
						input( type="radio" name="delivery" id="d3") 
						label( for="d3") 快速到貨
					li.n-form--radio 
						input( type="radio" name="delivery" id="d4") 
						label( for="d4") 超商取貨
			li.n-choose__spec
				ul
					li
						label( for="s1") 顏色：
						select( id="s1" class="n-form--control" )
							option(value="1435_0") 黑色
							option(value="1503_0") 灰色
					li
						label( for="s2") 樣式：
						select( id="s2" class="n-form--control")
							option(value="1306_0") M
							option(value="1307_0") L
					li
						label( for="s3") 數量：
						select( id="s3" class="n-form--control")
							option(value="1") 1
			
			li.n-choose__btn
				.n-left
					button(type="button" class="n-btn n-btn--primary") 立即結帳
					button(type="button" class="n-btn n-btn--lv2") 
						i.n-icon--cart
						| 加入購物車
				ul.n-left.n-list--disc
					li
						a.n-blue--link(href="", title="任選兩件350 搶購") 任選兩件350 搶購
					li
						a.n-blue--link(href="", title="滿千現折＄100 ") 滿千現折＄100 