section.n-l-colmb20
	.n-title__wrap
		h2.n-title--18 超夯活動
	.n-l-bgw-md.n-prod__box.n-bn__canvas
		#bnPromo.n-bn__box
			a(href="#" title="超夯活動")
				img(src="http://img2.u-mall.com.tw/XML/AdvImage/2017/01/159_20170120151127_727/0125-2-151122618.jpg" alt="超夯活動")
			a(href="#" title="超夯活動")
				img(src="http://placehold.it/800x200/E8117F/ffffff" alt="超夯活動")
			a(href="#" title="超夯活動")
				img(src="http://img2.u-mall.com.tw/XML/AdvImage/2017/02/159_20170203141137_876/0206-4-141130141.jpg" alt="超夯活動")
			.n-bn__nav#bnPromoNav