section.n-l-colmb20
	.n-title__wrap
		h2.n-title--18 本商品詳細介紹
	.n-l-bgw-md.n-prod__box
		.n-prod__part
			.n-prod__part-box
				img(src="https://goo.gl/u1mJ0h", alt="商品詳細介紹")
				ol.n-list--decimal
					li 易於腐敗、保存期限較短或解約時即將逾期。
					li 依消費者要求所為之客製化給付。
					li 報紙、期刊或雜誌。
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 商品內容
			.n-prod__part-box
				p 主商品:DEEBOT DM8系 地面清潔機器人*1 <br />
					| 型號:DM81 <br />
					| 電源規格:100-240V AC 50/60Hz 40W <br />
					| 包裝尺寸:507*424*143mm <br />
					| 淨重:4.7Kg <br />
					| 毛重:6.7kg
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 商品配件
			.n-prod__part-box
				p 遙控器*1、邊刷*4、電池組*1、充電座*1、說明書*1、乾濕分離清潔布*2、自動加濕水盒*1、高效過濾棉及精細過濾棉*1，量杯*1、水盒專用清潔液*1
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 商品配件
			.n-prod__part-box
				p 遙控器*1、邊刷*4、電池組*1、充電座*1、說明書*1、乾濕分離清潔布*2、自動加濕水盒*1、高效過濾棉及精細過濾棉*1，量杯*1、水盒專用清潔液*1
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 體驗說明
			.n-prod__part-box
				p 主商品:DEEBOT DM8系 地面清潔機器人*1(不開放體驗)

		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 注意事項
			.n-prod__part-box
				p 若您購買之商品或服務為下列情形之一，恕無法提供退貨服務
				ul.n-list--disc
					li 有否含到府安裝: 否
					li 有否安裝費用:否
					li 送達地點有否限制: 依公司機制配送
					li 可否於假日配送：依公司機制配送
					li 可否配合送貨至21:00：依公司機制配送
					li 操作功能及面板是否為中文:否
					li 有否中文說明書及中文保證書:有 
					li 國產或進口來源說明: 中國
					li 洗滌方式： 依說明書
					li 保養方式：依說明書
					li 是否提供修改樣式、修改費用:否
					li 食用年齡：依說明書
					li 食用限制：依說明書
					li 素食者可否食用：依說明書
					li 孕婦、哺乳婦女可否食用：依說明書
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 退貨說明
			.n-prod__part-box
				p 若您購買之商品或服務為下列情形之一，恕無法提供退貨服務
				ol.n-list--decimal
					li 易於腐敗、保存期限較短或解約時即將逾期。
					li 依消費者要求所為之客製化給付。
					li 報紙、期刊或雜誌。
					li 經消費者拆封之影音商品或電腦軟體。
					li 非以有形媒介提供之數位內容或一經提供即為完成之線上服務，經消費者事先同意始提供。
					li 已拆封之個人衛生用品，依特通訊交易解除權合理例外情事適用準則辦理。
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 廢四機回收(電視機、洗衣機、電冰箱或冷、暖氣機)
			.n-prod__part-box
				ul.n-list--disc
					li 本店配合環保署廢四機回收服務，廢四機回收專線：0800-013-058。
					li 消費者若對於廢四機回收有任何疑問，可撥打「環保署資源回收專線0800-085-717」。
		.n-prod__part
			.n-prod__part-title
				h3.n-title--15 通路販售商資訊
			.n-prod__part-box
				p 醫療器材
				ul.n-list--disc
					li 許可執照字號：北府中藥販字第623104D375號
					li 藥商名稱：東森得易購股份有限公司
					li 藥商地址：新北市中和區景平路258號
					li 藥商諮詢專線：0800-013-058
				p 食品
				ul.n-list--disc
					li 公司名稱：東森得易購股份有限公司
					li 錄字號：F-122456427-00000-5