section.n-left.n-prod__right#prodTemp2
	.n-prod__name
		h1.n-title--18 PS4 菲莉絲的鍊金工房~不可思議之旅的鍊金術士-中文水晶珍藏盒版
		p.n-left 台灣設計品牌／人氣推薦／必入手單品
		.n-right.n-labels__wrap
			span.n-labels.n-bg--se-lighter 超取
			span.n-labels.n-bg--se-lighter 預購
	-var values = ['全天候保濕+緊緻◎蘊含硫辛酸因子 具抗氧化提升肌膚鎖水', '鎖定眼周肌膚進行修護◎保持肌膚彈力,緊緻肌膚', '鎖住眼周肌膚水分◎改善眼周黯沉,細紋紋']
	ul.n-list--disc.n-prod__intro
		each val in values
			li=val
	.n-price__block
		.n-price__top
			.n-left
				span 原價：
				span $1,998,500  
				span 員工價：
				span $1,998,500
			.n-right
				a.n-prod__collect(href="", title="加入收藏")
					i.n-icon--collect
					span 加入收藏
					
		.n-price__bottom
			span.n-price__exlarge
				span.n-price__name 優惠價：
				span.n-price__sign $
				span.n-price__num 1,998,500
			a.n-blue--link(href="", title="") 優惠券小幫手
			.n-prod__pop.n-coupon.n-is--hide
				.n-coupon__head
					.n-left.n-title--13 適用此商品的折價券
					a(class="n-right" href="#" title="關閉")
						i.n-icon--close
				table.table
					tr
						th(colspan="3") 
							span(claee="n-title--13") 商品原價：$14,800
					tr
						td 折價券面額
						td 折價後金額
						td 省最大
					tr.n-pr--medium 
						td 85折
						td $13,006
						td -1184
					tr
						td(colspan="3") 
							ul
								li 使用折價券須用東森價計算。
								li 折價後金額僅供參考，是否適用以結帳頁面(購物車)為準。 
	ul.n-choose__wrap
		li.n-choose__radio
			ul
				li 配送：
				li.n-form--radio 
					input( type="radio" name="delivery" id="d1") 
					label( for="d1") 一般宅配
				li.n-form--radio 
					input( type="radio" name="delivery" id="d2") 
					label( for="d2") 海外配送
				li.n-form--radio 
					input( type="radio" name="delivery" id="d3") 
					label( for="d3") 快速到貨
				li.n-form--radio 
					input( type="radio" name="delivery" id="d4") 
					label( for="d4") 超商取貨
		li.n-choose__spec.n-choose--kit
			.n-choose--caption.n-title--13 夏朵小香風精品羊毛軟呢褲
			ul
				li
					label( for="s1") 顏色：
					select( id="s1" class="n-form--control" )
						option(value="1435_0") 黑色
						option(value="1503_0") 灰色
				li
					label( for="s2") 樣式：
					select( id="s2" class="n-form--control")
						option(value="1306_0") M
						option(value="1307_0") L
				li
					label( for="s3") 數量：
					select( id="s3" class="n-form--control" )
						option(value="1") 1
			.n-choose--caption.n-title--13 夏朵小香風精品羊毛軟呢外套
			ul
				li
					
					label( for="s-1") 顏色：
					select( id="s-1" class="n-form--control" )
						option(value="1435_0") 黑色
						option(value="1503_0") 灰色
				li
					label( for="s-2") 樣式：
					select( id="s-2" class="n-form--control")
						option(value="1306_0") M
						option(value="1307_0") L
				li
					label( for="s-3") 數量：
					select( id="s-3" class="n-form--control" )
						option(value="1") 1
				
		li.n-choose__btn
			.n-left
				a(href="#", title="補貨中", class="n-btn n-btn--disabled") 補貨中
				button(type="button" class="n-btn n-btn--normal") 
					i.n-icon--mail
					| 貨到通知我
			ul.n-left.n-list--disc
				li
					a.n-blue--link(href="", title="任選兩件350 搶購") 任選兩件350 搶購
				li
					a.n-blue--link(href="", title="滿千現折＄100 ") 滿千現折＄100 
					
	.n-pay-method__wrap
		ul.n-pay-method
			li 付款方式：信用卡 / ATM / 超取/禮物卡/霸王金
			li 
				.n-left 分期方式：
				ul.n-left.n-installment__list
					li 12 期0利率
					li 每期 <span class="n-pr--medium"> 4,975 </span> 元 ( 永豐等銀行 )
					li 
						a(href="", title="更多分期")
							i.n-icon--inverted-triangle
							| 更多分期
			li 點數查詢：最高累積點數 <span class="n-pr--medium"> 7,800 </span> 點
		a.n-blue--link.n-sold__report(href="#", title="賣貴通報") 賣貴通報
		.n-prod__pop.n-installment.n-is--hide
			.n-installment__head
				.n-left.n-title--13 更多分期方式
				.n-right 
					a(class="n-right" href="#" title="關閉")
						i.n-icon--close
			table.table
				tr
					td <span class="n-pr--medium"> 3 </span>期 0 利率
					td 每期 <span class="n-pr--medium">400,975</span> 元
					td <a class="n-blue--link" href="#" title="接受永豐等30家銀行">接受永豐等30家銀行</a>
				tr
					td <span class="n-pr--medium"> 6 </span>期 0 利率
					td 每期 <span class="n-pr--medium">400,975</span> 元
					td <a class="n-blue--link" href="#" title="接受永豐等30家銀行">接受永豐等30家銀行</a>
				tr
					td <span class="n-pr--medium"> 9 </span>期 0 利率
					td 每期 <span class="n-pr--medium">400,975</span> 元
					td <a class="n-blue--link" href="#" title="接受永豐等30家銀行">接受永豐等30家銀行</a>
				tr
					td(colspan="3")
						ul
							li 除不盡餘數，將於第一期收取。
							li 接受 <img src="Resource/img201703/prod/bank_visa.png" alt="VISA" /><img src="Resource/img201703/prod/bank_mastercard.png" alt="MasterCard" /><img src="Resource/img201703/prod/bank_jcb.png" alt="JCB" /><img src="Resource/img201703/prod/bank_unionPay.png" alt="UnionPay" /><img src="Resource/img201703/prod/bank_ae.png" alt="AE" /> 信用卡。
			ul.n-prod__pop.n-prod__bank.n-is--hide
				each bankList in [ '中國信託', '合作金庫', '永豐銀行', '永旺信用卡', '台新銀行','陽信商銀', ' 花旗銀行', '凱基銀行', '聯邦銀行', '大眾銀行','澳盛銀行', '匯豐銀行', '國泰世華', '第一銀行', '台北富邦銀行','台灣企銀', '玉山銀行', '土地銀行', '兆豐銀行', '華南商行','日盛銀行', '安泰銀行', ' 遠東銀行', '三信商銀', '上海銀行','元大銀行', '渣打銀行', '華泰銀行', '新光銀行', '台中商銀' ]
					li(class="n-left")=bankList
		.n-prod__pop.n-prod__report.n-is--hide#saleReport
			.n-prod__report-head
				.n-title--15.n-left 賣貴通報 
				a(class="n-right" href="#" title="關閉")
					i.n-icon--close
			.n-prod__report-body
				p.n-l-colmb15
					| 請填寫下列資料通知我們哪個網站售價比東森購物網便宜喔！
				ul.n-form--stacked.n-prod__form-report
					li 
						.n-left
							label.n-title--13(for="selectName") 商店名稱
							select(class="n-form--control" id="selectName")
								each storeName, i in ['請選擇', 'Yahoo購物中心', 'PChome24h購物', 'MOMO購物網', 'GOHAPPY']
									option(value=i)=storeName 
							span (僅針對購物網站進行比價) 
						.n-left
							label.n-title--13(for="GdPrice") 價格
							input(class="n-form--control" id="GdPrice" type="text" placeholder="限填寫阿拉伯數字")
							span 元
					li 
						label.n-title--13(for="GdUrl") 商品網址
						input(class="n-form--control" id="GdUrl" type="text" placeholder="請填寫同上述購物網站的商品網址")
						.n-form--error 商品網址不符，請重新輸入							
					li 
						label.n-title--13(for="userMail") 請留下您的E-MAIL
						input(class="n-form--control" id="userMail" type="text")
				ol.n-list--decimal.n-prod__terms
					each reportTerms in ['請針對單品或相同組合進行比價；滿額活動折抵或因貨源等級差別之售價將不列入比價參考。', '非常感謝您使用通報功能，讓森森購物網有成長進步的空間。','我們將依您提供的通報內容進行評估並適時調整，評估結果將不會逐筆回覆敬請見諒。']
						li= reportTerms 
			.n-prod__report-foot
				ul
					li 
						.n-left
							label.n-title--13(for="vcode") 驗證碼
							input(class="n-form--control" id="vcode" type="text" placeholder="請輸入右方6位數字")
							.n-form--error 驗證碼無效，請重新輸入	
						.n-left
							img(src="Resource/img201703/VCode.jpg" alt="驗證碼")
						.n-left
							a(class="n-blue--link" href="#" id="changeCodeImg") 更新驗證碼
					li.n-align-c
						button(class="n-btn n-btn--primary" type="button") 確認送出
	.n-gifts__wrap.note--box-lv2
		p 贈品：※買就送澎湖單人三日遊(市值$3,099) <br />
			| 本活動贈送之旅遊兌換券預計於106/6/30起陸續寄出(寄送地址同手機商品寄送地址，恕無法更改)。 <br />
	ul.n-prod__note
		li 此為預購商品，預定訂單成立後 14 日出貨
		li 訂購專線：本商品不支援客服與語音訂購