// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$ehs-logo-name: 'ehs-logo';
$ehs-logo-x: 0px;
$ehs-logo-y: 0px;
$ehs-logo-offset-x: 0px;
$ehs-logo-offset-y: 0px;
$ehs-logo-width: 164px;
$ehs-logo-height: 102px;
$ehs-logo-total-width: 381px;
$ehs-logo-total-height: 315px;
$ehs-logo-image: '../../Resource/img201703/sprite.png?1505295898850';
$ehs-logo: (0px, 0px, 0px, 0px, 164px, 102px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'ehs-logo', );
$f-bsi-name: 'f-bsi';
$f-bsi-x: 328px;
$f-bsi-y: 0px;
$f-bsi-offset-x: -328px;
$f-bsi-offset-y: 0px;
$f-bsi-width: 53px;
$f-bsi-height: 76px;
$f-bsi-total-width: 381px;
$f-bsi-total-height: 315px;
$f-bsi-image: '../../Resource/img201703/sprite.png?1505295898850';
$f-bsi: (328px, 0px, -328px, 0px, 53px, 76px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'f-bsi', );
$f-hitrust-name: 'f-hitrust';
$f-hitrust-x: 78px;
$f-hitrust-y: 102px;
$f-hitrust-offset-x: -78px;
$f-hitrust-offset-y: -102px;
$f-hitrust-width: 94px;
$f-hitrust-height: 50px;
$f-hitrust-total-width: 381px;
$f-hitrust-total-height: 315px;
$f-hitrust-image: '../../Resource/img201703/sprite.png?1505295898850';
$f-hitrust: (78px, 102px, -78px, -102px, 94px, 50px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'f-hitrust', );
$f-logo-name: 'f-logo';
$f-logo-x: 0px;
$f-logo-y: 242px;
$f-logo-offset-x: 0px;
$f-logo-offset-y: -242px;
$f-logo-width: 56px;
$f-logo-height: 73px;
$f-logo-total-width: 381px;
$f-logo-total-height: 315px;
$f-logo-image: '../../Resource/img201703/sprite.png?1505295898850';
$f-logo: (0px, 242px, 0px, -242px, 56px, 73px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'f-logo', );
$f-mcafee-name: 'f-mcafee';
$f-mcafee-x: 172px;
$f-mcafee-y: 102px;
$f-mcafee-offset-x: -172px;
$f-mcafee-offset-y: -102px;
$f-mcafee-width: 80px;
$f-mcafee-height: 47px;
$f-mcafee-total-width: 381px;
$f-mcafee-total-height: 315px;
$f-mcafee-image: '../../Resource/img201703/sprite.png?1505295898850';
$f-mcafee: (172px, 102px, -172px, -102px, 80px, 47px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'f-mcafee', );
$f-pcidss-name: 'f-pcidss';
$f-pcidss-x: 72px;
$f-pcidss-y: 170px;
$f-pcidss-offset-x: -72px;
$f-pcidss-offset-y: -170px;
$f-pcidss-width: 74px;
$f-pcidss-height: 49px;
$f-pcidss-total-width: 381px;
$f-pcidss-total-height: 315px;
$f-pcidss-image: '../../Resource/img201703/sprite.png?1505295898850';
$f-pcidss: (72px, 170px, -72px, -170px, 74px, 49px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'f-pcidss', );
$green-point-name: 'green-point';
$green-point-x: 56px;
$green-point-y: 242px;
$green-point-offset-x: -56px;
$green-point-offset-y: -242px;
$green-point-width: 64px;
$green-point-height: 48px;
$green-point-total-width: 381px;
$green-point-total-height: 315px;
$green-point-image: '../../Resource/img201703/sprite.png?1505295898850';
$green-point: (56px, 242px, -56px, -242px, 64px, 48px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'green-point', );
$icon-arrow-down-name: 'icon--arrow-down';
$icon-arrow-down-x: 116px;
$icon-arrow-down-y: 219px;
$icon-arrow-down-offset-x: -116px;
$icon-arrow-down-offset-y: -219px;
$icon-arrow-down-width: 20px;
$icon-arrow-down-height: 20px;
$icon-arrow-down-total-width: 381px;
$icon-arrow-down-total-height: 315px;
$icon-arrow-down-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-down: (116px, 219px, -116px, -219px, 20px, 20px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--arrow-down', );
$icon-arrow-up-name: 'icon--arrow-up';
$icon-arrow-up-x: 136px;
$icon-arrow-up-y: 219px;
$icon-arrow-up-offset-x: -136px;
$icon-arrow-up-offset-y: -219px;
$icon-arrow-up-width: 20px;
$icon-arrow-up-height: 20px;
$icon-arrow-up-total-width: 381px;
$icon-arrow-up-total-height: 315px;
$icon-arrow-up-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-up: (136px, 219px, -136px, -219px, 20px, 20px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--arrow-up', );
$icon-cart-hover-name: 'icon--cart-hover';
$icon-cart-hover-x: 178px;
$icon-cart-hover-y: 152px;
$icon-cart-hover-offset-x: -178px;
$icon-cart-hover-offset-y: -152px;
$icon-cart-hover-width: 20px;
$icon-cart-hover-height: 18px;
$icon-cart-hover-total-width: 381px;
$icon-cart-hover-total-height: 315px;
$icon-cart-hover-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-cart-hover: (178px, 152px, -178px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--cart-hover', );
$icon-cart-white-name: 'icon--cart-white';
$icon-cart-white-x: 78px;
$icon-cart-white-y: 152px;
$icon-cart-white-offset-x: -78px;
$icon-cart-white-offset-y: -152px;
$icon-cart-white-width: 20px;
$icon-cart-white-height: 18px;
$icon-cart-white-total-width: 381px;
$icon-cart-white-total-height: 315px;
$icon-cart-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-cart-white: (78px, 152px, -78px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--cart-white', );
$icon-cart-name: 'icon--cart';
$icon-cart-x: 198px;
$icon-cart-y: 152px;
$icon-cart-offset-x: -198px;
$icon-cart-offset-y: -152px;
$icon-cart-width: 20px;
$icon-cart-height: 18px;
$icon-cart-total-width: 381px;
$icon-cart-total-height: 315px;
$icon-cart-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-cart: (198px, 152px, -198px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--cart', );
$icon-collect-active-name: 'icon--collect-active';
$icon-collect-active-x: 158px;
$icon-collect-active-y: 152px;
$icon-collect-active-offset-x: -158px;
$icon-collect-active-offset-y: -152px;
$icon-collect-active-width: 20px;
$icon-collect-active-height: 18px;
$icon-collect-active-total-width: 381px;
$icon-collect-active-total-height: 315px;
$icon-collect-active-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-collect-active: (158px, 152px, -158px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--collect-active', );
$icon-collect-red-name: 'icon--collect-red';
$icon-collect-red-x: 138px;
$icon-collect-red-y: 152px;
$icon-collect-red-offset-x: -138px;
$icon-collect-red-offset-y: -152px;
$icon-collect-red-width: 20px;
$icon-collect-red-height: 18px;
$icon-collect-red-total-width: 381px;
$icon-collect-red-total-height: 315px;
$icon-collect-red-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-collect-red: (138px, 152px, -138px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--collect-red', );
$icon-collect-name: 'icon--collect';
$icon-collect-x: 98px;
$icon-collect-y: 152px;
$icon-collect-offset-x: -98px;
$icon-collect-offset-y: -152px;
$icon-collect-width: 20px;
$icon-collect-height: 18px;
$icon-collect-total-width: 381px;
$icon-collect-total-height: 315px;
$icon-collect-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-collect: (98px, 152px, -98px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--collect', );
$icon-mail-name: 'icon--mail';
$icon-mail-x: 118px;
$icon-mail-y: 152px;
$icon-mail-offset-x: -118px;
$icon-mail-offset-y: -152px;
$icon-mail-width: 20px;
$icon-mail-height: 18px;
$icon-mail-total-width: 381px;
$icon-mail-total-height: 315px;
$icon-mail-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-mail: (118px, 152px, -118px, -152px, 20px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--mail', );
$icon-path-arrow-name: 'icon--path-arrow';
$icon-path-arrow-x: 266px;
$icon-path-arrow-y: 272px;
$icon-path-arrow-offset-x: -266px;
$icon-path-arrow-offset-y: -272px;
$icon-path-arrow-width: 14px;
$icon-path-arrow-height: 14px;
$icon-path-arrow-total-width: 381px;
$icon-path-arrow-total-height: 315px;
$icon-path-arrow-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-path-arrow: (266px, 272px, -266px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon--path-arrow', );
$icon-711-name: 'icon-711';
$icon-711-x: 272px;
$icon-711-y: 152px;
$icon-711-offset-x: -272px;
$icon-711-offset-y: -152px;
$icon-711-width: 18px;
$icon-711-height: 18px;
$icon-711-total-width: 381px;
$icon-711-total-height: 315px;
$icon-711-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-711: (272px, 152px, -272px, -152px, 18px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-711', );
$icon-camera-name: 'icon-camera';
$icon-camera-x: 251px;
$icon-camera-y: 219px;
$icon-camera-offset-x: -251px;
$icon-camera-offset-y: -219px;
$icon-camera-width: 16px;
$icon-camera-height: 16px;
$icon-camera-total-width: 381px;
$icon-camera-total-height: 315px;
$icon-camera-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-camera: (251px, 219px, -251px, -219px, 16px, 16px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-camera', );
$icon-china-name: 'icon-china';
$icon-china-x: 282px;
$icon-china-y: 102px;
$icon-china-offset-x: -282px;
$icon-china-offset-y: -102px;
$icon-china-width: 30px;
$icon-china-height: 30px;
$icon-china-total-width: 381px;
$icon-china-total-height: 315px;
$icon-china-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-china: (282px, 102px, -282px, -102px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-china', );
$icon-clock-name: 'icon-clock';
$icon-clock-x: 236px;
$icon-clock-y: 170px;
$icon-clock-offset-x: -236px;
$icon-clock-offset-y: -170px;
$icon-clock-width: 30px;
$icon-clock-height: 30px;
$icon-clock-total-width: 381px;
$icon-clock-total-height: 315px;
$icon-clock-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-clock: (236px, 170px, -236px, -170px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-clock', );
$icon-correct-name: 'icon-correct';
$icon-correct-x: 267px;
$icon-correct-y: 219px;
$icon-correct-offset-x: -267px;
$icon-correct-offset-y: -219px;
$icon-correct-width: 16px;
$icon-correct-height: 16px;
$icon-correct-total-width: 381px;
$icon-correct-total-height: 315px;
$icon-correct-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-correct: (267px, 219px, -267px, -219px, 16px, 16px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-correct', );
$icon-coupontag-name: 'icon-coupontag';
$icon-coupontag-x: 328px;
$icon-coupontag-y: 124px;
$icon-coupontag-offset-x: -328px;
$icon-coupontag-offset-y: -124px;
$icon-coupontag-width: 36px;
$icon-coupontag-height: 46px;
$icon-coupontag-total-width: 381px;
$icon-coupontag-total-height: 315px;
$icon-coupontag-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-coupontag: (328px, 124px, -328px, -124px, 36px, 46px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-coupontag', );
$icon-error-name: 'icon-error';
$icon-error-x: 218px;
$icon-error-y: 152px;
$icon-error-offset-x: -218px;
$icon-error-offset-y: -152px;
$icon-error-width: 18px;
$icon-error-height: 18px;
$icon-error-total-width: 381px;
$icon-error-total-height: 315px;
$icon-error-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-error: (218px, 152px, -218px, -152px, 18px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-error', );
$icon-family-name: 'icon-family';
$icon-family-x: 290px;
$icon-family-y: 152px;
$icon-family-offset-x: -290px;
$icon-family-offset-y: -152px;
$icon-family-width: 18px;
$icon-family-height: 18px;
$icon-family-total-width: 381px;
$icon-family-total-height: 315px;
$icon-family-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-family: (290px, 152px, -290px, -152px, 18px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-family', );
$icon-film-name: 'icon-film';
$icon-film-x: 120px;
$icon-film-y: 242px;
$icon-film-offset-x: -120px;
$icon-film-offset-y: -242px;
$icon-film-width: 30px;
$icon-film-height: 30px;
$icon-film-total-width: 381px;
$icon-film-total-height: 315px;
$icon-film-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-film: (120px, 242px, -120px, -242px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-film', );
$icon-financial-name: 'icon-financial';
$icon-financial-x: 150px;
$icon-financial-y: 242px;
$icon-financial-offset-x: -150px;
$icon-financial-offset-y: -242px;
$icon-financial-width: 30px;
$icon-financial-height: 30px;
$icon-financial-total-width: 381px;
$icon-financial-total-height: 315px;
$icon-financial-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-financial: (150px, 242px, -150px, -242px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-financial', );
$icon-fine-name: 'icon-fine';
$icon-fine-x: 180px;
$icon-fine-y: 242px;
$icon-fine-offset-x: -180px;
$icon-fine-offset-y: -242px;
$icon-fine-width: 30px;
$icon-fine-height: 30px;
$icon-fine-total-width: 381px;
$icon-fine-total-height: 315px;
$icon-fine-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-fine: (180px, 242px, -180px, -242px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-fine', );
$icon-game-name: 'icon-game';
$icon-game-x: 210px;
$icon-game-y: 242px;
$icon-game-offset-x: -210px;
$icon-game-offset-y: -242px;
$icon-game-width: 30px;
$icon-game-height: 30px;
$icon-game-total-width: 381px;
$icon-game-total-height: 315px;
$icon-game-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-game: (210px, 242px, -210px, -242px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-game', );
$icon-hot-name: 'icon-hot';
$icon-hot-x: 240px;
$icon-hot-y: 242px;
$icon-hot-offset-x: -240px;
$icon-hot-offset-y: -242px;
$icon-hot-width: 30px;
$icon-hot-height: 30px;
$icon-hot-total-width: 381px;
$icon-hot-total-height: 315px;
$icon-hot-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-hot: (240px, 242px, -240px, -242px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-hot', );
$icon-index-coupon-name: 'icon-index-coupon';
$icon-index-coupon-x: 0px;
$icon-index-coupon-y: 170px;
$icon-index-coupon-offset-x: 0px;
$icon-index-coupon-offset-y: -170px;
$icon-index-coupon-width: 72px;
$icon-index-coupon-height: 72px;
$icon-index-coupon-total-width: 381px;
$icon-index-coupon-total-height: 315px;
$icon-index-coupon-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-index-coupon: (0px, 170px, 0px, -170px, 72px, 72px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-index-coupon', );
$icon-inverted-triangle-name: 'icon-inverted-triangle';
$icon-inverted-triangle-x: 283px;
$icon-inverted-triangle-y: 219px;
$icon-inverted-triangle-offset-x: -283px;
$icon-inverted-triangle-offset-y: -219px;
$icon-inverted-triangle-width: 16px;
$icon-inverted-triangle-height: 16px;
$icon-inverted-triangle-total-width: 381px;
$icon-inverted-triangle-total-height: 315px;
$icon-inverted-triangle-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-inverted-triangle: (283px, 219px, -283px, -219px, 16px, 16px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-inverted-triangle', );
$icon-love-red-name: 'icon-love-red';
$icon-love-red-x: 270px;
$icon-love-red-y: 242px;
$icon-love-red-offset-x: -270px;
$icon-love-red-offset-y: -242px;
$icon-love-red-width: 24px;
$icon-love-red-height: 24px;
$icon-love-red-total-width: 381px;
$icon-love-red-total-height: 315px;
$icon-love-red-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-love-red: (270px, 242px, -270px, -242px, 24px, 24px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-love-red', );
$icon-love-white-name: 'icon-love-white';
$icon-love-white-x: 294px;
$icon-love-white-y: 242px;
$icon-love-white-offset-x: -294px;
$icon-love-white-offset-y: -242px;
$icon-love-white-width: 24px;
$icon-love-white-height: 24px;
$icon-love-white-total-width: 381px;
$icon-love-white-total-height: 315px;
$icon-love-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-love-white: (294px, 242px, -294px, -242px, 24px, 24px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-love-white', );
$icon-menu-arrow-name: 'icon-menu-arrow';
$icon-menu-arrow-x: 296px;
$icon-menu-arrow-y: 170px;
$icon-menu-arrow-offset-x: -296px;
$icon-menu-arrow-offset-y: -170px;
$icon-menu-arrow-width: 30px;
$icon-menu-arrow-height: 30px;
$icon-menu-arrow-total-width: 381px;
$icon-menu-arrow-total-height: 315px;
$icon-menu-arrow-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-menu-arrow: (296px, 170px, -296px, -170px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-menu-arrow', );
$icon-movie-name: 'icon-movie';
$icon-movie-x: 266px;
$icon-movie-y: 170px;
$icon-movie-offset-x: -266px;
$icon-movie-offset-y: -170px;
$icon-movie-width: 30px;
$icon-movie-height: 30px;
$icon-movie-total-width: 381px;
$icon-movie-total-height: 315px;
$icon-movie-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-movie: (266px, 170px, -266px, -170px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-movie', );
$icon-path-arrow-down-name: 'icon-path-arrow-down';
$icon-path-arrow-down-x: 366px;
$icon-path-arrow-down-y: 222px;
$icon-path-arrow-down-offset-x: -366px;
$icon-path-arrow-down-offset-y: -222px;
$icon-path-arrow-down-width: 14px;
$icon-path-arrow-down-height: 14px;
$icon-path-arrow-down-total-width: 381px;
$icon-path-arrow-down-total-height: 315px;
$icon-path-arrow-down-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-path-arrow-down: (366px, 222px, -366px, -222px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-path-arrow-down', );
$icon-satr-name: 'icon-satr';
$icon-satr-x: 254px;
$icon-satr-y: 152px;
$icon-satr-offset-x: -254px;
$icon-satr-offset-y: -152px;
$icon-satr-width: 18px;
$icon-satr-height: 18px;
$icon-satr-total-width: 381px;
$icon-satr-total-height: 315px;
$icon-satr-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-satr: (254px, 152px, -254px, -152px, 18px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-satr', );
$icon-sm-f-name: 'icon-sm-f';
$icon-sm-f-x: 72px;
$icon-sm-f-y: 219px;
$icon-sm-f-offset-x: -72px;
$icon-sm-f-offset-y: -219px;
$icon-sm-f-width: 22px;
$icon-sm-f-height: 22px;
$icon-sm-f-total-width: 381px;
$icon-sm-f-total-height: 315px;
$icon-sm-f-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-sm-f: (72px, 219px, -72px, -219px, 22px, 22px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-sm-f', );
$icon-sm-g-name: 'icon-sm-g';
$icon-sm-g-x: 358px;
$icon-sm-g-y: 246px;
$icon-sm-g-offset-x: -358px;
$icon-sm-g-offset-y: -246px;
$icon-sm-g-width: 22px;
$icon-sm-g-height: 22px;
$icon-sm-g-total-width: 381px;
$icon-sm-g-total-height: 315px;
$icon-sm-g-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-sm-g: (358px, 246px, -358px, -246px, 22px, 22px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-sm-g', );
$icon-sm-l-name: 'icon-sm-l';
$icon-sm-l-x: 94px;
$icon-sm-l-y: 219px;
$icon-sm-l-offset-x: -94px;
$icon-sm-l-offset-y: -219px;
$icon-sm-l-width: 22px;
$icon-sm-l-height: 22px;
$icon-sm-l-total-width: 381px;
$icon-sm-l-total-height: 315px;
$icon-sm-l-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-sm-l: (94px, 219px, -94px, -219px, 22px, 22px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-sm-l', );
$icon-sm-s-name: 'icon-sm-s';
$icon-sm-s-x: 358px;
$icon-sm-s-y: 276px;
$icon-sm-s-offset-x: -358px;
$icon-sm-s-offset-y: -276px;
$icon-sm-s-width: 22px;
$icon-sm-s-height: 22px;
$icon-sm-s-total-width: 381px;
$icon-sm-s-total-height: 315px;
$icon-sm-s-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-sm-s: (358px, 276px, -358px, -276px, 22px, 22px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-sm-s', );
$icon-smart-name: 'icon-smart';
$icon-smart-x: 252px;
$icon-smart-y: 102px;
$icon-smart-offset-x: -252px;
$icon-smart-offset-y: -102px;
$icon-smart-width: 30px;
$icon-smart-height: 30px;
$icon-smart-total-width: 381px;
$icon-smart-total-height: 315px;
$icon-smart-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-smart: (252px, 102px, -252px, -102px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-smart', );
$icon-star-gray-name: 'icon-star-gray';
$icon-star-gray-x: 80px;
$icon-star-gray-y: 290px;
$icon-star-gray-offset-x: -80px;
$icon-star-gray-offset-y: -290px;
$icon-star-gray-width: 24px;
$icon-star-gray-height: 24px;
$icon-star-gray-total-width: 381px;
$icon-star-gray-total-height: 315px;
$icon-star-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-star-gray: (80px, 290px, -80px, -290px, 24px, 24px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-star-gray', );
$icon-star-yellow-name: 'icon-star-yellow';
$icon-star-yellow-x: 56px;
$icon-star-yellow-y: 290px;
$icon-star-yellow-offset-x: -56px;
$icon-star-yellow-offset-y: -290px;
$icon-star-yellow-width: 24px;
$icon-star-yellow-height: 24px;
$icon-star-yellow-total-width: 381px;
$icon-star-yellow-total-height: 315px;
$icon-star-yellow-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-star-yellow: (56px, 290px, -56px, -290px, 24px, 24px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-star-yellow', );
$icon-stop-selling-name: 'icon-stop-selling';
$icon-stop-selling-x: 0px;
$icon-stop-selling-y: 102px;
$icon-stop-selling-offset-x: 0px;
$icon-stop-selling-offset-y: -102px;
$icon-stop-selling-width: 78px;
$icon-stop-selling-height: 68px;
$icon-stop-selling-total-width: 381px;
$icon-stop-selling-total-height: 315px;
$icon-stop-selling-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-stop-selling: (0px, 102px, 0px, -102px, 78px, 68px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-stop-selling', );
$icon-thsrc-name: 'icon-thsrc';
$icon-thsrc-x: 328px;
$icon-thsrc-y: 276px;
$icon-thsrc-offset-x: -328px;
$icon-thsrc-offset-y: -276px;
$icon-thsrc-width: 30px;
$icon-thsrc-height: 30px;
$icon-thsrc-total-width: 381px;
$icon-thsrc-total-height: 315px;
$icon-thsrc-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-thsrc: (328px, 276px, -328px, -276px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-thsrc', );
$icon-ticket-name: 'icon-ticket';
$icon-ticket-x: 328px;
$icon-ticket-y: 246px;
$icon-ticket-offset-x: -328px;
$icon-ticket-offset-y: -246px;
$icon-ticket-width: 30px;
$icon-ticket-height: 30px;
$icon-ticket-total-width: 381px;
$icon-ticket-total-height: 315px;
$icon-ticket-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-ticket: (328px, 246px, -328px, -246px, 30px, 30px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon-ticket', );
$icon-arrow-back-name: 'icon_arrow_back';
$icon-arrow-back-x: 364px;
$icon-arrow-back-y: 158px;
$icon-arrow-back-offset-x: -364px;
$icon-arrow-back-offset-y: -158px;
$icon-arrow-back-width: 12px;
$icon-arrow-back-height: 11px;
$icon-arrow-back-total-width: 381px;
$icon-arrow-back-total-height: 315px;
$icon-arrow-back-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-back: (364px, 158px, -364px, -158px, 12px, 11px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_back', );
$icon-arrow-left01-name: 'icon_arrow_left01';
$icon-arrow-left01-x: 303px;
$icon-arrow-left01-y: 272px;
$icon-arrow-left01-offset-x: -303px;
$icon-arrow-left01-offset-y: -272px;
$icon-arrow-left01-width: 8px;
$icon-arrow-left01-height: 14px;
$icon-arrow-left01-total-width: 381px;
$icon-arrow-left01-total-height: 315px;
$icon-arrow-left01-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-left01: (303px, 272px, -303px, -272px, 8px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_left01', );
$icon-arrow-left02-name: 'icon_arrow_left02';
$icon-arrow-left02-x: 319px;
$icon-arrow-left02-y: 272px;
$icon-arrow-left02-offset-x: -319px;
$icon-arrow-left02-offset-y: -272px;
$icon-arrow-left02-width: 8px;
$icon-arrow-left02-height: 14px;
$icon-arrow-left02-total-width: 381px;
$icon-arrow-left02-total-height: 315px;
$icon-arrow-left02-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-left02: (319px, 272px, -319px, -272px, 8px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_left02', );
$icon-arrow-left03-name: 'icon_arrow_left03';
$icon-arrow-left03-x: 311px;
$icon-arrow-left03-y: 272px;
$icon-arrow-left03-offset-x: -311px;
$icon-arrow-left03-offset-y: -272px;
$icon-arrow-left03-width: 8px;
$icon-arrow-left03-height: 14px;
$icon-arrow-left03-total-width: 381px;
$icon-arrow-left03-total-height: 315px;
$icon-arrow-left03-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-left03: (311px, 272px, -311px, -272px, 8px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_left03', );
$icon-arrow-right01-name: 'icon_arrow_right01';
$icon-arrow-right01-x: 318px;
$icon-arrow-right01-y: 242px;
$icon-arrow-right01-offset-x: -318px;
$icon-arrow-right01-offset-y: -242px;
$icon-arrow-right01-width: 9px;
$icon-arrow-right01-height: 14px;
$icon-arrow-right01-total-width: 381px;
$icon-arrow-right01-total-height: 315px;
$icon-arrow-right01-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-right01: (318px, 242px, -318px, -242px, 9px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_right01', );
$icon-arrow-right02-name: 'icon_arrow_right02';
$icon-arrow-right02-x: 315px;
$icon-arrow-right02-y: 219px;
$icon-arrow-right02-offset-x: -315px;
$icon-arrow-right02-offset-y: -219px;
$icon-arrow-right02-width: 9px;
$icon-arrow-right02-height: 14px;
$icon-arrow-right02-total-width: 381px;
$icon-arrow-right02-total-height: 315px;
$icon-arrow-right02-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-right02: (315px, 219px, -315px, -219px, 9px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_right02', );
$icon-arrow-right03-name: 'icon_arrow_right03';
$icon-arrow-right03-x: 294px;
$icon-arrow-right03-y: 272px;
$icon-arrow-right03-offset-x: -294px;
$icon-arrow-right03-offset-y: -272px;
$icon-arrow-right03-width: 9px;
$icon-arrow-right03-height: 14px;
$icon-arrow-right03-total-width: 381px;
$icon-arrow-right03-total-height: 315px;
$icon-arrow-right03-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-arrow-right03: (294px, 272px, -294px, -272px, 9px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_arrow_right03', );
$icon-close-name: 'icon_close';
$icon-close-x: 252px;
$icon-close-y: 272px;
$icon-close-offset-x: -252px;
$icon-close-offset-y: -272px;
$icon-close-width: 14px;
$icon-close-height: 14px;
$icon-close-total-width: 381px;
$icon-close-total-height: 315px;
$icon-close-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-close: (252px, 272px, -252px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_close', );
$icon-del-gray-name: 'icon_del_gray';
$icon-del-gray-x: 130px;
$icon-del-gray-y: 290px;
$icon-del-gray-offset-x: -130px;
$icon-del-gray-offset-y: -290px;
$icon-del-gray-width: 13px;
$icon-del-gray-height: 15px;
$icon-del-gray-total-width: 381px;
$icon-del-gray-total-height: 315px;
$icon-del-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-del-gray: (130px, 290px, -130px, -290px, 13px, 15px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_del_gray', );
$icon-del-red-name: 'icon_del_red';
$icon-del-red-x: 117px;
$icon-del-red-y: 290px;
$icon-del-red-offset-x: -117px;
$icon-del-red-offset-y: -290px;
$icon-del-red-width: 13px;
$icon-del-red-height: 15px;
$icon-del-red-total-width: 381px;
$icon-del-red-total-height: 315px;
$icon-del-red-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-del-red: (117px, 290px, -117px, -290px, 13px, 15px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_del_red', );
$icon-del-write-name: 'icon_del_write';
$icon-del-write-x: 104px;
$icon-del-write-y: 290px;
$icon-del-write-offset-x: -104px;
$icon-del-write-offset-y: -290px;
$icon-del-write-width: 13px;
$icon-del-write-height: 15px;
$icon-del-write-total-width: 381px;
$icon-del-write-total-height: 315px;
$icon-del-write-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-del-write: (104px, 290px, -104px, -290px, 13px, 15px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_del_write', );
$icon-double-arrow-left01-name: 'icon_double_arrow_left01';
$icon-double-arrow-left01-x: 224px;
$icon-double-arrow-left01-y: 272px;
$icon-double-arrow-left01-offset-x: -224px;
$icon-double-arrow-left01-offset-y: -272px;
$icon-double-arrow-left01-width: 14px;
$icon-double-arrow-left01-height: 14px;
$icon-double-arrow-left01-total-width: 381px;
$icon-double-arrow-left01-total-height: 315px;
$icon-double-arrow-left01-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-double-arrow-left01: (224px, 272px, -224px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_double_arrow_left01', );
$icon-double-arrow-left02-name: 'icon_double_arrow_left02';
$icon-double-arrow-left02-x: 366px;
$icon-double-arrow-left02-y: 208px;
$icon-double-arrow-left02-offset-x: -366px;
$icon-double-arrow-left02-offset-y: -208px;
$icon-double-arrow-left02-width: 14px;
$icon-double-arrow-left02-height: 14px;
$icon-double-arrow-left02-total-width: 381px;
$icon-double-arrow-left02-total-height: 315px;
$icon-double-arrow-left02-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-double-arrow-left02: (366px, 208px, -366px, -208px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_double_arrow_left02', );
$icon-double-arrow-left03-name: 'icon_double_arrow_left03';
$icon-double-arrow-left03-x: 196px;
$icon-double-arrow-left03-y: 272px;
$icon-double-arrow-left03-offset-x: -196px;
$icon-double-arrow-left03-offset-y: -272px;
$icon-double-arrow-left03-width: 14px;
$icon-double-arrow-left03-height: 14px;
$icon-double-arrow-left03-total-width: 381px;
$icon-double-arrow-left03-total-height: 315px;
$icon-double-arrow-left03-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-double-arrow-left03: (196px, 272px, -196px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_double_arrow_left03', );
$icon-double-arrow-right01-name: 'icon_double_arrow_right01';
$icon-double-arrow-right01-x: 182px;
$icon-double-arrow-right01-y: 272px;
$icon-double-arrow-right01-offset-x: -182px;
$icon-double-arrow-right01-offset-y: -272px;
$icon-double-arrow-right01-width: 14px;
$icon-double-arrow-right01-height: 14px;
$icon-double-arrow-right01-total-width: 381px;
$icon-double-arrow-right01-total-height: 315px;
$icon-double-arrow-right01-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-double-arrow-right01: (182px, 272px, -182px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_double_arrow_right01', );
$icon-double-arrow-right02-name: 'icon_double_arrow_right02';
$icon-double-arrow-right02-x: 168px;
$icon-double-arrow-right02-y: 272px;
$icon-double-arrow-right02-offset-x: -168px;
$icon-double-arrow-right02-offset-y: -272px;
$icon-double-arrow-right02-width: 14px;
$icon-double-arrow-right02-height: 14px;
$icon-double-arrow-right02-total-width: 381px;
$icon-double-arrow-right02-total-height: 315px;
$icon-double-arrow-right02-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-double-arrow-right02: (168px, 272px, -168px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_double_arrow_right02', );
$icon-double-arrow-right03-name: 'icon_double_arrow_right03';
$icon-double-arrow-right03-x: 210px;
$icon-double-arrow-right03-y: 272px;
$icon-double-arrow-right03-offset-x: -210px;
$icon-double-arrow-right03-offset-y: -272px;
$icon-double-arrow-right03-width: 14px;
$icon-double-arrow-right03-height: 14px;
$icon-double-arrow-right03-total-width: 381px;
$icon-double-arrow-right03-total-height: 315px;
$icon-double-arrow-right03-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-double-arrow-right03: (210px, 272px, -210px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_double_arrow_right03', );
$icon-edit-gray-name: 'icon_edit_gray';
$icon-edit-gray-x: 312px;
$icon-edit-gray-y: 119px;
$icon-edit-gray-offset-x: -312px;
$icon-edit-gray-offset-y: -119px;
$icon-edit-gray-width: 13px;
$icon-edit-gray-height: 13px;
$icon-edit-gray-total-width: 381px;
$icon-edit-gray-total-height: 315px;
$icon-edit-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-edit-gray: (312px, 119px, -312px, -119px, 13px, 13px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_edit_gray', );
$icon-edit-red-name: 'icon_edit_red';
$icon-edit-red-x: 308px;
$icon-edit-red-y: 132px;
$icon-edit-red-offset-x: -308px;
$icon-edit-red-offset-y: -132px;
$icon-edit-red-width: 13px;
$icon-edit-red-height: 13px;
$icon-edit-red-total-width: 381px;
$icon-edit-red-total-height: 315px;
$icon-edit-red-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-edit-red: (308px, 132px, -308px, -132px, 13px, 13px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_edit_red', );
$icon-favorite-gray-name: 'icon_favorite_gray';
$icon-favorite-gray-x: 120px;
$icon-favorite-gray-y: 272px;
$icon-favorite-gray-offset-x: -120px;
$icon-favorite-gray-offset-y: -272px;
$icon-favorite-gray-width: 16px;
$icon-favorite-gray-height: 14px;
$icon-favorite-gray-total-width: 381px;
$icon-favorite-gray-total-height: 315px;
$icon-favorite-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-favorite-gray: (120px, 272px, -120px, -272px, 16px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_favorite_gray', );
$icon-favorite-white-name: 'icon_favorite_white';
$icon-favorite-white-x: 299px;
$icon-favorite-white-y: 219px;
$icon-favorite-white-offset-x: -299px;
$icon-favorite-white-offset-y: -219px;
$icon-favorite-white-width: 16px;
$icon-favorite-white-height: 14px;
$icon-favorite-white-total-width: 381px;
$icon-favorite-white-total-height: 315px;
$icon-favorite-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-favorite-white: (299px, 219px, -299px, -219px, 16px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_favorite_white', );
$icon-help-gray-name: 'icon_help_gray';
$icon-help-gray-x: 252px;
$icon-help-gray-y: 132px;
$icon-help-gray-offset-x: -252px;
$icon-help-gray-offset-y: -132px;
$icon-help-gray-width: 16px;
$icon-help-gray-height: 17px;
$icon-help-gray-total-width: 381px;
$icon-help-gray-total-height: 315px;
$icon-help-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-help-gray: (252px, 132px, -252px, -132px, 16px, 17px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_help_gray', );
$icon-help-white-name: 'icon_help_white';
$icon-help-white-x: 364px;
$icon-help-white-y: 141px;
$icon-help-white-offset-x: -364px;
$icon-help-white-offset-y: -141px;
$icon-help-white-width: 16px;
$icon-help-white-height: 17px;
$icon-help-white-total-width: 381px;
$icon-help-white-total-height: 315px;
$icon-help-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-help-white: (364px, 141px, -364px, -141px, 16px, 17px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_help_white', );
$icon-info-gray-name: 'icon_info_gray';
$icon-info-gray-x: 364px;
$icon-info-gray-y: 124px;
$icon-info-gray-offset-x: -364px;
$icon-info-gray-offset-y: -124px;
$icon-info-gray-width: 16px;
$icon-info-gray-height: 17px;
$icon-info-gray-total-width: 381px;
$icon-info-gray-total-height: 315px;
$icon-info-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-info-gray: (364px, 124px, -364px, -124px, 16px, 17px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_info_gray', );
$icon-info-white-name: 'icon_info_white';
$icon-info-white-x: 312px;
$icon-info-white-y: 102px;
$icon-info-white-offset-x: -312px;
$icon-info-white-offset-y: -102px;
$icon-info-white-width: 16px;
$icon-info-white-height: 17px;
$icon-info-white-total-width: 381px;
$icon-info-white-total-height: 315px;
$icon-info-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-info-white: (312px, 102px, -312px, -102px, 16px, 17px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_info_white', );
$icon-list-gary-name: 'icon_list_gary';
$icon-list-gary-x: 152px;
$icon-list-gary-y: 272px;
$icon-list-gary-offset-x: -152px;
$icon-list-gary-offset-y: -272px;
$icon-list-gary-width: 16px;
$icon-list-gary-height: 14px;
$icon-list-gary-total-width: 381px;
$icon-list-gary-total-height: 315px;
$icon-list-gary-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-list-gary: (152px, 272px, -152px, -272px, 16px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_list_gary', );
$icon-list-red-name: 'icon_list_red';
$icon-list-red-x: 136px;
$icon-list-red-y: 272px;
$icon-list-red-offset-x: -136px;
$icon-list-red-offset-y: -272px;
$icon-list-red-width: 16px;
$icon-list-red-height: 14px;
$icon-list-red-total-width: 381px;
$icon-list-red-total-height: 315px;
$icon-list-red-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-list-red: (136px, 272px, -136px, -272px, 16px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_list_red', );
$icon-loudspeaker-name: 'icon_loudspeaker';
$icon-loudspeaker-x: 235px;
$icon-loudspeaker-y: 219px;
$icon-loudspeaker-offset-x: -235px;
$icon-loudspeaker-offset-y: -219px;
$icon-loudspeaker-width: 16px;
$icon-loudspeaker-height: 16px;
$icon-loudspeaker-total-width: 381px;
$icon-loudspeaker-total-height: 315px;
$icon-loudspeaker-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-loudspeaker: (235px, 219px, -235px, -219px, 16px, 16px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_loudspeaker', );
$icon-minus-name: 'icon_minus';
$icon-minus-x: 308px;
$icon-minus-y: 152px;
$icon-minus-offset-x: -308px;
$icon-minus-offset-y: -152px;
$icon-minus-width: 18px;
$icon-minus-height: 18px;
$icon-minus-total-width: 381px;
$icon-minus-total-height: 315px;
$icon-minus-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-minus: (308px, 152px, -308px, -152px, 18px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_minus', );
$icon-more-name: 'icon_more';
$icon-more-x: 366px;
$icon-more-y: 202px;
$icon-more-offset-x: -366px;
$icon-more-offset-y: -202px;
$icon-more-width: 12px;
$icon-more-height: 4px;
$icon-more-total-width: 381px;
$icon-more-total-height: 315px;
$icon-more-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-more: (366px, 202px, -366px, -202px, 12px, 4px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_more', );
$icon-offer-gray-name: 'icon_offer_gray';
$icon-offer-gray-x: 268px;
$icon-offer-gray-y: 132px;
$icon-offer-gray-offset-x: -268px;
$icon-offer-gray-offset-y: -132px;
$icon-offer-gray-width: 20px;
$icon-offer-gray-height: 13px;
$icon-offer-gray-total-width: 381px;
$icon-offer-gray-total-height: 315px;
$icon-offer-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-offer-gray: (268px, 132px, -268px, -132px, 20px, 13px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_offer_gray', );
$icon-offer-white-name: 'icon_offer_white';
$icon-offer-white-x: 288px;
$icon-offer-white-y: 132px;
$icon-offer-white-offset-x: -288px;
$icon-offer-white-offset-y: -132px;
$icon-offer-white-width: 20px;
$icon-offer-white-height: 13px;
$icon-offer-white-total-width: 381px;
$icon-offer-white-total-height: 315px;
$icon-offer-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-offer-white: (288px, 132px, -288px, -132px, 20px, 13px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_offer_white', );
$icon-open-name: 'icon_open';
$icon-open-x: 216px;
$icon-open-y: 219px;
$icon-open-offset-x: -216px;
$icon-open-offset-y: -219px;
$icon-open-width: 19px;
$icon-open-height: 19px;
$icon-open-total-width: 381px;
$icon-open-total-height: 315px;
$icon-open-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-open: (216px, 219px, -216px, -219px, 19px, 19px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_open', );
$icon-order-gray-name: 'icon_order_gray';
$icon-order-gray-x: 366px;
$icon-order-gray-y: 186px;
$icon-order-gray-offset-x: -366px;
$icon-order-gray-offset-y: -186px;
$icon-order-gray-width: 14px;
$icon-order-gray-height: 16px;
$icon-order-gray-total-width: 381px;
$icon-order-gray-total-height: 315px;
$icon-order-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-order-gray: (366px, 186px, -366px, -186px, 14px, 16px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_order_gray', );
$icon-order-white-name: 'icon_order_white';
$icon-order-white-x: 366px;
$icon-order-white-y: 170px;
$icon-order-white-offset-x: -366px;
$icon-order-white-offset-y: -170px;
$icon-order-white-width: 14px;
$icon-order-white-height: 16px;
$icon-order-white-total-width: 381px;
$icon-order-white-total-height: 315px;
$icon-order-white-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-order-white: (366px, 170px, -366px, -170px, 14px, 16px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_order_white', );
$icon-plus-name: 'icon_plus';
$icon-plus-x: 236px;
$icon-plus-y: 152px;
$icon-plus-offset-x: -236px;
$icon-plus-offset-y: -152px;
$icon-plus-width: 18px;
$icon-plus-height: 18px;
$icon-plus-total-width: 381px;
$icon-plus-total-height: 315px;
$icon-plus-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-plus: (236px, 152px, -236px, -152px, 18px, 18px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_plus', );
$icon-square-gray-name: 'icon_square_gray';
$icon-square-gray-x: 280px;
$icon-square-gray-y: 272px;
$icon-square-gray-offset-x: -280px;
$icon-square-gray-offset-y: -272px;
$icon-square-gray-width: 14px;
$icon-square-gray-height: 14px;
$icon-square-gray-total-width: 381px;
$icon-square-gray-total-height: 315px;
$icon-square-gray-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-square-gray: (280px, 272px, -280px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_square_gray', );
$icon-square-red-name: 'icon_square_red';
$icon-square-red-x: 238px;
$icon-square-red-y: 272px;
$icon-square-red-offset-x: -238px;
$icon-square-red-offset-y: -272px;
$icon-square-red-width: 14px;
$icon-square-red-height: 14px;
$icon-square-red-total-width: 381px;
$icon-square-red-total-height: 315px;
$icon-square-red-image: '../../Resource/img201703/sprite.png?1505295898850';
$icon-square-red: (238px, 272px, -238px, -272px, 14px, 14px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'icon_square_red', );
$logo-newyear-name: 'logo-newyear';
$logo-newyear-x: 164px;
$logo-newyear-y: 0px;
$logo-newyear-offset-x: -164px;
$logo-newyear-offset-y: 0px;
$logo-newyear-width: 164px;
$logo-newyear-height: 102px;
$logo-newyear-total-width: 381px;
$logo-newyear-total-height: 315px;
$logo-newyear-image: '../../Resource/img201703/sprite.png?1505295898850';
$logo-newyear: (164px, 0px, -164px, 0px, 164px, 102px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'logo-newyear', );
$n-icon-coupon-name: 'n-icon--coupon';
$n-icon-coupon-x: 196px;
$n-icon-coupon-y: 219px;
$n-icon-coupon-offset-x: -196px;
$n-icon-coupon-offset-y: -219px;
$n-icon-coupon-width: 20px;
$n-icon-coupon-height: 20px;
$n-icon-coupon-total-width: 381px;
$n-icon-coupon-total-height: 315px;
$n-icon-coupon-image: '../../Resource/img201703/sprite.png?1505295898850';
$n-icon-coupon: (196px, 219px, -196px, -219px, 20px, 20px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'n-icon--coupon', );
$n-icon-discount-name: 'n-icon--discount';
$n-icon-discount-x: 176px;
$n-icon-discount-y: 219px;
$n-icon-discount-offset-x: -176px;
$n-icon-discount-offset-y: -219px;
$n-icon-discount-width: 20px;
$n-icon-discount-height: 20px;
$n-icon-discount-total-width: 381px;
$n-icon-discount-total-height: 315px;
$n-icon-discount-image: '../../Resource/img201703/sprite.png?1505295898850';
$n-icon-discount: (176px, 219px, -176px, -219px, 20px, 20px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'n-icon--discount', );
$n-icon-ponta-name: 'n-icon--ponta';
$n-icon-ponta-x: 156px;
$n-icon-ponta-y: 219px;
$n-icon-ponta-offset-x: -156px;
$n-icon-ponta-offset-y: -219px;
$n-icon-ponta-width: 20px;
$n-icon-ponta-height: 20px;
$n-icon-ponta-total-width: 381px;
$n-icon-ponta-total-height: 315px;
$n-icon-ponta-image: '../../Resource/img201703/sprite.png?1505295898850';
$n-icon-ponta: (156px, 219px, -156px, -219px, 20px, 20px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'n-icon--ponta', );
$nav-caption-name: 'nav-caption';
$nav-caption-x: 146px;
$nav-caption-y: 170px;
$nav-caption-offset-x: -146px;
$nav-caption-offset-y: -170px;
$nav-caption-width: 90px;
$nav-caption-height: 40px;
$nav-caption-total-width: 381px;
$nav-caption-total-height: 315px;
$nav-caption-image: '../../Resource/img201703/sprite.png?1505295898850';
$nav-caption: (146px, 170px, -146px, -170px, 90px, 40px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'nav-caption', );
$sp-icon-clock-name: 'sp-icon--clock';
$sp-icon-clock-x: 328px;
$sp-icon-clock-y: 76px;
$sp-icon-clock-offset-x: -328px;
$sp-icon-clock-offset-y: -76px;
$sp-icon-clock-width: 48px;
$sp-icon-clock-height: 48px;
$sp-icon-clock-total-width: 381px;
$sp-icon-clock-total-height: 315px;
$sp-icon-clock-image: '../../Resource/img201703/sprite.png?1505295898850';
$sp-icon-clock: (328px, 76px, -328px, -76px, 48px, 48px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'sp-icon--clock', );
$sp-icon-dinner-name: 'sp-icon--dinner';
$sp-icon-dinner-x: 328px;
$sp-icon-dinner-y: 170px;
$sp-icon-dinner-offset-x: -328px;
$sp-icon-dinner-offset-y: -170px;
$sp-icon-dinner-width: 38px;
$sp-icon-dinner-height: 38px;
$sp-icon-dinner-total-width: 381px;
$sp-icon-dinner-total-height: 315px;
$sp-icon-dinner-image: '../../Resource/img201703/sprite.png?1505295898850';
$sp-icon-dinner: (328px, 170px, -328px, -170px, 38px, 38px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'sp-icon--dinner', );
$sp-icon-lunch-name: 'sp-icon--lunch';
$sp-icon-lunch-x: 328px;
$sp-icon-lunch-y: 208px;
$sp-icon-lunch-offset-x: -328px;
$sp-icon-lunch-offset-y: -208px;
$sp-icon-lunch-width: 38px;
$sp-icon-lunch-height: 38px;
$sp-icon-lunch-total-width: 381px;
$sp-icon-lunch-total-height: 315px;
$sp-icon-lunch-image: '../../Resource/img201703/sprite.png?1505295898850';
$sp-icon-lunch: (328px, 208px, -328px, -208px, 38px, 38px, 381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', 'sp-icon--lunch', );
$spritesheet-width: 381px;
$spritesheet-height: 315px;
$spritesheet-image: '../../Resource/img201703/sprite.png?1505295898850';
$spritesheet-sprites: ($ehs-logo, $f-bsi, $f-hitrust, $f-logo, $f-mcafee, $f-pcidss, $green-point, $icon-arrow-down, $icon-arrow-up, $icon-cart-hover, $icon-cart-white, $icon-cart, $icon-collect-active, $icon-collect-red, $icon-collect, $icon-mail, $icon-path-arrow, $icon-711, $icon-camera, $icon-china, $icon-clock, $icon-correct, $icon-coupontag, $icon-error, $icon-family, $icon-film, $icon-financial, $icon-fine, $icon-game, $icon-hot, $icon-index-coupon, $icon-inverted-triangle, $icon-love-red, $icon-love-white, $icon-menu-arrow, $icon-movie, $icon-path-arrow-down, $icon-satr, $icon-sm-f, $icon-sm-g, $icon-sm-l, $icon-sm-s, $icon-smart, $icon-star-gray, $icon-star-yellow, $icon-stop-selling, $icon-thsrc, $icon-ticket, $icon-arrow-back, $icon-arrow-left01, $icon-arrow-left02, $icon-arrow-left03, $icon-arrow-right01, $icon-arrow-right02, $icon-arrow-right03, $icon-close, $icon-del-gray, $icon-del-red, $icon-del-write, $icon-double-arrow-left01, $icon-double-arrow-left02, $icon-double-arrow-left03, $icon-double-arrow-right01, $icon-double-arrow-right02, $icon-double-arrow-right03, $icon-edit-gray, $icon-edit-red, $icon-favorite-gray, $icon-favorite-white, $icon-help-gray, $icon-help-white, $icon-info-gray, $icon-info-white, $icon-list-gary, $icon-list-red, $icon-loudspeaker, $icon-minus, $icon-more, $icon-offer-gray, $icon-offer-white, $icon-open, $icon-order-gray, $icon-order-white, $icon-plus, $icon-square-gray, $icon-square-red, $logo-newyear, $n-icon-coupon, $n-icon-discount, $n-icon-ponta, $nav-caption, $sp-icon-clock, $sp-icon-dinner, $sp-icon-lunch, );
$spritesheet: (381px, 315px, '../../Resource/img201703/sprite.png?1505295898850', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
