doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 我的購物車 -- 東森嚴選－ET Mall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-cart.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			form(action="cart-3.html")#cartStep2
				include include/cart/_cart-header
				.n-layout--lg.n-l-colmb30
					include include/cart/_cart-process-2
					.n-cart__body 
						//- include include/cart/_cart2-product-detail

						.n-l-colmb20.n-cart--prod-detail
							.n-title__wrap
								h2.n-title--18 一般宅配付款明細

							.n-d-table
								.n-d-table__wrap.table--gr2-dp-light.n-d-table--bordered.n-is--hide
									ul.n-d-table__head.table--caption
										li.title-1 商品名稱
										li.title-2 數量及規格
										li.title-3 價格
										li.title-4 會員獨享
										li.title-5 小計
									.n-d-table__body
										ul.n-d-table__body-row
											li.title-1
												.n-left.n-pic
													a(href="", target="_blank", title="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)")
														img(src="https://goo.gl/DlLkcg", alt="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)", width="120", height="120")
												.n-left.n-desc
													p 905707377
													p.n-name 夏朵小香風羊毛軟呢現省千元組(外套*1+褲子*1)
											li.title-2
												ul
													li
														span 顏色：
														span 銀色
													li
														span 樣式：
														span 1
													li
														span 數量：
														span 1
											li.title-3
												span.n-price--normal-16 
												span $ 
												span 1,113,000
											li.title-4
											li.title-5.n-text--right
												span.n-price--16 
													span $ 
													span 1,113,000
									-for(let i = 0; i < 2; i++)
										.n-d-table__body
											ul.n-d-table__body-row
												li.title-1
													.n-left.n-pic
														a(href="", target="_blank", title="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)")
															img(src="Resource/img201703/cart/5718879-1_XXL.jpg", alt="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)", width="120", height="120")
													.n-left.n-desc
														p 905796279
														p.n-name 【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)
												li.title-2
													ul
														li
															span 顏色：
															span 銀色
														li
															span 樣式：
															span 1
														li
															span 數量：
															span 1
												li.title-3
													span.n-price--normal-16 
													span $ 
													span 1,113,000
												li.title-4
												li.title-5.n-text--right
													span.n-price--16 
														span $ 
														span 1,113,000											
								.n-d-table__foot.n-d-table__foot-colspan.n-cart--detail-total
									a.n-left(href="#", title="展開購物明細")
										.n-icon--switch
											span
											span
										span 展開購物明細
									.n-right.n-price__total 購物車內合計有 
										span.n-pr--medium.n-font--bold 9
										|  項商品，商品總金額，使用折抵
										span.n-price--22 $
											span 20
										|  ， 應付金額 
										span.n-price--22 $
											span 5,934

	
						.n-l-colmb20.n-cart--payway
							.n-title__wrap
								h2.n-title--18 請選擇付款方式
							ul.n-tab.n-tab--lv2#payTab
								li.current
									a(href="#payItem1", title="信用卡") 信用卡
								li
									a(href="#payItem2", title="ATM/WebATM/中信網銀") ATM/WebATM/中信網銀
								li
									a(href="#payItem3", title="超商取貨付款") 超商取貨付款
								li
									a(href="#payItem4", title="貨到付款") 貨到付款
							.n-l-bgw-md.n-cart__second#payItem1
								.n-left.col-9.n-cart--left
									ul.n-form__ctrlgroup
										-var payWays = [ {payName: '一次付清', price: '3,566'}, {payName: '紅利折抵', price: '3,566'},{payName: '3期付款，每期', price: '3,566'},{payName: '6期付款，每期', price: '3,566'},{payName: '12期付款，每期', price: '3,566'}]
										each payWay, i in payWays
											li
												input(id="payWay" + (i + 1), type="radio", name="payWay")
												label(for="payWay" + (i + 1))= payWay.payName
												span.n-price--16 $
													span= payWay.price
									.n-cart--second-box
										p.n-l-colmb15 輸入 / 選擇 信用卡
										ul.n-l-colmb15.n-card__list
											li.n-has--data
												.n-card__head
													img.n-pic(src="Resource/img201703/cart/bank_logo@1x_ctbc.png", alt="玉山銀行")
													span 玉山銀行
													a.n-right.n-card__close(href="", title="關閉")
														i.n-icon--close
												.n-card__body
													span 1111
													span 2222
													span 4444
													span 5555
												.n-card__foot
													span.n-pr--medium 有效期期限已過 
													img.n-right(src="Resource/img201703/cart/visa.png", alt="visa")
											li.n-has--data.n-has--disable
												.n-card__head
													img.n-pic(src="Resource/img201703/cart/bank_logo@1x_ctbc.png", alt="玉山銀行")
													span 玉山銀行
													a.n-right.n-card__close(href="", title="關閉")
														i.n-icon--close
												.n-card__body
													span 1111
													span 2222
													span 4444
													span 5555
												.n-card__foot
													span.n-pr--medium 有效期期限已過 
													img.n-right(src="Resource/img201703/cart/visa.png", alt="visa")
											li
												a(href="#", title="新增信用卡")
													.n-icon--add-btn
														span
														span
										.n-card__added.n-is--hide
											.n-l-colmb15.n-form--inline.n-card__num
												.n-card__caption
													span.n-title--13 信用卡卡號
													span  -- 限台灣核發之信用卡
												each cardInput, cardIndex in ['欄位資訊錯誤', '欄位資訊錯誤', '欄位資訊錯誤', '欄位資訊錯誤']
													.n-form__box
														input.n-form--control(type="text", id="cardNumber" + (cardIndex + 1), maxlength="4")
														p.n-form--error= cardInput
											.n-l-colmb15.n-form--inline.n-card__date
												.n-title--13 有效期限
												.n-form__box
													<select name="" id="deadlineMobth" class="n-form--control">
														<option value="請選擇月份" selected="selected">請選擇月份</option>
														<option value="01">01</option>
														<option value="02">02</option>
														<option value="03">03</option>
														<option value="04">04</option>
														<option value="05">05</option>
														<option value="06">06</option>
														<option value="07">07</option>
														<option value="08">08</option>
														<option value="09">09</option>
														<option value="10">10</option>
														<option value="11">11</option>
														<option value="12">12</option>
													</select>
													<p class="n-form--error">欄位資訊錯誤</p>
												.n-form__box
													<select name="" id="deadlineYear" class="n-form--control">
														<option value="請選擇西元年" selected="selected">請選擇西元年</option>
														<option value="16">16</option>
														<option value="17">17</option>
														<option value="18">18</option>
														<option value="19">19</option>
														<option value="20">20</option>
														<option value="21">21</option>
														<option value="22">22</option>
														<option value="23">23</option>
														<option value="24">24</option>
														<option value="25">25</option>
														<option value="26">26</option>
														<option value="27">27</option>
														<option value="28">28</option>
														<option value="29">29</option>
													</select>
													<p class="n-form--error">欄位資訊錯誤</p>
											.n-l-colmb15.n-form__box.n-form--stacked.n-card--auth
												label.n-title--13(for="authCode") 驗證碼
												input.n-form--control(type="text", id="authCode", maxlength="3")
												p.n-form--error 欄位資訊錯誤
											.n-form__foot
												input.n-btn.n-btn--normal(type="reset", value="取消")
												input.n-btn.n-btn--primary(type="submit", value="確定")
								.n-left.col-3.n-cart--right
									a.n-pic(href="", title="信用卡持卡人", target="_blank")
										img(src="Resource/img201703/cart/bn-230x190.png", alt="信用卡持卡人")
									ul.n-desc__list
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 親愛的東森購物客戶為保護您的權益，【信用卡持卡人】需與【會員帳戶】相同。
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 美國運通卡請依序輸入卡號。
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 為確保網路交易安全，您同意本公司得就上述資料向發卡銀行及持卡人照會是否屬實。 提醒您，如有冒用他人信用卡或其他個人資料而為交易者,經查獲必移送法辦。
							.n-l-bgw-md.n-cart__second.n-is--hide#payItem2
								p 您已選擇ATM / WebATM / 中信網銀結帳，請點選『確認結帳』完成購買。
							.n-l-bgw-md.n-cart__second.n-is--hide#payItem3
								p 您已選擇超商取貨付款結帳，請點選『確認結帳』完成購買。
							.n-l-bgw-md.n-cart__second.n-is--hide#payItem4
								p 您已選擇貨到付款，請點選『確認結帳』完成購買。

						include include/cart/_cart2-payway-overseas

						//- include include/cart/_cart2-invoice
						.n-l-colmb20.n-cart--invoice
							.n-title__wrap
								h2.n-title--18 發票資訊
							.n-l-bgw-md.n-cart__second
								.n-left.col-9.n-cart--left
									ul.n-form__ctrlgroup
										li
											.n-form__box
												input#invoice1(type="radio", name="invoice")
												label(for="invoice1") 我要捐贈發票做公益
											.n-form__box.n-form--subbox.n-is--hide
												select.n-form--control
													option(value="") 東森慈善基金會
												p.fields--info 感謝您的愛心，捐贈提醒『發票一旦捐贈後無法再更改發票類型』，捐贈發票不影響商品售服權益。
										li
											.n-form__box
												input#invoice2(type="radio", name="invoice")
												label(for="invoice2") 開立二聯式電子發票
											.n-form__box.n-form--subbox.n-is--hide
												select.n-form--control
													option(value="") 手機條碼
											.n-form__box.n-form--subbox.n-is--hide
												input.n-form--control(type="text", placeholder="手機條碼")
												p.fields--info 請輸入大寫英數字，載具資料一旦確定無法修改。 <a class="n-blue--link" href="#" title="如何申請手機載具" target="_blank">如何申請手機載具</a>
												p.n-pr--medium 請注意：東森購物員工，選擇『東森價（員購回饋紅利金）』結帳，無法開立三聯式發票。
										li
											.n-form__box
												input#invoice3(type="radio", name="invoice")
												label(for="invoice3") 開三聯式紙本發票
											.n-form__box.n-l-colmb15.n-form--subbox.n-is--hide
												label.n-title--13(for="invoiceNum") 請輸入統一編號
												input.n-form--control#invoiceNum(type="text")
											<div class="n-form--subbox n-form--inline n-form--address n-is--hide">
												<div class="n-title--13">請輸入公司地址</div>
												<div class="n-form__box col-3">
													<select title="請選擇縣／市" id="orderCity" name="city" class="n-form--control">
														<option value="" selected="selected">請選擇縣／市</option>
													</select>
												</div>
												<div class="n-form__box col-3">
													<select title="請選擇鄉鎮市區" id="orderCanton" name="canton" class="n-form--control">
														<option value="" selected="selected">請選擇鄉鎮市區</option>
													</select>
												</div>
												<div class="n-form__box col-12">
													<input class="n-form--control" type="text" name="" id="orderAddress">
												</div>
												p.fields--info 請輸入完整公司名稱，以利發票開立。「錯誤」-東森得易購(股)公司   「正確」-東森得易購股份有限公司 <br /> 另提醒！若商品辦理退貨，需填寫發票銷貨折讓單並蓋公司大小章或統一發票章
												p.n-pr--medium 請注意：東森購物員工，選擇『東森價（員購回饋紅利金）』結帳，無法開立三聯式發票。
											</div>
									.n-form__box.n-cart--second-box.n-is--hide
										label.n-title--13(for="invoiceTitle") 收據抬頭  
										span -- 資料一經確認發送，無法異動
										input.n-form--control#invoiceTitle(type="text")
								.n-left.col-3.n-cart--right
									ul.n-desc__list
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 依政府憑證管理中心規定，本公司將於開立發票後24小時內上傳至整合服務平台「相關資訊」
						
						.n-l-colmb20.n-cart--invoice
							.n-title__wrap
								h2.n-title--18 代收轉付收據資訊
							.n-l-bgw-md.n-cart__second
								.n-left.col-9.n-cart--left
									ul.n-form__ctrlgroup
										li
											.n-form__box.n-l-colmb15
												label.n-title--13(for="insteadInvoiceNum") 請輸入統一編號
												input.n-form--control#insteadInvoiceNum(type="text")
										li 
											.n-form__box
												label.n-title--13(for="insteadTitle") 收據抬頭 
												input.n-form--control#insteadTitle(type="text")
										li 
											.n-form--inline.n-form--address
												<div class="n-title--13">請輸入公司地址</div>
												<div class="n-form__box col-3">
													<select title="請選擇縣／市" id="insteadCity" name="city" class="n-form--control n-form--edit">
														<option value="" selected="selected">新北市</option>
													</select>
												</div>
												<div class="n-form__box col-3">
													<select title="請選擇鄉鎮市區" id="insteadCanton" name="canton" class="n-form--control n-form--edit">
														<option value="" selected="selected">中和區</option>
													</select>
												</div>
												<div class="n-form__box col-12">
													<input class="n-form--control n-form--edit" type="text" name="" id="insteadAddress" value="景平路258號1樓 ">
												</div>

								.n-left.col-3.n-cart--right
									ul.n-desc__list
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 請注意：您購物車中有汽機車或代轉類(旅遊及機車保險)商品，所以無法選擇發票捐贈！
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 如有報帳需求請輸入統一編號以及收據抬頭
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 資料一經確認發送，即無法異動


						include include/cart/_cart2-order-field
						
						.n-l-colmb20.n-cart--order-info
							.n-title__wrap
								h2.n-title--18 訂購人資訊
							.n-l-bgw-md.n-cart__second
								ul
									li
										span 訂購人：
										span 周曉一
									li
										span 行動電話：
										span 0918***303 
									li 
										span 市內電話：
										span 02-327***11
									li 
										span 地址：
										span 新北市中和區景平路258號1樓

						.n-l-colmb20.n-cart--e-ticket
							.n-title__wrap
								h2.n-title--18 電子票券收件人資訊
							.n-l-bgw-md.n-cart__second
								.n-left.col-9.n-cart--left
									.n-form__box.n-form--stacked 
										label.n-title--13(for="receiveMail") 收件人電子信箱
										input.n-form--control#receiveMail(type="email")
										p.n-form--error 欄位資訊錯誤 ，請輸入正確資訊
								.n-left.col-3.n-cart--right
									ul.n-desc__list
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 電子票券以E-mail方式發送，請下載電子票券圖檔至店家出示QRCoode才可使用。詳細規定請參考 <a class="n-blue--link" href="#" title="使用說明" target="_blank">使用說明</a>

						
						//- include include/cart/_cart2-addressee
						.n-l-colmb20.n-cart--addressee-info
							.n-title__wrap
								h2.n-title--18 收件人資訊
							.n-l-bgw-md.n-cart__second
								.n-left.col-9.n-cart--left
									.n-form__box.n-l-colmb15
										input#sameOrderName(type="radio", name="sameOrderName")
										label(for="sameOrderName") 同訂購人資訊
									.n-l-colmb15
										a.n-btn.n-btn--primary(href="#", title="新增收件人資訊") 新增收件人資訊
										.n-add__wrap.n-cart--enter-field.n-is--hide
											.n-l-colmb15.n-form__box
												label.n-title--13(for="addReceiveName") 
													span.n-pr--medium  &#42;
													| 收件人
												input.n-form--control#addReceiveName(type="text")
												p.n-form--error 欄位資訊錯誤 ，請輸入正確資訊
											.n-l-colmb15.n-form__box
												label.n-title--13(for="mobilePhone") 
													span.n-pr--medium  &#42;
													| 行動電話
												input.n-form--control#mobilePhone(type="text")
												p.n-form--error 欄位資訊錯誤 ，請輸入正確資訊
											.n-l-colmb15.n-form--inline.n-form--phone
												.n-title--13(for="receivePhone") 市內電話
												.n-form__box
													input.n-form--control#receiveTel(type="text")
												.n-form__box
													input.n-form--control#receivePhone(type="text")
												p.n-form--error 欄位資訊錯誤 ，請輸入正確資訊
											<div class="n-l-colmb15 n-form--inline n-form--address">
												<div class="n-title--13"><span class="n-pr--medium">&#42;</span>地址</div>
												input#ZipNo(type="text", name="", hidden)
												<div class="n-form__box col-3">
													<select title="請選擇縣／市" id="city" name="city" class="n-form--control">
														<option value="" selected="selected">請選擇縣／市</option>
														<option value="TW_10_000_00,基隆市">基隆市</option>
														<option value="TW_11_000_00,台北市">台北市</option>
														<option value="TW_12_000_00,新北市">新北市</option>
													</select>
												</div>
												input#hiddenCity(type="text", name="", hidden)
												<div class="n-form__box col-3">
													<select title="請選擇鄉鎮市區" id="canton" name="canton" class="n-form--control">
														<option value="" selected="selected">請選擇鄉鎮市區</option>
														<option value="TW_12_207_00,萬里區 207">萬里區 207</option>
														<option value="TW_12_208_00,金山區 208">金山區 208</option>
														<option value="TW_12_220_00,板橋區 220">板橋區 220</option>
													</select>
												</div>
												input#hiddenRegion(type="text", name="", hidden)
												<div class="n-form__box col-10">
													<input class="n-form--control" type="text" name="" id="address">
												</div>
												p.n-form--error 欄位資訊錯誤 ，請輸入正確資訊
											</div>
											.n-form__foot
												input.n-btn.n-btn--normal(type="reset", value="取消")
												input.n-btn.n-btn--primary(type="submit", value="確定")

									.n-d-table.n-is--hide
										.n-d-table__wrap.n-d-table--bordered.n-l-colmb15
											ul.n-d-table__head.table--caption
												each thTitle, i in ['選擇收件人', '姓名','郵遞區號','地址','聯絡電話','行動電話','編輯']
													li(class="title-" + (i + 1))= thTitle	
									
								.n-left.col-3.n-cart--right
									ul.n-desc__list
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 已存在收件人資訊內之地址，如欲更改收件人姓名電話時，請點選該筆地址後方之「修改」進行異動
										li
											.n-left
												i.n-icon--error
											p.n-left.n-desc__txt 輸入地址時請勿使用 &#36; &#37; &#42; &#38; &#8230; 等特殊符號。
	
						include include/cart/_cart2-overseas

						include include/cart/_cart2-select-stores

						include include/cart/_cart2-deliver

						.n-cart__btn-box
							a.n-left(href="cart-1.html", title="回上頁")
								i.n-icon--back
								| 回上頁
							button.n-btn.n-btn--primary(type="submit") 確認付款
						

				include include/cart/_cart-footer
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/cart.js')
		script(src = 'Resource/js201703/prototyping.js')