doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 訂單退貨 -- 我的訂單 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_order-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="我的訂單">我的訂單</a>&gt;</li>
						<li class="current"><a href="#" title="訂單退貨">訂單退貨</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						<h2 class="n-title--18 n-mem--title">訂單退貨</h2>
						a.n-l-colmb20.n-mem__ad(href="", title="banner words")
							img(src="Resource/img201703/member/bn-1015x65.png", width="985", height="63" alt="banner words")
						.n-l-colmb20
							p.note--box-lv3
								span.n-pr--medium 使用說明 ：
								| 請詳細閱讀重要訊息，以確保您的權益
						.n-l-colmb20.n-mem-box
							<table class="table table--bordered n-order__table">
								<tr class="table--caption">
									<th colspan="5" class="n-order__head">
										<span>訂單日期：2015/06/04</span>
										<span>訂單編號：8888888888</span>
										<span>配送方式：快速到貨</span>
										<span>付款方式：已付款 / 未付款</span>
										<a href="m1-order.html" class="n-right" title="回我的訂單"><i class="n-icon--back"></i>回我的訂單</a>
									</th>
								</tr>
								<tr class="table--caption">
									<td class="col-1">圖片</td>
									<td class="col-3">商品名稱及規格</td>		
									<td class="col-1">數量</td>						
									<td class="col-2">優惠折抵金額</td>
									<td class="col-1">小計</td>
								</tr>
								<tr>
									<td><a href="https://goo.gl/SUhbN0" target="_blank"><img src="https://goo.gl/DlLkcg" width="100" height="100" alt="絲蛋白晶凍面膜 （500ml）-網"></a></td>
									<td>
										ul.n-order__spec
											li.n-title--13 夏朵小香風羊毛軟呢現省千元組(外套*1+褲子*1) 
											li 
												span 顏色： 
												span 黑色
											li
												span 樣式： 
												span 共同
										ul.n-order__spec
											li.n-title--13 夏朵小香風精品羊毛軟呢褲 
											li 
												span 顏色： 
												span 黑色
											li
												span 樣式： 
												span 共同
										ul.n-order__spec
											li.n-title--13 夏朵小香風精品羊毛軟呢外套(1入) 
											li 
												span 顏色： 
												span 黑色
											li
												span 樣式： 
												span 共同
									</td>	
									<td>1</td>	
									<td>
										ul
											li 得易Ponta點數： 99,000
											li 紅利金： 99,000
											li 禮券： 99,999
											li 提貨券： 99,999
									</td>
									<td>
										span.n-price--16 $
											span 1,111,780
									</td>
								</tr>
								<tr>
									<td><a href="https://goo.gl/SUhbN0" target="_blank"><img src="Resource/img201703/member/5718879-1_XXL.jpg" width="100" height="100" alt="絲蛋白晶凍面膜 （500ml）-網"></a></td>
									<td>
										ul.n-order__spec
											li.n-title--13 羅技 G300S玩家級光學滑鼠 
											li 
												span 顏色： 
												span 黑色
											li
												span 樣式： 
												span 共同
									</td>	
									<td>1</td>	
									<td>
										ul
											li 得易Ponta點數： 99,000
											li 紅利金： 99,000
											li 禮券： 99,999
											li 提貨券： 99,999
									</td>
									<td>
										span.n-price--16 $
											span 1,111,780
									</td>
								</tr>
								<tr>
									<td><a href="https://goo.gl/SUhbN0" target="_blank"><img src="Resource/img201703/member/5791390-1_XXL.jpg" width="100" height="100" alt="絲蛋白晶凍面膜 （500ml）-網"></a></td>
									<td>
										ul.n-order__spec
											li.n-title--13 羅技 G300S玩家級光學滑鼠 
											li 
												span 顏色： 
												span 黑色
											li
												span 樣式： 
												span 共同
									</td>	
									<td>1</td>	
									<td>
										ul
											li 得易Ponta點數： 99,000
											li 紅利金： 99,000
											li 禮券： 99,999
											li 提貨券： 99,999
									</td>
									<td>
										span.n-price--16 $
											span 1,111,780
									</td>
								</tr>
								<tr>
									<td><a href="https://goo.gl/SUhbN0" target="_blank"><img src="Resource/img201703/member/1502041_LM.jpg" width="100" height="100" alt="絲蛋白晶凍面膜 （500ml）-網"></a></td>
									<td>
										ul.n-order__spec
											li.n-title--13 羅技 G300S玩家級光學滑鼠 
											li 
												span 顏色： 
												span 黑色
											li
												span 樣式： 
												span 共同
											li 加價購
									</td>	
									<td>1</td>	
									<td>
										ul
											li 得易Ponta點數： 99,000
											li 紅利金： 99,000
											li 禮券： 99,999
											li 提貨券： 99,999
									</td>
									<td>
										span.n-price--16 $
											span 1,111,780
									</td>
								</tr>
								<tr>
									<td colspan="5">
										form(action="")
											ul.n-order__list#orderReturn
												li
													<div class="n-title--15">退貨原因</div>
													<ul id="reasonListNav" class="n-tab__sub-lv3 n-l-colmb15 n-order__select-reason">
														<li class="current"><a href="#reasonList1" title="商品原因">商品原因</a></li>
														<li><a href="#reasonList2" title="個人因素">個人因素</a></li>
													</ul>
													<div id="reasonList1">
														<ul class="n-order__check-box">
															<li>
																<label for="reason1" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason1">故障瑕疵
																</label>

															</li>
															<li>
																<label for="reason2" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason2">尺寸不滿意
																</label>

															</li>
															<li>
																<label for="reason3" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason3">保存期限異常
																</label>

															</li>
															<li>
																<label for="reason4" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason4">有副作用
																</label>

															</li>
															<li>
																<label for="reason5" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason5">無效果
																</label>

															</li>
															<li>
																<label for="reason6" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason6">家人反對訂購
																</label>

															</li>
															<li>
																<label for="reason7" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason7">無使用操作說明
																</label>

															</li>
															<li>
																<label for="reason8" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason8">功能不滿意
																</label>

															</li>
															<li>
																<label for="reason9" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason1" id="reason9">其他
																</label>

															</li>
															<li class="n-order__other-txt col-10 n-is--hide">
																<textarea class="n-form--control n-textarea--other" name="" id="" placeholder="請簡述原因（必填）"></textarea>
															</li>
														</ul>
													</div>
													<div id="reasonList2" class="n-is--hide">
														<ul class="n-order__check-box">
															<li>
																<label for="reason10" class="n-btn n-btn--normal current">
																	<input class="n-form--control" type="radio" name="reason2" id="reason10">故障瑕疵
																</label>

															</li>
															<li>
																<label for="reason11" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason11">尺寸不滿意
																</label>

															</li>
															<li>
																<label for="reason12" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason12">保存期限異常
																</label>

															</li>
															<li>
																<label for="reason13" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason13">有副作用
																</label>

															</li>
															<li>
																<label for="reason14" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason14">無效果
																</label>

															</li>
															<li>
																<label for="reason15" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason15">家人反對訂購
																</label>

															</li>
															<li>
																<label for="reason16" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason16">無使用操作說明
																</label>

															</li>
															<li>
																<label for="reason17" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason17">功能不滿意
																</label>

															</li>
															<li>
																<label for="reason18" class="n-btn n-btn--normal">
																	<input class="n-form--control" type="radio" name="reason2" id="reason18">其他
																</label>

															</li>
															<li class="n-order__other-txt col-10 n-is--hide">
																<textarea class="n-form--control n-textarea--other" name="" id="" placeholder="請簡述原因（必填）"></textarea>
															</li>
														</ul>
													</div>
												li.n-order__refund
													<div class="n-title--15">退款/發票資訊</div>
													<p>退款方式：以原信用卡刷退 ，退回您原使用之信用卡帳戶</p>
													<p>發票號碼：316767890</p>
													<label for="refund" class="n-form--refund n-form--control col-10">
														<input type="checkbox" name="refund" id="refund"> 
														span 我同意由東森購物代為處理此次消費退貨發票（折讓單）相關事宜。
													</label>
													<p class="note--txt-lv2">小叮嚀：</p>
													<ol class="n-list--decimal">
														<li>銀行處理時效需約5-7個工作天，由於每個人的信用卡結帳日不同，刷退款項可能列於您本月或次月的帳單中。</li>
														<li>提醒你，若您使用得易Ponta卡點數折抵訂單金額，本訂單使用之點數將於訂單退貨完成後全數返還。</li>
													</ol>
												li
													<div class="n-title--15">退貨收件人資訊</div>
													<div class="n-l-colmb15 n-order__check-box">
														<div class="n-title--13">是否已收到貨</div>
														<div class="n-form--radio n-label--inline">
															<label class="n-btn n-btn--normal" for="yes">
																<input class="n-form--control" type="radio" name="received1" id="yes" value="option1">是
															</label>
														</div>
														<div class="n-form--radio n-label--inline">
															<label class="n-btn n-btn--normal" for="not">
																<input class="n-form--control" type="radio" name="received1" id="not" value="option1">否
															</label>
														</div>
													</div>	
													<div class="n-l-colmb15 n-order__check-box">
														<div class="n-title--13">退貨收件人資訊</div>
														<div class="n-form--radio n-label--inline">
															<label class="n-btn n-btn--normal" for="same">
																<input class="n-form--control" type="radio" name="received2" id="same" value="option1">同原訂單收件
															</label>
														</div>
														<div class="form--radio n-label--inline">
															<label class="n-btn n-btn--normal" for="change">
																<input class="n-form--control" type="radio" name="received2" id="change" value="option1">更換取貨收件人
															</label>
														</div>
													</div>	
													<div class="n-order__return-info">
														<div class="n-l-colmb15 n-form__box col-10">
															<label class="n-title--13" for="addressee">收件人</label>
															<input class="n-form--control" type="text" name="" id="addressee">
															<p class="n-form--error">欄位資訊錯誤 ，請輸入正確資訊</p>
														</div>
														<div class="n-l-colmb15 n-form__box col-10">
															<label class="n-title--13" for="phone">行動電話</label>
															<input class="n-form--control" type="text" name="" id="phone">
															<p class="n-form--error">欄位資訊錯誤 ，請輸入正確資訊</p>
														</div>
														<div class="n-l-colmb15 n-form--inline n-form--phone">
															<div class="n-title--13">室內電話</div>
															<div class="n-form__box">
																<input class="n-form--control" type="text" name="" id="tel" placeholder="區碼" maxlength="4">
															</div>
															<div class="n-form__box">
																<input class="n-form--control" type="text" name="" id="phone" placeholder="請輸入完整電話號碼" maxlength="8">
															</div>
															<p class="n-form--error">欄位資訊錯誤 ，請輸入正確資訊</p>
														</div>	
														<div class="n-l-colmb15 n-form--inline n-form--address">
															<div class="n-title--13">地址</div>
															<div class="n-form__box col-3"> 
																<select title="請選擇地區" id="country" name="" class="n-form--control">
																	<option value="" selected="selected">請選擇地區</option>
																	<option value="Taiwan,臺灣地區">臺灣地區</option>
																	<option value="China,中國大陸地區" disabled="">中國大陸地區</option>
																	<option value="HK,港澳地區" disabled="">港澳地區</option>
																</select>
															</div>
															<div class="n-form__box col-3">
																<select title="請選擇縣／市" id="city" name="city" class="n-form--control">
																	<option value="" selected="selected">請選擇縣／市</option>
																</select>
															</div>
															<div class="n-form__box col-3">
																<select title="請選擇鄉鎮市區" id="canton" name="canton" class="n-form--control">
																	<option value="" selected="selected">請選擇鄉鎮市區</option>
																</select>
															</div>
															<div class="n-form__box col-10">
																<input class="n-form--control" type="text" name="" id="address" >
																<p class="n-form--error">欄位資訊錯誤 ，請輸入正確資訊</p>
															</div>
														</div>	
													</div>	
												li
													<div class="n-title--15">重要訊息</div>
													<ol class="n-order__terms n-list--decimal">
														<li>滿額滿件享優惠、特惠組及加購訂單恕不接受單品項退貨，且申請退貨將不再適用原有優惠活動。</li>
														<li>請將商品完整放入原外箱中退回，並保留外箱上的送貨單，以保障您的退貨權益。</li>
														<li>本服務只提供退貨申請，退貨申請單一經送出，系統即自動進入辦理退貨流程。</li>
														<li>我們將通知宅配公司取消配送訊息，如接獲宅配專員聯繫請直接拒收商品，若您已收到商品，請撥打24小時客服專線0800-013-058，將由專人為您服務，謝謝！</li>
														<li>請您將完整無損之包裝外箱、商品、附件、內包裝及所附之文件資料，連同配件贈品置入原送貨廠商使用之包裝紙箱中原封備妥，外盒勿損毀、勿缺件，若原包裝紙箱已遺失，請另外使用其他紙箱包覆於商品原廠包裝之外，勿於原廠包裝上書寫文字或黏貼退貨單。若原廠包裝損毀將無法為您辦理退貨或需跟您索賠損壞費用。</li>
														li 提醒你，若您使用得易Ponta卡點數折抵訂單金額，本訂單使用之點數將於訂單退貨完成後全數返還。
													</ol>
												li.n-order__confirm
													<input class="n-btn n-btn--primary" type="submit" value="我已閱讀重要訊息，確定訂單退貨">
									</td>
								</tr>
							</table>

			include include/global/_footer
			include include/global/_go-top

		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')