doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 電子票券 -- 我的優惠 -- 會員中心 --  -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_discount-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="我的優惠">我的優惠</a>&gt;</li>
						<li class="current"><a href="#" title="電子票券">電子票券</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_discount-page-nav
						<h2 class="n-title--18 n-mem--title">電子票券</h2>
						form#eTicket(action="")
							<div class="n-l-colmb20 n-ponta__box">
								<div class="n-title--13">以下是您近三個月的使用明細</div>
								<table class="table table--bordered">
									<tr class="table--caption">
										<th class="col-1">訂單編號</th>
										<th class="col-1">交易日期</th>
										<th class="col-1">優惠期間</th>
										<th class="col-1">票券序號</th>
										<th class="col-2">票券資訊</th>
										<th class="col-1">使用狀態</th>
									</tr>
									<tr>
										<td>
											<p>111222333</p>
										</td>
										<td>
											<p>2015/11/29 01:32</p>
										</td>
										<td>
											<p>2017/07/01 ~ 2017/07/31</p>
										</td>
										<td>
											<p><a class="n-blue--link" href="#" title="ABCDE123465">ABCDE123465</a></p>
										</td>
										<td>
											<p>喜來登Kitchen12十二廚1人平日自助晚餐券</p>
										</td>
										<td>
											<p>未使用</p>
										</td>
									</tr>
									<tr>
										<td>
											<p>111222333</p>
										</td>
										<td>
											<p>2015/11/29 01:32</p>
										</td>
										<td>
											<p>2017/07/01 ~ 2017/07/31</p>
										</td>
										<td>
											<p><a class="n-blue--link" href="#" title="ABCDE123465">ABCDE123465</a></p>
										</td>
										<td>
											<p>新竹【盛宴自助餐廳-喜來登大飯店】平日-自助午餐券</p>
										</td>
										<td>
											<p>已使用</p>
										</td>
									</tr>
									<tr>
										<td>
											<p>111222333</p>
										</td>
										<td>
											<p>2015/11/29 01:32</p>
										</td>
										<td>
											<p>2017/07/01 ~ 2017/07/31</p>
										</td>
										<td>
											<p><a class="n-blue--link" href="#" title="ABCDE123465">ABCDE123465</a></p>
										</td>
										<td>
											<p>台北【The Westin Taipei 威斯汀六福皇宮】VIP 滿額贈 $1,000折抵 1,200。(適用丹耶禮、祇園、留園、頤園、邱吉爾)</p>
										</td>
										<td>
											<p>已使用</p>
										</td>
									</tr>
								</table>
							</div>
						
			include include/global/_footer
			include include/global/_go-top

		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')