doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 瀏覽歷程 -- 我的蒐藏 -- 會員中心 --  -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_collet-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="我的蒐藏">我的蒐藏</a>&gt;</li>
						<li class="current"><a href="#" title="瀏覽歷程">瀏覽歷程</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap#historyList
						<h2 class="n-title--18 n-mem--title">瀏覽歷程</h2>
						.n-l-colmb20.note--box-lv3.n-hints__wrap
							p.n-pr--medium 使用說明
							<ol class="n-list--decimal">
								<li>資料以您瀏覽的日期新到舊列表，提供40筆資料。</li>
								<li>商品售價以網站即時標示為準。</li>
								<li>「貨到通知我」商品將在貨到後通知您，商品數量有限請盡速訂購。 </li>
								<li>以您加入清單日期算起，三個月後自動刪除，刪除之商品後將不再發送通知。</li>
								<li>已停售之商品將自清單中自動移除，不另行通知。</li>
							</ol>
							<a href="#" class="n-note--close" title="關閉"><i class="n-icon--close"></i></a>
						.n-l-colmb20.n-mem__tool-bar
							<ul id="historyListNav" class="n-left n-tab__sub-lv3">
								<li class="current"><a href="#historyList1" title="全部商品 (15)">全部商品 (15)</a></li>
								<li><a href="#historyList2" title="優惠價 (3)">優惠價 (3)</a></li>
							</ul>
						<div id="historyList1" class="n-l-colmb20 n-collect__body">
							<ul class="n-card__list n-hover--img">
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--normal"><i class="n-icon--mail"></i><span>貨到通知我</span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
							</ul>
						</div>
						<div id="historyList2" class="n-l-colmb20 n-collect__body n-is--hide">
							<ul class="n-card__list n-hover--img">
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--normal"><i class="n-icon--mail"></i><span>貨到通知我</span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
							</ul>
						</div>
						
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
			
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')