doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 貨到通知 -- 我的蒐藏 -- 會員中心 --  -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_collet-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="我的蒐藏">我的蒐藏</a>&gt;</li>
						<li class="current"><a href="#" title="貨到通知">貨到通知</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap#stockNotice
						<h2 class="n-title--18 n-mem--title">貨到通知</h2>
						.n-l-colmb20.note--box-lv3.n-hints__wrap
							p.n-pr--medium 使用說明
							<ol class="n-list--decimal">
								<li>申請貨到通知服務起一個月內，若選擇之商品進貨，將以e-mai通知客戶。</li>
								<li>每件商品補貨有限，請收到e-mail後，盡快回東森購物網進行結帳作業，以免因時間差導致商品有再次缺貨的狀況。</li>
								<li>若該商品超過一個月，仍未補貨，將不另外通知，如需繼續瞭解商品補貨狀況，請回東森購物網，重新申請貨到通知服務。 </li>
								<li>貨到通知為EHS網站所提供之貼心服務，商品贈品、折扣優惠與相閞促銷活動，以實際訂單成立日為主，無法追溯及要求補償。</li>
							</ol>
							<a href="#" class="n-note--close" title="關閉"><i class="n-icon--close"></i></a>
						form(action="")
							<ul class="n-prod__list">
								<li>
									<a class="n-edit__box n-edit--gray" href="" title="刪除"><i class="n-icon--del-gray"></i></a>
									<div class="n-pic n-left">
										<a href="#" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/OOWk0Y" alt="3D Puzzle拼圖" width="160" height="160"></a>
									</div>
									.n-left.n-prod__list-box
										<p>品號：905776754</p>
										<p class="n-name n-title--13"><a href="#" title="❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a></p>
										ul
											li
												span.n-title--13 顏色：
												| 波爾多紅
											li
												span.n-title--13 樣式：
												| 樣式
										<a href="" class="n-btn n-btn--lv2" title="加入購物車"><i class="n-icon--cart-red"></i> 加入購物車</a>
								</li>
								<li>
									<a class="n-edit__box n-edit--gray" href="" title="刪除"><i class="n-icon--del-gray"></i></a>
									<div class="n-pic n-left">
										<a href="#" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/pST7aZ" alt="3D Puzzle拼圖" width="160" height="160"></a>
									</div>
									.n-left.n-prod__list-box
										<p>品號：905776754</p>
										<p class="n-name n-title--13"><a href="#" title="❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a></p>
										ul
											li
												span.n-title--13 顏色：
												| 波爾多紅
											li
												span.n-title--13 樣式：
												| 樣式
										<a href="" class="n-btn n-btn--disabled" title="補貨中">補貨中</a>
								</li>
							</ul>

						
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
			
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')