doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 追蹤清單 -- 我的蒐藏 -- 會員中心 --  -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_collet-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="我的蒐藏">我的蒐藏</a>&gt;</li>
						<li class="current"><a href="#" title="蒐藏清單">蒐藏清單</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap#collectionList
						<h2 class="n-title--18 n-mem--title">蒐藏清單</h2>
						.n-l-colmb20.note--box-lv3.n-hints__wrap
							p.n-pr--medium 使用說明
							<ol class="n-list--decimal">
								<li>資料以您瀏覽的日期新到舊列表，提供40筆資料。</li>
								<li>商品售價以網站即時標示為準。</li>
								<li>「貨到通知我」商品將在貨到後通知您，商品數量有限請盡速訂購。 </li>
								<li>以您加入清單日期算起，三個月後自動刪除，刪除之商品後將不再發送通知。</li>
								<li>已停售之商品將自清單中自動移除，不另行通知。</li>
							</ol>
							<a href="#" class="n-note--close" title="關閉"><i class="n-icon--close"></i></a>
						.n-l-colmb20.n-mem__tool-bar
							<ul id="trackListtNav" class="n-tab__sub-lv3">
								<li class="current"><a href="#trackList1" title="全部商品">全部商品</a></li>
								<li><a href="#trackList2" title="正在優惠中的商品">正在優惠中的商品</a></li>
								<li><a href="#trackList3" title="已收藏的旗艦館">已收藏的旗艦館</a></li>
							</ul>
						<div id="trackList1" class="n-l-colmb20 n-collect__body">
							<ul class="n-card__list n-hover--img">
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											.n-soldout
												p.n-title--15 銷售一空
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--normal"><i class="n-icon--mail"></i><span>貨到通知我</span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
							</ul>
							include include/block/_pager
						</div>
						<div id="trackList2" class="n-l-colmb20 n-collect__body n-is--hide">
							<ul class="n-card__list n-hover--img">
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--normal"><i class="n-icon--mail"></i><span>貨到通知我</span></a>
										</div>
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/DP9yVf" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/Upa5Ju" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
								<li>
									<div class="n-card__box">
										<a href="#" class="n-edit__box n-edit--black" title="刪除">
											<i class="n-icon--del-white"></i>
										</a>
										<div class="n-pic">
											<a href="" title="3D Puzzle拼圖" target="_blank"><img src="https://goo.gl/ZmECBW" alt="3D Puzzle拼圖"></a>
										</div>
										<div class="n-name">
											<a href="" title="3D Puzzle拼圖" target="_blank">❖大家源❖微晶爐TCY-3911+黑晶爐專用燒烤盤TCY-3900A(贈低脂燒烤盤</a>
										</div>
										<div class="n-price__wrap">
											<span class="n-price--normal">$ 9,999,999</span>
											<span class="n-price--16"> $<span>9,999,999</span></span>
										</div>
										<div class="n-card__btn">
											<a class="n-btn n-btn--card-red"> <i class="n-icon--cart"></i><span>加入購物車</span></a>
										</div>
										
									</div>
								</li>
							</ul>
							
						</div>
						<div id="trackList3" class="n-l-colmb20 n-track__brand n-is--hide">
							<div class="n-left n-track__brand-logo">
								<a href="#" class="n-edit__box n-edit--black" title="刪除">
									<i class="n-icon--del-white"></i>
								</a>
								.n-pic
									<img src="https://goo.gl/9LZPVZ" alt="惠普官方旗艦店" width="180" height="60">
								<p class="n-name">惠普官方旗艦店</p>
								<div class="n-card__btn">
									<a href="#" class="n-btn n-btn--card-red" title="進入旗艦館">進入旗艦館</a>
								</div>
							</div>
							<div class="n-left n-track__brand-prod">
								<ul class="n-track__brand-list n-hover--img" style="width: 1900px; position: relative; overflow: hidden">
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
									<li>
										<a href="" title="Product Name" target="_blank">
											<div class="n-pic">
												<img src="https://goo.gl/ZrlDwv" alt="鍋寶304不銹鋼電鍋超值熱銷組">
											</div>
											<div class="n-desc">
												<p class="n-name">鍋寶304不銹鋼電鍋超值熱銷組</p>
												<p class="n-price__wrap">
													<span class="n-price--normal">$ 1,113,000</span>
													<span class="n-price--16">$<span>1,111,680</span></span>
												</p>
											</div>
										</a>
									</li>
								</ul>
								a.n-l-arrow__wrap(href="#" title="Prev")
									span.n-arrow--top
									span.n-arrow--bottom
								a.n-r-arrow__wrap(href="#" title="Next")
									span.n-arrow--top
									span.n-arrow--bottom
							</div>
						</div>
						
			include include/global/_footer
			include include/global/_go-top
			include include/block/_product-quick-view
			include include/block/_product-notice-me
			include include/member/_immediate-post

		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')