doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 會員服務與分級 -- 幫助中心 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="新手上路">新手上路</a>&gt;</li>
						<li class="current"><a href="#" title="會員服務與分級">會員服務與分級</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-novice-page-nav
						<h2 class="n-title--18 n-mem--title">會員服務與分級</h2>
						h3.n-title--16 會員服務
						ol.n-l-colmb15.n-list--decimal.n-list--ml20
							li 本公司將提供予您『標準』會員服務內容：七天送貨到府、十天商品鑑賞期、免費到府收送退換貨、信用卡 12 期以下無息分期、或其他未來可能新增之一般會員服務。
							li 本公司提供之會員服務以及其他一切因會員身分得享有之權益，均仍屬本公司或其他合法權利人所有，會員除僅得於服務期間內依本使用條款之約定為使用外，均不得以任何方式將其轉讓、移轉、出租或出借予其他任何第三人，會員 就會員服務所為之任何轉讓、移轉、出租或出借予其他任何第三人之行為，對本公司不生效力。
						h3.n-title--16 分級會員資格與條件說明表
						table.n-l-colmb15.table.table--bordered
							tr.table--caption
								th 等級
								th 資格與條件
							tr
								td 標準
								td 在您於東森購物各銷售通路完成第一筆消費時，並願意成為會員者。
							tr
								td 重要說明
								td
									ul.n-list--disc.n-list--ml20
										li 會員定義：只要提供完整基本資料於東森任一通路進行消費，即可成為東森購物會員。
										li 金額累計排除：取消、退貨、旅遊代辦費用之訂單。
										li 若有訂單銷退、拒收或延遲款項者，將會影響或降低您的會員等級與各項權益。
						h3.n-title--16 分級會員資格與條件說明表
						ol.n-list--decimal.n-list--ml20.n-l-colmb15
							li 客服專人服務：優質服務團隊，會員可透過訂購或售後服務專線來電，享有專業、有效率的商品訂購及售後服務。
							li 生日優惠：生日當月享有壽星專屬折扣。
							li 十天鑑賞期：全通路消費均享有十天鑑賞期。
							li 七天免費送貨到府：全通路消費商品七天免費送到府服務(特殊訂製商品除外)。
							li 刷卡無息分期：信用卡 12 期以下無息分期（活動內容依東森購物各通路公告為主）。
							li 會員專屬活動： 會員中心將不定期舉辦各項會員活動。
							li 精美購物型錄： 凡會員有消費將可不定期收到精美的免費購物型錄。
						<table class="table table--bordered">
							<tr class="table--caption">
								<th class="col-1">等級權益</th>
								<th class="col-1">客服專人服務</th>
								<th class="col-1">生日優惠</th>
								<th class="col-1">十天鑑賞期</th>
								<th class="col-1">七天免費送貨到府</th>
								<th class="col-1">刷卡無息分期</th>
								<th class="col-1">會員專屬活動</th>
							</tr>
							<tr>
								<td>標準</td>
								<td>&check;</td>
								<td>&check;</td>
								<td>&check;</td>
								<td>&check;</td>
								<td>&check;</td>
								<td>&check;</td>
							</tr>
						</table>
						<p class="note--txt-lv2 n-l-colmb15">說明：&check; 表示有提供此服務【本公司保留變更本活動內容之權利】</p>
						p.n-l-colmb20 【會員中心提醒您】 近來詐騙集團又以翻新的犯罪手法，全面性對台灣民眾進行電話攻擊，身為電視購物領航員的東森購物在此急切的呼籲所有會員提高緊覺，對於接獲不明來電，覺得可疑或是詐騙電話，為保障您的權益，請撥打客服中心免付費專線或防詐騙專線求證，千萬不要貿然到ATM進行轉帳或激怒、挑釁對方。目前，東森購物特集結資訊、法務…等專家成立「防詐專案小組」，並積極與警方以及所有合作銀行保持高度警戒狀態，並特別建置資訊安全防護網，以最新科技技術，新增電話遮罩、加密自動撥號系統功能，保障會員各項機密資料，包括您的身份證號碼、電話，期能將資訊維安作業提升為國際級水準。自即日起相關帳款問題，將以簡訊方式通知，若有帳款問題，亦請撥打客服中心免付費專線查詢。

						include include/member/_help-common-link
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')