doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 常見問題 -- 幫助中心 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="新手上路">新手上路</a>&gt;</li>
						<li class="current"><a href="#" title="常見問題">常見問題</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-novice-page-nav
						<h2 class="n-title--18 n-mem--title">常見問題</h2>
						.n-l-colmb20#qAlist
							mixin listQa(className, title, text)
								.n-qa__box(class= className)
									.n-qa__caption.n-title--15
										i.n-icon--plus
										span= title
									.n-qa__body
										p= text
							h3.n-title--16.n-qa__title 加入會員相關問題
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 如何成為東森購物網的會員？
								.n-qa__body
									p 只要您在東森購物任何一個通路購買過商品，同意加入並完成相關資料確認後，您就是東森購物的會員囉！
									p 新會員加入
									ul.n-help__step
										li
											.n-title--13 步驟一：點選東森購物網首頁的「註冊」。
											p 請您先點選東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> ) )首頁的「註冊」。
										li
											.n-title--13 步驟二：輸入電子郵件和手機號碼
											p 請輸入您的「電子郵件」(必填)和「手機號碼」(必填)，再點選「我同意以下條款，確定註冊」加入會員（請您仔細閱讀「會員權益說明」、「個資權益宣告」及相關服務條款）。
										li
											.n-title--13 步驟三：輸入手機簡訊驗證碼
											p 請輸入手機收到之簡訊驗證碼，進行手機號碼驗證
										li
											.n-title--13 步驟四：設定網站登入密碼
											p 請輸入網站的登入密碼
										li
											.n-title--13 步驟五：註冊完成
											p 恭喜您成為東森購物網會員，您可開始享受東森購物網提供給您的購物樂趣及各項貼心服務！
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 我已經是東森購物網電視/型錄會員
								.n-qa__body
									ul.n-help__step
										li
											.n-title--13 步驟一：點選東森購物網首頁的「登入」
											p 請您先點選東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> )首頁的「登入」。。
										li
											.n-title--13 步驟二：若您是東森電視購物或型錄會員但未曾在網站註冊過，點選「電視會員登入」
										li
											.n-title--13 步驟三：輸入身分確認資料
											p 請輸入您的身分證字號，再點選「確認」按鈕。
										li
											.n-title--13 步驟四：手機號碼確認
											p 請輸入手機收到之簡訊驗證碼，進行手機號碼驗證。
										li
											.n-title--13 步驟五：修改密碼
											p 系統將帶您至會員中心進行修改密碼。
										li
											.n-title--13 ET Mall會員登入
											p 請您於東森購物網首頁點選「登入」，並請使用簡訊通知密碼或新密碼登入東森購物網站，即完成會員身分確認。
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 如何使用 Facebook 帳號登入東森購物網?
								.n-qa__body
									p 新會員加入
									ul.n-help__step
										li
											.n-title--13 步驟一：點選東森購物網首頁的「登入」。
											p 請您先點選東森購物網 ( www.etmall.com.tw )首頁的「登入」
										li
											.n-title--13 步驟二：點選「 Facebook 」登入
											p 請您點選「 Facebook 」登入。
										li
											.n-title--13 步驟三：登入 Facebook 帳號
											p 請您先登入 Facebook 帳戶。
										li
											.n-title--13 步驟四：Facebook 授權同意
											p 請您閱讀 Facebook 授權同意項目，再點選「確定」同意授權。
										li
											.n-title--13 步驟五：輸入帳號和身分證字號
											p 請輸入您的「電子郵件」、「手機號碼」、「密碼」、「確認密碼」(以上均為必填)，再點選「我同意以下條款，確定註冊」按鈕。
										li
											.n-title--13 步驟六：確認服務條款，再點選「同意」
											p 請您仔細閱讀「會員權益說明」及相關服務條款，再點選「同意」加入會員。
										li
											.n-title--13 步驟七：填寫會員基本資料
											p 請您填寫會員基本資料，為確保您的權益，請務必完整填寫姓名、登入密碼、生日、 E-Mail、聯絡電話、行動電話等，填寫完成後，再點選「送出」按鈕。
										li
											.n-title--13 步驟八：註冊完成
											p 恭喜您成為東森購物網會員，您可開始享受東森購物網提供給您的購物樂趣及各項貼心服務！未來您可直接使用 facebook 帳號，或使用東森購物網會員帳號登入。
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 已經是ET Mall會員
								.n-qa__body
									ul.n-help__step
										li
											.n-title--13 步驟一：點選東森購物網首頁的「註冊/登入」。
											p 請您先點選東森購物網 ( www.etmall.com.tw )首頁的「登入」
										li
											.n-title--13 步驟二：點選「 Facebook 登入」
											p 請您點選「 Facebook 登入」。
										li
											.n-title--13 步驟三：登入 Facebook 帳號
											p 請您先登入 Facebook 帳戶。
										li
											.n-title--13 步驟四：Facebook 授權同意
											p 請您閱讀 Facebook 授權同意項目，再點選「確定」同意授權。
										li
											.n-title--13 步驟五：點選「我是東森購物網會員」
											p 請點選「我是東森購物網會員」。
										li
											.n-title--13 步驟六：輸入會員帳號和密碼
											p 請輸入您的東森購物網會員帳號和密碼，再點選「確認」按鈕。
										li
											.n-title--13 步驟七：登入完成
											p 登入完成，未來您可直接使用 facebook 帳號，或使用東森購物網會員帳號登入。
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 已經是東森購物網電視/型錄會員
								.n-qa__body
									ul.n-help__step
										li
											.n-title--13 步驟一：點選東森購物網首頁的「註冊/登入」。
											p 請您先點選東森購物網 ( www.etmall.com.tw )首頁的「登入」
										li
											.n-title--13 步驟二：點選「 Facebook 登入」
											p 請您點選「 Facebook 登入」。
										li
											.n-title--13 步驟三：登入 Facebook 帳號
											p 請您先登入 Facebook 帳戶。
										li
											.n-title--13 步驟四：Facebook 授權同意
											p 請您閱讀 Facebook 授權同意項目，再點選「確定」同意授權。
										li
											.n-title--13 步驟五：若您是東森電視購物或型錄會員但未曾在網站註冊過，點選「電視會員登入」
										li
											.n-title--13 步驟六：手機號碼確認
											p 請輸入手機收到之簡訊驗證碼，進行手機號碼驗證。
										li
											.n-title--13 步驟七：修改密碼
											p 請您先確認手機號碼是否正確，正確請按「確認」按鈕。
										li
											.n-title--13 步驟八：收取密碼
											p 系統將帶您至會員中心進行修改密碼。
										li
											.n-title--13 步驟九：ET Mall會員登入
											p 請您於東森購物網首頁點選「登入」，並請使用簡訊通知密碼或新密碼登入東森購物網站，即完成會員身分確認。完成會員身分確認後，您可開始享受東森購物網提供給您的購物樂趣及各項貼心服務！未來您可直接使用 Facebook 帳號，或使用東森購物網會員帳號登入。
							h3.n-title--16.n-qa__title 個人帳戶資料問題
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 個人帳戶提供哪些服務？
								.n-qa__body
									ul.n-list--ml20.n-list--disc
										li 只要您在東森購物任何一個通路購買過商品，同意加入並完成相關資料確認後，您就是東森購物的會員囉！
										li 「我的帳戶」提供了以下查詢功能。
											ul.n-list--circle
												li
													.n-title--13 消費記錄
													ul
														li 交易記錄查詢：提供您最近半年內的消費、取消、退貨訂單紀錄資料查詢。
														li 收藏清單查詢：提供您查詢在 ET Mall 瀏覽商品時加入「我的收藏」的時間日期與商品訊息
												li
													.n-title--13 基本資料
													ul.n-list--ml20
														li 個人資料修改：您可以在此修改ET Mall上的暱稱， email帳號、聯絡電話等資料，才不容易錯過我們不定期提供給會員的優惠活動訊息。
														li 密碼修改：為了維護您的個人權益，建議每三個月定期更換密碼哦。
														li 配送地址維護：如果您的住家地址更換，可直接在ET Mall修改您的配送地址，確保收貨權益。
												li
													.n-title--13 帳戶資料
													ul
														li 折價券：提供您東森購物可使用之折價券明細資料。
														li 折扣金：提供您東森購物折扣金明細資料及最近三個月內使用東森購物折扣金兌換商品明細資料。
														li 禮券/霸王A金明細：提供您東森購物禮券/霸王A金最近三個月內使用東森購物禮券/霸王A金兌換商品明細資料。
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 萬一忘記密碼怎麼辦？
								.n-qa__body
									p 您可以在會員登入頁看到「忘記帳號/密碼」，請直接點選連結，進入「忘記密碼」頁面，輸入您的帳號及資料後按下送出，系統將自動發送新的密碼給您。
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 要如何才能收到東森購物網型錄？
								.n-qa__body
									p 只要您近 6 個月內於東森購物型錄有消費記錄者，將會在下月起送出精美的免費型錄。為響應環保，我們的電子型錄已經上架囉，東森購物電子型錄，點選 <a class="n-blue--link" href="http://www.ehs.tw/ebooks/" target="_blank" title="東森購物電子型錄">http://www.ehs.tw/ebooks </a>，就能隨時隨地、想看就看
							h3.n-title--16.n-qa__title 付款及訂購問題
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 付款及訂購問題？
								.n-qa__body
									p 在東森購物網訂購商品有以下付款方式提供您選擇。當您要結帳時，告訴客服人員您選擇的付款方式。
									ul.n-list--ml20.n-list--disc
										li 信用卡一次付清
										li 信用卡分期
										li ATM轉帳
										li 貨到付款
										li 超商取貨付款
										li Line pay
							+listQa('', '使用信用卡付款，需要注意哪些？', '當您選擇信用卡分期時，請注意，您信用卡的有效期限必須大於最後一期的有效日期，這樣才能成功取得授權。如您使用信用卡付款，在訂單成立後，無法成功取得授權（如：效期輸入錯誤、信用卡未開卡、已超過可用額度、高額或資料不完整的訂單等）且客服人員於三天內均無法聯繫到本人時，將直接取消您的訂單。請您登入東森購物網查詢訂單狀況，並重新訂購此商品。')
							+listQa('', '在東森購物網哪些信用卡無提供分期服務？', '東森購物合作的銀行幾乎都可以享有無息分期的優惠，目前有中興銀行、京城銀行、寶華銀行、花旗台灣銀行、美國運通卡、金融信用卡、國民旅遊卡等銀行信用卡無法享有此優惠。另外現金卡、國外信用卡恕無法接受使用。')
							+listQa('', '為什麼某些商品只能使用信用卡付費？', '部份商品東森購物網委由「廠商配送」或者是高單價（ 100,000 元以上）的商品，因安全考量及作業環節的關係，恕僅能使用信用卡付費；其他由東森購物物流倉庫出貨宅配到府的商品，原則上都可選擇其他付費方式。')
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 使用ATM轉帳需要注意哪些？
								.n-qa__body
									p 每筆訂單金額必須於10萬元(含)以下，才可使用ATM轉帳付款。訂購完成時客服人員或東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> ) )將提供給您此筆訂單專屬的 ATM 轉帳帳號，請您於訂購 2 日內 ( 含假日 ) 入帳，並請您留意是否轉帳成功。我們將於您完成入帳後二個工作天內確認訂單完成，進行後續出貨作業。若您未於訂購 2 日內入帳成功，將自動為您取消訂單。
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 哪些情況不能使用折價券？
								.n-qa__body
									ul.n-list--ml20.n-list--disc
										li 會員需以東森價訂購商品方可使用折價券，其他如驚爆價、搶購價等商品除外。
										li 每樣商品限用一張折價券且限單件商品金額 1,000 元(含)以上。
										li 汽車、機車、旅遊、保險等專案商品恕無法使用折價券。
										li 折價券不得與其他優惠促銷專案合併使用，且折價券一經使用後即不再適用。
										li 若您於東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> ) 點選「使用折價券」後網頁沒有出現折價券填寫視窗，請您確認是否安裝特殊軟體（例如：阻擋 POP UP 視窗功能），並請您移除安裝後即可順利使用
							+listQa('', '當下單完成，卻出現「交易不成功」訊息時如何處理？', '因為我們所有商品皆採限量銷售，當出現「交易不成功」訊息時，您可先利用「訂單查詢」查詢您的訂單資料是否在網頁上出現。您也可選擇「幫助中心」>「會員服務」>「聯絡我們」，由專人為您查詢。東森購物網保有最後接受訂單與否之權利的部份，並將另行通知會員。')
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 為什麼收不到訂單確認函？
								.n-qa__body
									p 目前訂單確認函發送僅針對在東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> )站消費的訂單，當您在東森購物網完成訂購後，我們會發送一封東森購物網訂單確認函至您的電子信箱。
									p 若您沒收到東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> )訂單確認函，有幾種可能原因：
									ul.n-list--ml20.n-list--disc
										li 您的電子郵件地址錯誤或者郵件信箱已滿而無法成功遞送
										li 您使用的入口網站所提供的免費信箱，可能因伺服器阻擋，導致信件無法順利遞送至您的信箱內(例如：PCHome、Yahoo、智邦生活館等)，建議您到我的帳戶「我的資料」中修改為其他電子信箱帳號。
							h3.n-title--16.n-qa__title 使用海外信用卡相關問題
							+listQa('', '什麼是海外信用卡？', '在海外發行的信用卡')
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 使用海外信用卡有哪些限制？
								.n-qa__body
									ul.n-list--ml20.n-list--disc
										li 限一次付清，不可分期，且不可與禮券或提貨券等付款方式合併使用。
										li 所有商品以新台幣幣值計價。
										li 商品之配送及退換貨地目前僅限於台灣地區。
							+listQa('', '為何使用海外信用卡消費不可與禮券或提貨券付款方式合併使用？', '由於使用海外信用卡付款涉及外幣匯率換算，故此階段僅開放以海外信用卡支付訂單全部金額。')
							+listQa('', '什麼是「所有商品以新台幣幣值計價」？', '由於外幣匯率隨市場波動每日皆不同，您所訂購的商品實際換算金額以帳單為準，會與您消費日所換算的金額略有差距。')
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 我可以將商品寄到台灣以外的地區嗎？
								.n-qa__body
									p 很抱歉，您所訂購的商品目前只能配送至台灣地區，會員中心已著手規劃更貼心的服務，將來您可選擇將商品直接送給國外的親友，請隨時到東森購物網（ <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> ）查詢最新服務。
							h3.n-title--16.n-qa__title 送貨及退換貨相關問題
							+listQa('', '可以指定送貨地點嗎？', '在東森購物消費原則上都可以為您送貨至指定地點，您可以在商品說明頁內找到相關訊息。若您需要離島配送服務，請您至「幫助中心」>「會員服務」>「聯絡我們」留下您的需求與客服人員聯絡，並提醒您若訂購大體積物品時，由於運送過程較為繁複，我們將針對你們個人需求提出配送報價單供您參考。')
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 請問下了訂單後大約何時會收到商品？
								.n-qa__body
									p 所有訂單除特殊原因外，一般商品將於訂單確認後七天內送貨到府，您可於東森購物網（<a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> ）會員中心「訂單查詢」內，查詢您最近一個月內訂購商品的送貨進度。
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 假若我遲遲未收到商品怎麼辦？
								.n-qa__body
									p 請至東森購物網（ <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">www.etmall.com.tw</a> ）會員中心「幫助中心」&#62;「會員服務」&#62;「聯絡我們」，我們將儘速解決您的問題。
							+listQa('', '如果我所收到的貨品有瑕疵、顏色或尺寸不合該如何是好？', '您所購買的商品於商品收到後都可享有 10 天滿意鑑賞期。若您收到的商品出現瑕疵，請您於鑑賞期內至會員中心選擇「訂單查詢」>「我要退貨」，我們將儘速為您辦理退、換貨事宜。')
							+listQa('n-l-colmb15', '我要何時能收到退款？', '若您使用「信用卡退款」，本公司在確認商品驗退無誤後，將與您的發卡銀行申請退款處理。若您是以付現、劃撥或轉帳等方式消費，請您來電申請退貨的同時，留下您個人金融帳戶資料，我們提供「金融轉帳快速退款」，直接將退款匯入您的銀行或郵局帳戶，完全不需跑銀行唷。')
							h3.n-title--16.n-qa__title 電子報相關問題
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 如何訂閱東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )電子報?
								.n-qa__body
									p 只要您是東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )會員，我們將定期發送精心編制的電子報至您的電子信箱。豐富的電子報類別，讓您不用出門也可獲得各式各樣的最新情報！若你還不是網站會員，您也可以於網站首頁的電子報專區，直接以 E-mail 信箱帳號訂閱，免費試閱我們精心編制的電子報喔！
							.n-qa__box
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 為何收不到東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )電子報?
								.n-qa__body
									p 若您於個人資料中所留下的電子郵件信箱錯誤或是郵件信箱已滿，都可能無法成功遞送至您的信箱內。另外部分入口網站所提供的免費信箱，可能因伺服器阻擋，導致信件無法順利遞送至您的信箱內，例如：PCHome、Yahoo、智邦生活館等，建議您使用其他電子信箱帳號。
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 如何取消訂閱東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )電子報?
								.n-qa__body
									p 在會員中心「帳戶管理」&#62;「基本資料」，點選「 <a class="n-blue--link" href="http://www.etmall.com.tw/PAGES/EDMSubscribe.aspx" target="_blank" title="東森購物網">查詢/更新訂閱電子報</a> 」，選擇預取消的電子報，最後輸入電子信箱帳號及驗證圖碼，點選「電子報訂閱確認」並按下送出即完成取消訂閱。
							h3.n-title--16.n-qa__title 安全機制相關問題
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 線上刷卡安全嗎?
								.n-qa__body
									p 相信很多人都會擔心這點，但不論是實體或虛擬通路進行刷卡消費，其實風險都存在。不過，行家都知道，只要有完整的加密保護，網路購物其實比實體購物來的安全。東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )提供以下購物保證：
									p &#8277; 東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )為取得具公信力的 VeriSign 安全電子交易認證之安全網站
									p &#8277; 東森購物網 ( <a class="n-blue--link" href="http://www.etmall.com.tw/Pages/Home.aspx" target="_blank" title="東森購物網">etmall.com.tw</a> )保證您購物時的安全性，當然更確保您能真正收到良好品質的商品
							h3.n-title--16.n-qa__title 什麼是電子發票？
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 什麼是電子發票？
								.n-qa__body
									p 為響應節能減碳，自民國 103 年 01 月 01 日起，東森購物將採用「二代電子發票」作業，詳細施行內容如下述各點：
									p 二聯式電子發票：您可於發票開立上傳後，透過東森購物網會員中心/交易記錄中查詢發票開立明細。
									p 捐贈發票：捐贈電子發票者，一旦選擇捐贈電子發票，該筆發票字軌號碼後三碼將予以隱藏，且中獎權利即屬於該受捐贈社福團體，不得主張列印及任何中獎權利。
									p 依政府憑證管理中心規定，本公司將於開立電子發票後 24 小時內上傳至整合服務平台「相關資訊」
							h3.n-title--16.n-qa__title 其他問題
							+listQa('', '為什麼網頁出現亂碼?', '如果您發現網頁出現亂碼，請您檢查IE瀏覽器是否是 6.0 的版本，如果您使用 6.0 以下的版本，就會發生亂碼。或者請到您的網頁瀏覽器檢視您的編碼是否為繁體中文。')
							+listQa('', '為什麼我看不到 Live Shopping 秀的內容?', '有可能是播放版本不符、防火牆，或者頻寬的問題。建議您下載 Live Shopping 秀頁面提供之影音軟體 Windows Media Player， 以維持最好的播放品質﹔若您使用公司網路上網，可能會因為貴公司防火牆的關係而無法瀏覽，另外播放 Live Shopping 秀需要較大的頻寬，若您為窄頻用戶也可能看不到節目。')
							.n-qa__box.n-l-colmb15
								.n-qa__caption.n-title--15
									i.n-icon--plus
									span 如何清除瀏覽器的快取資料?
								.n-qa__body
									p 如果您在瀏覽ET Mall網站時會出現已過期的活動頁面，建議您可清除瀏覽器的快取資料，應可降低此情況產生。請您參閱下列說明。 Internet Explorer 6.0 for Windows
									ul.n-list--disc.n-list--ml20 
										li 點選 IE 網頁上方的「工具」並選擇「網際網路選項」。
										li 在網際網路選項「一般」 選單上，點選「刪除 cookies 」鍵，跳出詢問視窗：「要刪除 Temporary Internet files 資料夾裏所有的 cookies 嗎？」，請選擇「確定」。
										li 點選「刪除檔案」按鍵，並且勾選「刪除所有離線內容」，再點選「確定」。
										li 再選下方的「清除紀錄」按鍵，跳出詢問視窗：「確定要 Windows 刪除瀏覽的網站紀錄嗎？」，請選擇「是」。
										li 點選網際網路選項最底下的「確定」按鍵。
										li 最後請關閉並重新啟動您的 IE 瀏覽器。
										li 其他的瀏覽器：假使你使用的瀏覽器和上述不同或需要更多有關如何清除您瀏覽器快取資料的資訊時，請參考您瀏覽器的服務說明。

						include include/member/_help-common-link
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')