doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 使用折扣金購物 -- 購物流程小幫手 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="購物流程小幫手">購物流程小幫手</a>&gt;</li>
						<li class="current"><a href="#" title="使用折扣金購物">使用折扣金購物</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-process-page-nav
						<h2 class="n-title--18 n-mem--title">使用折扣金購物</h2>
						.n-l-colmb20
							h3.n-title--16 折扣金獲得
							p 會員可以透過參與東森購物網不定期舉辦的促銷活動來獲得折扣金。
							ol.n-list--ml20.n-l-colmb15.n-list--decimal
								li 折扣金贈送條件以有效訂單為準，不含取消及銷退。
								li 活動結束後將審核會員是否符合「折扣金」加給資格，待確認符合加給資格後，將依各活動指定加給日匯入「折扣金」至會員個人帳戶中。
								li 若該筆訂單事後取消，該筆所贈送之「折扣金」將自動扣回。如帳戶中之「折扣金」已不足扣抵，則會員須以現金給付予東森購物。
								li 會員可以在[我的優惠] ＞[折扣金]查詢到您的折扣金取得和使用歷程資料。
							h3.n-title--16 折扣金使用規則
							ol.n-list--ml20.n-l-colmb15.n-list--decimal
								li 折扣金 1 點可折抵現金 1 元。
								li 東森購物網所發送之折扣金，僅限於東森購物網網站（電視通路無法使用）購買商品時選擇使用，且不可轉讓。
								li 除有特定商品或專案活動之限制外，購買商品時，折扣金不可與折價券或其他優惠合併使用。
								li 每筆折扣金依發送時間有不同之使用期限，凡於有效期限內皆可累積抵用；逾期，自動無效。
								li 折扣金使用規則，請在參與獲取折扣金的活動前仔細閱讀活動說明。
								li 折扣金最高折抵上限為商品消費金額之30% ，結帳時若使用折扣金折抵，系統將自動從最接近有效期限之折扣金折抵，即會員於購物車結帳時就能自動算出可使用的折扣金並進行折抵。
								li 網站商品是否適用折扣金，依結帳頁面(購物車)顯示為準。
								li 旅遊、汽機車、服務性票券、TV 電視購物商品及專案商品無法使用折扣金。
								li 折扣金不得兌換現金、找零或兌換其他贈品。折扣金限折抵指定商品類別之折扣金額，恕無法折抵物流費、安裝處理費等費用。
								li 東森購物網保有活動變更、修改或終止本活動之權力，如有異動，修改後之內容及約定條款將公佈在東森購物網上。
							h3.n-title--16 折扣金返還和補發
							ol.n-list--ml20.n-l-colmb15.n-list--decimal
								li 使用折扣金購買商品的訂單取消/退貨後，東森購物網在訂單取消/退貨流程完成後，最晚將於次日中午 12:00 前歸還折扣金，返還後之折扣金使用截止時間與贈給時使用期限相同(例： 104/8/20 加給折扣金使用期限至 104/08/25 ，於 104/8/21 使用折扣金抵扣消費金額，於 104/8/22 取消訂單，折扣金返還後使用期限仍為 104/08/25 )。
								li 若折扣金返還日已超過使用截止時間，則該筆折扣金將不再返還或延長。
							h3.n-title--16 如何使用折扣金
							p 當您帳戶中有折扣金時，選購之商品若適用折扣金，在購物車結帳畫面，會出現【使用折扣金】的選項。
							p 勾選【使用折扣金】，系統會自動為您算出可使用的折扣金金額，並在「消費總金額」顯示折抵後的金額。
							img.n-l-colmb15(src="Resource/img201703/member/help/discount01.png", alt="如何使用折扣金")
							h3.n-title--16 查詢折扣金
							p 會員可以在[我的優惠] ＞[折扣金]查詢到您的折扣金取得和使用歷程資料。

						include include/member/_help-common-link
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')