doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 海外購物說明 -- 購物流程小幫手 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="購物流程小幫手">購物流程小幫手</a>&gt;</li>
						<li class="current"><a href="#" title="海外購物說明">海外購物說明</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-process-page-nav
						<h2 class="n-title--18 n-mem--title">海外購物說明</h2>
						.n-l-colmb20
							.n-title--13 配送區域及送達時間
							ol.n-l-colmb15.n-list--ml20.n-list--decimal
								li 配送區域：「本專區」商品之配送地區，目前僅提供大陸、香港、澳門地區。
								li 送達時間：「本專區」自確認貨源充足且已受理您的訂單日起，預計5-15個工作天(不含例假日)送達至您指定之寄送地址。
							.n-title--13 付款方式
							ol.n-l-colmb15.n-list--ml20.n-list--decimal
								li 「本專區」目前開放信用卡線上刷卡、銀聯卡、支付寶、財付通之付款方式，且須於訂購當時一次付清所有商品金額及運費。
								li 您的信用卡發卡銀行可能會因為您的海外交易行為向您酌收手續費，請您自行向發卡銀行確認。
								li 「本專區」所有商品皆以新台幣為交易貨幣，故請您留意因幣別不同所產生之匯差。
							.n-title--13 運費計算說明
							ol.n-l-colmb15.n-list--ml20.n-list--decimal
								li 為提供您貼心的購物享受，「本專區」商品不計重量，每一件商品將額外向您收取新台幣300元境外配送運費。
								li 所謂〝一件〞是以商品品號為計算基準，故一筆訂單內若含2件商品品號(或同商品品號訂購2件)，運費則為300元*2=600元，以此類推。
							.n-title--13 海外直配注意事項
							ol.n-l-colmb15.n-list--ml20.n-list--decimal
								li 商品寄送至您所指定的收貨地址，須先通過收貨之國家(地區)的海關檢核，才能再進行配送。
								li 收貨之國家(地區)的海關會依商品種類及價值核定關稅與附加費用，一旦海關核定需支付進口關稅，則需由收貨人自行支付。
								li 如收貨人無法依規範繳納稅金，則原商品訂單金額將回數退回，但不包含運費。
								li 收貨人需遵守收貨之國家(地區)的進口規範與限制(違禁品..等)，否則相關法律問題將由收貨人自行負責。
								li 貨物通關流程及各商品類別關稅稅率請參考下表。
							p 貨物通關流程：
							img.n-l-colmb15(src="Resource/img201703/member/help/international02.png", alt="貨物通關流程")
							.n-title--13 運費計算說明
							ol.n-l-colmb15.n-list--ml20.n-list--decimal
								li 本專區提供10天鑑賞期（此期間係提供商品或服務之鑑賞參考，而非商品或服務之試用）。在您還不確定是否要辦理退貨以前，請勿拆封。
								li 鑑賞期間內，若您因個人因素欲辦理退貨時，需在收到商品10天內至訂單查詢頁點選[訂單明細]的[我要退貨]進行申請。請務必保持商品完整且全新狀態（包括主商品、贈品、零件、附件、保固卡、說明書等數量正確，內外包裝（含保麗龍、保護袋）及外盒無任何短少、毀（污）損、刮傷或拆膜等）並填妥各項資料後，於向本網站申請退貨當日起算25天內，自行負擔運費並寄達至本公司（收件地址於退貨單內已載明），本公司將於確認商品內容與質量無誤後，為您辦理退貨程序並退還商品金額（匯差須自行吸收），但來回寄送之運費恕無法退回。
								li 若本公司發現您退回之商品係因人為因素造成之商品損壞、缺件或不完整，則需依損壞情況向您收取維修費用後始得辦理退貨。
								li 若於鑑賞期內係非可歸責於您之因素發現商品內、外包裝破損、商品瑕疵、缺件等情事，本網站提供退貨服務（不提供換貨服務），請您將商品異常之部分進行拍照，並寄至東森購物客服信箱(etmall_cs@ehsn.com.tw)，郵件內容請註明姓名、訂單編號、商品名稱、聯絡電話及商品瑕疵問題說明，後續將由本公司客服人員為你進行服務。
							.n-title--13 退貨流程說明
							p 步驟一：於我的訂單頁點選「我要退貨」
							p 步驟二：填寫退貨申請原因 &amp; 說明
							p 步驟三：列印此頁並貼於外包裝箱上
							img.n-l-colmb15(src="Resource/img201703/member/help/international03.png", alt="退貨流程說明")
							.n-title--13 其他注意事項
							ol.n-l-colmb15.n-list--ml20.n-list--decimal
								li 凡商品選擇配送至台灣以外地區，不得參與ETMall網站內任何行銷活動。
								li 我們將於您的包裹中附上裝箱明細表以供您核對商品。
								li 「本專區」商品之保固條件係依據製造商之規定與區域為準。另因您係居住於海外地區，請您於訂購商品前詳細確認商品規格是否符合您所在地區之環境及相關標準。
								li 收貨人需遵守大陸(地區)的進口規範與限制(違禁品..等)，否則相關法律問題將由收貨人自行負責。
								li 如您有任何訂購或售後服務的問題，可先參考會員中心之「新手上路」之說明，也可以利用網頁下方「聯絡我們」客服信箱，將您的問題註明清楚，後續將有客服人員為您服務。
						include include/member/_help-common-link
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')