doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 選擇任選商品 -- 購物流程小幫手 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="購物流程小幫手">購物流程小幫手</a>&gt;</li>
						<li class="current"><a href="#" title="選擇任選商品">選擇任選商品</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-process-page-nav
						<h2 class="n-title--18 n-mem--title">選擇任選商品</h2>
						.n-l-colmb20
							p.n-l-colmb15 東森購物網提供最簡便的購物流程，讓您享有安全又方便的線上購物樂趣。
							p.n-l-colmb15 在您開始購物之前，您可以參閱下面簡便的購物步驟說明。
							ul.n-help__step
								li
									.n-title--13 步驟一：選購商品
									p 進入任選商品頁專區，選購最低結帳金額以上商品，後點選「立即購買」，就可以進行本商品的結帳作業（如果您還沒登入會出現「會員登入」畫面）。
									img(src="Resource/img201703/member/help/anybuy01.png", width="920", alt="步驟一：選購商品")
								li
									.n-title--13 步驟二：確認商品數量
									p 確認您要購買的商品以及數量規格，如果正確請點選「我要結帳」按鈕，繼續進行結帳。
									img(src="Resource/img201703/member/help/store02.png", width="920", alt="步驟二：確認商品數量")
								li
									.n-title--13 步驟三：選擇付款方式與確認收件人資訊
									p 1. 選擇您的付款方式並填寫付款資料
									img.n-l-colmb15(src="Resource/img201703/member/help/store03.png", width="920", alt="步驟三：選擇付款方式與確認收件人資訊")
									p 2. 請選擇收件人之姓名地址，或填寫配送的特殊需求。若要配送到新地點，請點選「新增收件人資訊」按鈕；若要更改現有地址，請點選「 修改 」進行修改。
									img.n-l-colmb15(src="Resource/img201703/member/help/store04.png", width="920", alt="步驟三：選擇付款方式與確認收件人資訊")
									p 3. 點選「確認結帳」，就完成結帳囉!
									img.n-l-colmb15(src="Resource/img201703/member/help/store05.png", width="920", alt="步驟三：選擇付款方式與確認收件人資訊")
						include include/member/_help-common-link
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')