doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 活動中獎名單 -- 公告專區 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="公告專區">公告專區</a>&gt;</li>
						<li class="current"><a href="#" title="活動中獎名單">活動中獎名單</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-post-page-nav
						<h2 class="n-title--18 n-mem--title">活動中獎名單</h2>
						.n-l-colmb20.n-mem__tool-bar
							<ul id="winnerListNav" class="n-left n-tab__sub-lv3">
								<li class="current"><a href="#winnerList1" title="東森購物網">東森購物網</a></li>
								<li><a href="#winnerList2" title="美健新知">美健新知</a></li>
								<li><a href="#winnerList3" title="旅遊生活">旅遊生活</a></li>
								<li><a href="#winnerList4" title="東森購物網型錄">東森購物網型錄</a></li>
								<li><a href="#winnerList5" title="會員活動">會員活動</a></li>
								<li><a href="#winnerList6" title="卡友活動">卡友活動</a></li>
							</ul>
						<div id="winnerList1" class="n-l-colmb20">
							<table class="table table--bordered">
								<tr class="table--caption">
									<th class="col-6">活動名稱</th>
									<th class="col-2">中獎人姓名</th>
									<th class="col-2">身分證字號</td>
								</tr>
								<tr>
									<td rowspan="3">0701-0717幸運之星嘉年華抽聲寶冰箱1折券</td>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>0701-0717幸運之星嘉年華抽聲寶冰箱1折券</td>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
							</table>
						</div>
						<div id="winnerList2" class="n-l-colmb20 n-is--hide">
							<table class="table table--bordered">
								<tr class="table--caption">
									<th class="col-6">活動名稱</th>
									<th class="col-2">中獎人姓名</th>
									<th class="col-2">身分證字號</td>
								</tr>
								<tr>
									<td colspan="3" class="l--center">查無中獎紀錄</td>
								</tr>
							</table>
						</div>
						<div id="winnerList3" class="n-l-colmb20 n-is--hide">
							<table class="table table--bordered">
								<tr class="table--caption">
									<th class="col-6">活動名稱</th>
									<th class="col-2">中獎人姓名</th>
									<th class="col-2">身分證字號</td>
								</tr>
								<tr>
									<td rowspan="3">0701-0717幸運之星嘉年華抽聲寶冰箱1折券</td>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>0701-0717幸運之星嘉年華抽聲寶冰箱1折券</td>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
							</table>
						</div>
						<div id="winnerList4" class="n-l-colmb20 n-is--hide">
							<table class="table table--bordered">
								<tr class="table--caption">
									<th class="col-6">活動名稱</th>
									<th class="col-2">中獎人姓名</th>
									<th class="col-2">身分證字號</td>
								</tr>
								<tr>
									<td colspan="3" class="l--center">查無中獎紀錄</td>
								</tr>
							</table>
						</div>
						<div id="winnerList5" class="n-l-colmb20 n-is--hide">
							<table class="table table--bordered">
								<tr class="table--caption">
									<th class="col-6">活動名稱</th>
									<th class="col-2">中獎人姓名</th>
									<th class="col-2">身分證字號</td>
								</tr>
								<tr>
									<td rowspan="3">0701-0717幸運之星嘉年華抽聲寶冰箱1折券</td>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
								<tr>
									<td>0701-0717幸運之星嘉年華抽聲寶冰箱1折券</td>
									<td>王＊民</td>
									<td>A2213*****</td>
								</tr>
							</table>
						</div>
						<div id="winnerList6" class="n-l-colmb20 n-is--hide">
							<table class="table table--bordered">
								<tr class="table--caption">
									<th class="col-6">活動名稱</th>
									<th class="col-2">中獎人姓名</th>
									<th class="col-2">身分證字號</td>
								</tr>
								<tr>
									<td colspan="3" class="l--center">查無中獎紀錄</td>
								</tr>
							</table>
						</div>		
						include include/member/_help-common-link

			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')