doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 服務公告 -- 公告專區 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="公告專區">公告專區</a>&gt;</li>
						<li class="current"><a href="#" title="服務公告">服務公告</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-post-page-nav
						<h2 class="n-title--18 n-mem--title">服務公告</h2>
						.n-l-colmb20
							h3.n-title--16 最新消息
							p.n-l-colmb15 本公司提供會員更快速、便利的24小時配送服務範圍，請點選「 <a href="http://www.etmall.com.tw/Pages/SimpleTemplate.aspx?SubPage=Bulletin/Twenty_Four_all.html" class="n-blue--link" title="配送區域查詢" target="_blank">配送區域查詢</a> 」可查詢您欲送貨的地區是否可接受24小時到貨服務。只要您選擇購買的商品符合24小時配送服務，無論是東森電視購物、東森購物型錄、東森購物網（ <a href="http://etmall.com.tw/Pages/Home.aspx" class="n-blue--link" title="東森購物網">www.etmall.com.tw</a> ）等通路商品，只要商品於當天訂購，於24小時內立刻速配到府，請會員多加利用此快速便捷的配送服務。另當日10:00AM前下單及付款成功，大都會區域(北市、新北市、台中市、台南市、高雄市.等共計142區域，不含部份偏遠地區，以系統判斷及成立訂單為主)，則當日09:00PM前可收到商品(如超過10:00AM下單及付款成功，則將於次日收到商品)
							p.n-l-colmb15 注意：新會員首購暫無提供24H配送服務。
							include include/member/_help-common-link

			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')