doctype html
html(lang='zh-Hant-TW')
	head
		<!--[if lt IE 9]>	
		<script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
		<![endif]-->
		meta(charset='UTF-8')
		meta(name='viewport', content='width=1260')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title 語音安全機制 -- 會員服務 -- 會員中心 -- ETMall東森購物網
		include include/global/_meta
		link(href='Resource/css201703/n-base.css', rel='stylesheet')
		link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
		link(href='Resource/css201703/n-common.css', rel='stylesheet')
		link(href='Resource/css201703/n-member.css', rel='stylesheet')
	body.n-theme--gr2-lighter
		main.n-wrapper
			include include/global/_inside-head
			.n-layout--lg.n-mem
				include include/member/_help-nav
				.n-left.n-l-1015.n-l-colmb50
					<ul class="n-mem-breadcrumb">
						<li><a href="#" title="幫助中心">幫助中心</a>&gt;</li>
						<li><a href="#" title="會員服務">會員服務</a>&gt;</li>
						<li class="current"><a href="#" title="語音安全機制">語音安全機制</a></li>
					</ul>
					.n-l-bgw-md.n-mem__wrap
						include include/member/_help-service-page-nav
						<h2 class="n-title--18 n-mem--title">語音安全機制</h2>
						h3.n-title--16 防詐再升級！會員語音專線安全機制
						p.n-l-colmb15 東森購物防詐再升級，全方位確保您使用語音系統的購物安全，東森購物會員語音專線全面導入安全機制-語音密碼功能，以提供您便利又安全的物環境！請快撥打客服語音專線 <a class="n-normal--link" href="tel:0800-332-666" title="會員語音專線">0800-332-666</a> 設定語音訂購密碼。
						h3.n-title--16 變更語音密碼操作說明
						img.n-l-colmb15(src="Resource/img201703/member/help/voice01.png", alt="變更語音密碼操作說明")
						<p class="note--box-lv3 n-l-colmb20"><span class="n-pr--medium">提醒您！</span>本系統已透過簡訊傳送語音密碼至您的行動電話，即日起當您透過語音服務項目或訂購商品時，請輸入密碼進行驗證，同時建議您可以定期撥打會員語音專線： <a class="n-normal--link" href="tel:0800-332-666" title="會員語音專線">0800-332-666</a> 變更您的語音密碼，以保障您得資料安全。</p>
						include include/member/_help-common-link
									
			include include/global/_footer
			include include/global/_go-top
			include include/member/_immediate-post
		script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
		script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
		script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
		script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
		script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
		script(src = 'Resource/js201703/common/global.effect.js')
		script(src = 'Resource/js201703/pages/member.js')
		script(src = 'Resource/js201703/prototyping.js')