doctype html
html(lang='zh-Hant-TW')
    head
        <!--[if lt IE 9]>
        <script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
        <![endif]-->
        meta(charset='UTF-8')
        meta(name='viewport', content='width=1260')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title 註冊完成 -- 會員註冊 -- 東森嚴選－ET Mall東森購物網
        include include/global/_meta
        link(href='Resource/css201703/n-base.css', rel='stylesheet')
        link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
        link(href='Resource/css201703/n-common.css', rel='stylesheet')
        link(href='Resource/css201703/n-reg.css', rel='stylesheet')
    body.n-theme--gr2-lighter
        main.n-wrapper
            include include/global/_inside-head
            .n-l-960.n-l-colmt20.n-l-colmb50
                form#registerDone(action="register-3.html")
                    .n-l-bgw-lg.n-l-bgw-border.n-reg__wrap
                        .n-title__wrap.n-text--center 
                            .n-title--18 會員註冊
                        .n-l-bgw-lg.n-reg__body
                            .n-process.n-l-colmb20.n-process--three-steps.n-process--finish
                                .n-process__box
                                    .n-process--dot
                                    p 填寫註冊資料
                                .n-process__box
                                    .n-process--dot
                                    p 手機驗證
                                .n-process__box
                                    .n-process--dot
                                    p 註冊完成
                            .n-left.col-7.n-reg__left.n-doneStyle-1
                                ul.n-l-colmb20.n-reg__desc
                                    li.n-title--16 您已註冊成功
                                    li 並已申請完成得易Ponta聯名卡，即日起消費可累積點數，同時享有得易Ponta聯名卡提供各項優質特惠服務!
                                ul.n-reg__fields.n-reg__login.n-form-aligned
                                    li.n-btn__box.n-text--center 
                                        button.n-btn.n-btn--primary(type="submit") 開始購物
                                        a.n-normal--link(href="#", title="新手上路", target="_blank") 新手上路
                                        a.n-normal--link(href="#", title="了解得易 Ponta", target="_blank") 了解得易 Ponta
                            .n-left.col-7.n-reg__left.n-doneStyle-2.n-is--hide            
                                ul.n-l-colmb20.n-reg__desc
                                    li.n-title--16 您已註冊成功
                                    li 您可至新手上路了解會員權益，或開始進行購物
                                ul.n-reg__fields.n-reg__login.n-form-aligned
                                    li.n-btn__box.n-text--center 
                                        button.n-btn.n-btn--primary(type="submit") 開始購物
                                        a.n-normal--link(href="#", title="新手上路", target="_blank") 新手上路
                                        
                                
                            .n-right.col-5.n-reg__right.n-text--center 
                                a.n-reg__bn(href="https://goo.gl/dJ9XMK", title="bn word", target="_blank")
                                    img(src="https://goo.gl/JQGtvz", width="350", height="183" alt="bn word")
                                
                        .n-reg__hints.note--box-lv3
                            ul.n-list--disc
                                li 24H免費服務專線：<span class="n-pr--medium">0800-057-999</span>
                        


            include include/global/_footer
            include include/global/_go-top

            ul#selectTemp(style="background-color: rgba(0, 0, 0, 0.9); padding: 8px; position: fixed; z-index: 999; width: 600px; margin: auto; left: 0; right: 0; bottom: 0;font-size: 15px; color: #fff;display: inline-block;")
                li(style="display: inline-block; margin-right: 20px")
                    label(for="temp1") 版型 1
                    input#temp1(type="radio", name="template", value="1", checked)
                li(style="display: inline-block; margin-right: 20px")
                    label(for="temp2") 版型 2
                    input#temp2(type="radio", name="template", value="2")

        script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
        script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
        script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
        script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
        script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
        script(src = 'Resource/js201703/vendor/jquery.validate.js')
        script(src = 'Resource/js201703/common/jquery.validate.set.defaults.js')
        script(src = 'Resource/js201703/common/global.effect.js')
        script(src = 'Resource/js201703/pages/registered.js')
        script(src = 'Resource/js201703/prototyping.js')
                
