doctype html
html(lang='zh-Hant-TW')
    head
        <!--[if lt IE 9]>
        <script type="text/javascript" src="Resource/js201703/vendor/html5shiv.js"></script>
        <![endif]-->
        meta(charset='UTF-8')
        meta(name='viewport', content='width=1260')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        title 會員註冊 -- 東森嚴選－ET Mall東森購物網
        include include/global/_meta
        link(href='Resource/css201703/n-base.css', rel='stylesheet')
        link(href='Resource/css201703/vendor/magnific-popup.css', rel='stylesheet')
        link(href='Resource/css201703/n-common.css', rel='stylesheet')
        link(href='Resource/css201703/n-reg.css', rel='stylesheet')
    body.n-theme--gr2-lighter
        main.n-wrapper
            include include/global/_inside-head
            .n-l-960.n-l-colmt20.n-l-colmb50
                form#registerMember(action="register-2.html")
                    .n-l-bgw-lg.n-l-bgw-border.n-reg__wrap
                        .n-title__wrap.n-text--center 
                            .n-title--18 會員註冊
                        .n-l-bgw-lg.n-reg__body
                            .n-process.n-l-colmb20.n-process--three-steps.n-process--start
                                .n-process__box
                                    .n-process--dot
                                    p 填寫註冊資料
                                .n-process__box
                                    .n-process--dot
                                    p 手機驗證
                                .n-process__box
                                    .n-process--dot
                                    p 註冊完成
                            ul.n-l-bgw-sm.note--box-lv2.n-l-colmb20.n-reg__other-way
                                li
                                    span.n-labels.n-text--center.n-bg--se-lighter 已是網路會員
                                    | 若您已是 ETmall東森購物網會員，無需註冊 <a class="n-blue--link" href="login.html">請按這裡</a>
                                li
                                    span.n-labels.n-text--center.n-bg--se-lighter 電視/型錄會員
                                    | 若您已是 東森電視購物或型錄的會員，但尚未在網站註冊 <a class="n-blue--link" href="login.html">請按這裡</a>
                                li
                                    span.n-labels.n-text--center.n-bg--se-lighter 大陸地區人士
                                    | 若您是 大陸地區人士，但尚未在網站註冊  <a class="n-blue--link" href="login-china.html">請按這裡</a>
                            .n-left.col-7.n-reg__left
                                ul.n-reg__fields.n-reg__login.n-form-aligned
                                    li.n-form__box
                                        label.n-form--title(for="Email") 電子郵件
                                        input.n-form--control#Email(type="text", name="Email")
                                    li.n-form__box
                                        label.n-form--title(for="Mobile") 您的手機號碼
                                        input.n-form--control#Mobile(type="text", name="Mobile", placeholder="僅限輸入台灣地區手機號碼")
                                    li.n-form__box
                                        label.n-form--title(for="Password") 密碼
                                        input.n-form--control#Password(type="password", name="Password")
                                    li.n-form__box
                                        label.n-form--title(for="PasswordConfirm") 確認密碼
                                        input.n-form--control#PasswordConfirm(type="PasswordConfirm", name="PasswordConfirm")
                                    li.n-form__multiple.n-form__box
                                        label.n-form--title(for="CheckPwd") 驗證碼
                                        input.n-form--control#CheckPwd(type="text", name="CheckPwd")
                                        img#CheckPWDIMG(src="Resource/img201703/member/reg/VCode.jpg", alt="驗證碼")
                                        a.n-normal--link#changeCodeImg(href="", title="更新驗證碼") 更新驗證碼
                                    li.n-btn__box.n-text--center 
                                        button.n-btn.n-btn--primary(type="submit") 我同意以下條款，確定註冊
                                
                            .n-right.col-5.n-reg__right.n-text--center 
                                a.n-reg__bn(href="https://goo.gl/dJ9XMK", title="bn word", target="_blank")
                                    img(src="https://goo.gl/JQGtvz", width="350", height="183" alt="bn word")
                                
                        .n-reg__hints.note--box-lv3
                            ul.n-list--disc
                                li 24H免費服務專線：<span class="n-pr--medium">0800-057-999</span>
                        
                        include include/register/_etmall-terms

                        .n-l-bgw-lg.n-reg__terms
                            .n-title--13 行銷資訊通知
                            .n-form--radio.n-label--inline
                                input#marketagreeYes(type="radio", name="marketagree", value="Y", checked)
                                label(for="marketagreeYes") 同意
                            .n-form--radio.n-label--inline
                                input#marketagreeNo(type="radio", name="marketagree", value="N")
                                label(for="marketagreeNo") 不同意
                            .n-l-bgw-md.n-l-bgw-border.n-reg__terms-box
                                p 東森購物得不定期：
                                ol.n-list--decimal
                                    li 以簡訊、電話、傳真、電子報、型錄、郵件等方式通知相關商品、活動或服務之資訊(日後如不願接受，可撥打客戶專線0800-057-999通知東森購物)。
                                    li 撥打電話關懷會員、詢問東森購物之服務滿意度及前項資訊接收率調查。
                        
                        include include/register/_ponta-terms-1
                        include include/register/_ponta-terms-2
                        
                        


            include include/global/_footer
            include include/global/_go-top
        script(src = 'Resource/js201703/vendor/jquery.1.11.1.min.js')
        script(src = 'Resource/js201703/vendor/jquery.ui.auto.min.js')
        script(src = 'Resource/js201703/vendor/jquery.cycle2.js')
        script(src = 'Resource/js201703/vendor/jquery.magnific-popup.min.js')
        script(src = 'Resource/js201703/vendor/jquery.menu-aim.js')
        script(src = 'Resource/js201703/vendor/jquery.validate.js')
        script(src = 'Resource/js201703/common/jquery.validate.set.defaults.js')
        script(src = 'Resource/js201703/common/global.effect.js')
        script(src = 'Resource/js201703/pages/registered.js')
        script(src = 'Resource/js201703/prototyping.js')
                
