// ==========================================================================
// Collection Helpers 
// ==========================================================================
@import "_helpers/_collection";

// ==========================================================================
// labes
// ==========================================================================

.n-labels__wrap {
	span {
		margin-left: 10px;
	}
}

.n-labels {
	color: $gr2-dp-light;
	padding: 3px 6px;
	@include border-radius(2px);
}