// ==========================================================================
// Collection Helpers 
// ==========================================================================
@import "_helpers/_collection";

// ==========================================================================
// Tabs
// ==========================================================================

// tabs
// ==========================================================================
.n-tab {
	li {
		display: inline-block;
		position: relative;
		z-index: map-get($zindex, base);
		text-align: center;
	}
	a {
		display: block;
		color: $gr-dark;
	}
}


// Index tabs
// ==========================================================================

.n-tab__nav {
	li {
		display: inline-block;
		margin-left: 8px;
		position: relative;
		z-index: map-get($zindex, base);
		text-align: center;
	}
	a {
		@include txt-ellipsis(78);
		display: block;
		color: $gr-dark;
	}
	a:hover,
	.current a {
		color: $pr-medium;
	}
	li.current:after {
		content: '';
		background-color: $pr-medium;
		position: absolute;
		z-index: map-get($zindex, second);
		width: 100%;
		height: 3px;
		left: 0;
	}
}

// Cart tabs
// ==========================================================================
.n-tab--lv2 {
	background-color: $gr2-dp-light;
	border-top: 1px solid $gr-lightest;
	border-left: 1px solid $gr-lightest;
	border-right: 1px solid $gr-lightest;
	border-bottom: 2px solid $gr-medium;
	position: relative;
	z-index: map-get($zindex, zero);
	display: table;
	table-layout: fixed;
	width: 100%;
	a {
		padding: 10px;
		max-width: 100%;
	}
	a:hover {
		color: $pr-medium;
	}
	> li {
		display: table-cell;
		text-align: center;
		position: relative;
		z-index: map-get($zindex, zero);
		border-right: 1px solid $gr-lightest;
	}
	> li:last-child {
		border-right: none;
	}
	.current {
		background-color: $gr-dark;
		a {
			color: $gr2-dp-light;
		}
		.n-pr--medium {
			color: $gr2-dp-light;
		}
	}
}

// member tabs
// ==========================================================================

.n-tab__sub-lv3 {
	@include clearfix;
	li {
		float: left;
	}
	a {
		border-bottom: 4px solid $gr-lightest;
		display: block;
		color: $gr-dark;
		padding-bottom: 2px;
		margin-right: 25px;
	}
	a:hover, 
	.current a {
		color: $pr-medium;
		border-bottom: 4px solid $pr-medium;
		position: relative;
		z-index: map-get($zindex, zero);
	}
	.current a{
		&:after{
			content: "";
			position: absolute;
			z-index: map-get($zindex, base);
			margin-left: auto;
			margin-right: auto;
			bottom: -10px;
			left: 0;
			right: 0;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid $pr-medium;
		}
	}
}

.n-tab__swtich {
	@include clearfix;
	li {
		float: left;
		margin-left: 20px;
	}
	a {
		display: block;
		color: $gr-dark;
	}
	a:hover, 
	.current a {
		color: $pr-medium;
		.n-icon--square {
			@include sprite($icon-square-red);
		}
		.n-icon--list {
			@include sprite($icon-list-red);
		}
	}
	[class^="n-icon--"] {
		vertical-align: top;
		margin-top: 5px;
		margin-right: 5px;
	}

}