.n-l-colmb20.n-l-bgw-border.n-cart__finish.n-cart--hints
	.n-left.col-4.n-cart--left
		ul.n-cart__info
			li 
				span.n-left 消費金額：
				span.n-left $ 7800
			li 
				span.n-left 匯款銀行：
				span.n-left 國泰世華銀行
			li
				span.n-left 匯款帳號：
				span.n-left 015506108044
			li 
				span.n-left 匯款期限：
				span.n-left 2017-04-30
	.n-left.col-8
		p.n-pr--medium 訂單已成立，但尚未付款，您可立即進行線上轉帳或至實體ATM轉帳付款
		p 提醒您，當付款完成後，訂單狀態最快需3分鐘作業時間才會更新
		a.n-btn.n-btn--primary(href="", title="中國信託網路銀行付款", target="_blank") 中國信託網路銀行付款
.n-l-colmb20.n-l-bgw-border.n-cart__finish
	.n-cart--single
		p 您的購物車尚有 <span class="n-pr--medium">一般宅配(2)</span>、 <span class="n-pr--medium">快速到貨(2)</span> 未結帳，您可點選繼續其他結帳
		a.n-btn.n-btn--primary(href="", title="繼續其他結帳", target="_blank") 繼續其他結帳
		a.n-btn.n-btn--normal(href="", title="繼續購物", target="_blank") 繼續購物
		a.n-btn.n-btn--normal(href="", title="訂單查詢", target="_blank") 訂單查詢
.n-l-colmb20.n-l-bgw-border.n-cart__finish.n-cart--deliver-info
	ul.n-left.col-4.n-cart--left.n-cart__info
		li 
			span.n-left 付款方式：
			span.n-left 超商取貨
		li 
			span.n-left 消費金額：
			span.n-left  $4,5557
		li 
			span.n-left 門市名稱：
			span.n-left  
				i.n-icon--family
				b 天誠門市
		li 
			span.n-left 門市地址：
			span.n-left 新北市中和區景平路240巷1弄4號
	.n-left.col-8
		p 訂單已成立，感謝您的購買 
		a.n-btn.n-btn--primary(href="", title="繼續其他結帳", target="_blank") 繼續其他結帳
		a.n-btn.n-btn--normal(href="", title="繼續購物", target="_blank") 繼續購物
		a.n-btn.n-btn--normal(href="", title="訂單查詢", target="_blank") 訂單查詢
.n-l-colmb20.n-l-bgw-border.n-cart__finish
	.n-cart--single
		p 訂單已成立，感謝您的購買
		a.n-btn.n-btn--normal(href="", title="繼續購物", target="_blank") 繼續購物
		a.n-btn.n-btn--normal(href="", title="訂單查詢", target="_blank") 訂單查詢