.n-l-colmb20.n-cart--location
	.n-title__wrap
		h2.n-title--18 選擇取貨門市
	.n-l-bgw-md.n-cart__second
		.n-left.col-9.n-cart--left
			ul
				li
					.n-left 門市名稱：
					span 德合路7-11門市
				li
					.n-left 門市地址：
					span 新北市中和區景平路258號1樓
				li
					.n-left 重新選擇：
					.n-left 
						a.n-btn.n-btn--normal(href="", title="7-11超商取貨") 
							i.n-icon--711
							| 7-11超商取貨
						a.n-btn.n-btn--normal(href="", title="全家超商取貨")
							i.n-icon--family
							| 全家超商取貨
						.n-form__box
							input#recordCard(type="checkbox", name="recordCard", checked)
							label(for="recordCard") 將紀錄此次門市記錄，方便於下次自動帶出
		.n-left.col-3.n-cart--right
			ul.n-desc__list
				li
					.n-left
						i.n-icon--error
					p.n-left.n-desc__txt 於訂單成立後，將無法變更配送地址及聯繫電話，商品配達超商時， 會以簡訊通知您前往取貨，請務必再次確認您的配送資料及聯繫電話是否正確。