.n-d-table.n-cart__table
	.n-d-table__wrap.table--gr2-dp-light.n-d-table--bordered
		ul.n-d-table__head.table--caption
			li.title-1 商品名稱
			li.title-2 數量及規格
			li.title-3 價格
			li.title-4 會員獨享
			li.title-5 小計
			li.title-6
		.n-d-table__body
			ul.n-d-table__body-row
				li.title-1
					.n-left.n-pic
						a(href="", target="_blank", title="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)")
							img(src="https://goo.gl/DlLkcg", alt="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)", width="120", height="120")
					.n-left.n-desc
						p 905707377
						p.n-name 夏朵小香風羊毛軟呢現省千元組(外套*1+褲子*1)
				li.title-2
					ul.n-operating
						li.n-title--13 夏朵小香風精品羊毛軟呢褲
						li
							label.n-caption 顏色：
							select.n-form--control(name="")
								option.n-form--disabled(value="1") 共同
								option.n-form--disabled(value="2") 共同1
						li
							label.n-caption 樣式：
							select.n-form--control(name="")
								option(value="1") 64G
						li
							label.n-caption 數量：
							select.n-form--control(name="")
								option(value="1") 1
					ul.n-operating
						li.n-title--13 夏朵小香風精品羊毛軟呢外套
						li
							label.n-caption 顏色：
							select.n-form--control(name="")
								option(value="1") 共同
								option(value="2") 共同1
						li
							label.n-caption 樣式：
							select.n-form--control(name="")
								option(value="1") 64G
						li
							label.n-caption 數量：
							select.n-form--control(name="")
								option(value="1") 1
				li.title-3
					span.n-price--normal-16 
					span $ 
					span 1,113,000
				li.title-4
					a.n-btn.n-btn--lv3(href="", title="使用折價券") 使用折價券
				li.title-5.n-text--right
					span.n-price--16 
						span $ 
						span 1,113,000											

				li.title-6
					ul.n-operating.n-edit
						li
							a(href="", title="刪除") 刪除
						li
							a(href="", title="下次再買") 下次再買
						li
							select.n-form--control(name="")
								option(value="1") 變更配送
			ul.n-d-table__body-row
				li.title-1
					.n-left.n-pic
						a(href="", target="_blank", title="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)")
							img(src="Resource/img201703/cart/5718879-1_XXL.jpg", alt="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)", width="120", height="120")
					.n-left.n-desc
						p 905796279
						p.n-name 【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)
				li.title-2
					ul.n-operating
						li
							label.n-caption 顏色：
							select.n-form--control(name="")
								option(value="1") 共同
								option(value="2") 共同1
						li
							label.n-caption 樣式：
							select.n-form--control(name="")
								option(value="1") 64G
						li
							label.n-caption 數量：
							select.n-form--control(name="")
								option(value="1") 1
				li.title-3
					span.n-price--normal-16 
					span $ 
					span 1,113,000
				li.title-4
				li.title-5.n-text--right
					span.n-price--16 
						span $ 
						span 1,113,000											

				li.title-6
					ul.n-operating.n-edit
						li
							a(href="", title="刪除") 刪除
						li
							a(href="", title="下次再買") 下次再買
						li
							select.n-form--control(name="")
								option(value="1") 變更配送
	.n-d-table__foot.n-d-table__foot-colspan.n-table--hints 符合
		a.n-blue--link(href="#", title="0405-0417 美食 LIVE 神廚料理 活動品", target="_blank") [0405-0417 美食 LIVE 神廚料理 活動品]		
		| 活動條件，可折價 
		span.n-price--dark-15 $ 
			span 1,113,000
		|  元

	.n-d-table__wrap.table--gr2-dp-light.n-d-table--bordered
		.n-d-table__body
			ul.n-d-table__body-row
				li.title-1
					.n-left.n-pic
						a(href="", target="_blank", title="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)")
							img(src="Resource/img201703/cart/5718879-1_XXL.jpg", alt="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)", width="120", height="120")
					.n-left.n-desc
						p 905796279
						p.n-name 【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)
				li.title-2
					ul.n-operating
						li
							label.n-caption 顏色：
							select.n-form--control(name="")
								option(value="1") 共同
								option(value="2") 共同1
						li
							label.n-caption 樣式：
							select.n-form--control(name="")
								option(value="1") 64G
						li
							label.n-caption 數量：
							select.n-form--control(name="")
								option(value="1") 1
				li.title-3
					span.n-price--normal-16 
					span $ 
					span 1,113,000
				li.title-4
				li.title-5.n-text--right
					span.n-price--16 
						span $ 
						span 1,113,000											

				li.title-6
					ul.n-operating.n-edit
						li
							a(href="", title="刪除") 刪除
						li
							a(href="", title="下次再買") 下次再買
						li
							select.n-form--control(name="")
								option(value="1") 變更配送
	.n-d-table__foot.n-d-table__foot-colspan.n-table--hints 此商品為公益捐贈型商品，購買後會直接寄送給指定的公益團體，一旦出貨後便不可取消或退貨，請確認您同意以上事項後再進行結帳。
		.n-right.n-price__subtotal
			span.n-price--16 
				span $ 
				span 1,113,000
	
	.n-d-table__wrap.table--gr2-dp-light.n-d-table--bordered
		.n-d-table__body
			ul.n-d-table__body-row
				li.title-1
					.n-left.n-pic
						a(href="", target="_blank", title="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)")
							img(src="Resource/img201703/cart/5718879-1_XXL.jpg", alt="【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)", width="120", height="120")
					.n-left.n-desc
						p 905796279
						p.n-name 【伊黛爾】夏日涼感冰礦咖啡紗機能性爆乳內衣套組 B-D罩(淡雅綠)
				li.title-2
					ul.n-operating
						li
							label.n-caption 顏色：
							select.n-form--control(name="")
								option(value="1") 共同
								option(value="2") 共同1
						li
							label.n-caption 樣式：
							select.n-form--control(name="")
								option(value="1") 64G
						li
							label.n-caption 數量：
							select.n-form--control(name="")
								option(value="1") 1
				li.title-3
					span.n-price--normal-16 
					span $ 
					span 1,113,000
				li.title-4
				li.title-5.n-text--right
					span.n-price--16 
						span $ 
						span 1,113,000											

				li.title-6
					ul.n-operating.n-edit
						li
							a(href="", title="刪除") 刪除
						li
							a(href="", title="下次再買") 下次再買
						li
							select.n-form--control(name="")
								option(value="1") 變更配送
	.n-d-table__foot.n-d-table__foot-colspan.n-table--note 未符合 任選 4件可結帳購買，可至
		a.n-blue--link(href="#", title="0405-0417 專區商品2件8折 (M件N折", target="_blank") [0405-0417 專區商品2件8折 (M件N折]		
		span.n-price--dark-15 $ 
			span 1,113,000
		|  up 再選購
	.n-d-table__foot.n-d-table__foot-colspan.n-table--count
		.n-right.n-price__subtotal 
			.n-price__subtotal-count 購物車內合計有 
				span.n-pr--medium.n-font--bold 9
				|  項商品，商品總金額 
				span.n-price--normal-16-bold $ 
					span 1,113,000