.n-l-colmb20.n-cart--payway
	.n-title__wrap
		h2.n-title--18 請選擇付款方式
	ul.n-tab.n-tab--lv2#pay2Tab
		li.current
			a(href="#pay2Item1", title="支付寶") 支付寶
		li
			a(href="#pay2Item2", title="銀聯卡") 銀聯卡
		li
			a(href="#pay2Item3", title="財付通") 財付通
	.n-l-bgw-md.n-cart__second#pay2Item1
		ol.n-list--decimal.n-cart--list
			li 提醒您，支付成功頁面僅係您的「支付寶」回覆訊息，您的交易是否完成仍請以本商店通知為準。
			li 您已選擇「支付寶」結帳，請點選 「 <a class="n-blue--link" href="#" title="如何申請手機載具" target="_blank">前往支付寶</a>  」 進行付款流程。
	.n-l-bgw-md.n-cart__second.n-is--hide#pay2Item2
		ol.n-list--decimal.n-cart--list
			li 提醒您，支付成功頁面僅係您的「銀聯卡」發卡行回覆訊息，您的交易是否完成仍請以本商店通知為準。
			li 您已選擇「銀聯卡」結帳，請點選『確認結帳』完成購買。
	.n-l-bgw-md.n-cart__second.n-is--hide#pay2Item3
		ol.n-list--decimal.n-cart--list
			li 提醒您，支付成功頁面僅係您的「財付通」回覆訊息，您的交易是否完成仍請以本商店通知為準。
			li 您已選擇「財付通」結帳，請點選 「 <a class="n-blue--link" href="#" title="如何申請手機載具" target="_blank">前往財付通</a> 」 進行付款流程。