.n-l-colmb30.n-bannerad__wrap
	section.n-left.n-layout--half.n-banner__body
		.n-bannerad__box
			a(href="#" title="200點加購超值好物" target="_blank")
				img(src="https://goo.gl/X7gQia" alt="200點加購超值好物" width="600" height="262")
	section.n-right.n-layout--half.n-banner__body
		.n-bannerad__box
			a(href="#" title="APP首購送85度C午茶招待組" target="_blank" width="600" height="262")
				img(src="https://goo.gl/xPa379" alt="APP首購送85度C午茶招待組")