.n-l-colmb30.n-category__top.n-hover--img#smallTopBox
	ul.n-card__list
		-for (var i = 0; i < 3; ++i)
			li
				.n-card__box
					a(href="#", title="Candy小舖 復古鄉村小碎花收臀窄裙-灰色", target="_blank")
						.n-pic
							.n-flag__wrap
								span.n-flag__num TOP
							img(src="https://goo.gl/npKOik", alt="Candy小舖 復古鄉村小碎花收臀窄裙-灰色")
					p.n-name
						a(href="#", title="Candy小舖 復古鄉村小碎花收臀窄裙-灰色", target="_blank") Candy小舖 復古鄉村小碎花收臀窄裙-灰色Candy小舖 復古鄉村小碎花收臀窄裙-灰色Candy小舖 復古鄉村小碎花收臀窄裙-灰色Candy小舖 復古鄉村小碎花收臀窄裙-灰色
					p.n-price__wrap
						span.n-price--normal $ 113,000
						span.n-price--16 $
							span 113,000
					.n-card__btn
						a.n-btn.n-btn--card-icon
							i.n-icon--collect
						a.n-btn.n-btn--card-red 
							i.n-icon--cart
							span 加入購物車