.n-overlay.n-crazy-ad--film#crazyAdFilm
    .n-overlay__box
        .n-crazy-ad__film-box.n-crazy-ad--bg
            .n-left
                a(href="", title="東森嚴選－ET Mall東森購物網", target="_blank")
            .n-left
                #utubeFilm
                //- <iframe id="utubeFilm" width="460" height="259" src="https://www.youtube.com/embed/u6ZtHrWiSAk?autoplay=1" frameborder="0" allowfullscreen></iframe>
            a.n-close__film(href="#", title="關閉")