.n-layout--500.n-left.n-film
		section.n-film__wrap
			.n-title__wrap
				.n-title--22.n-left
					i.n-icon--film
					|影音專區
				.n-left.n-film__link
					a(href="http://www.etmall.com.tw/Pages/SProductList.aspx?StoreID=31771&CategoryID=79764" title="購ing" target="_blank") 購ing
				ul.n-tab__nav.n-right#filmTab
					li.current 
						a(href='#film1' title='CH34') CH34
						each filmTxt, index in [ { chName: 'CH46'}, { chName: 'CH47'}, { chName: 'CH60'}]
							li
								a(href='#film' + (index + 2)) #{filmTxt[Object.keys(filmTxt)[0]]}
			.n-film__box#film1
				.n-film__video
					<iframe width="483" height="272" src="https://www.youtube.com/embed/sWEjLtTxs64" frameborder="0" allowfullscreen></iframe>
				.n-film__product
					a(href="#" title="(4套) 軟鋼圈內衣_Madonna" target="_blank")
						.n-pic.n-left
							img(src="https://goo.gl/oxCWFZ" alt="(4套) 軟鋼圈內衣_Madonna")
						p.n-name.n-left (4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna
						p.n-price__wrap
							span.n-price--normal $ 1,113,000
							span.n-price--16 
								span $
								span 1,111,580
			.n-film__box.n-is--hide#film2
				.n-film__video
					<iframe width="483" height="272" src="https://www.youtube.com/embed/sWEjLtTxs64" frameborder="0" allowfullscreen></iframe>
				.n-film__product
					a(href="#" title="(4套) 軟鋼圈內衣_Madonna" target="_blank")
						.n-pic.n-left
							img(src="https://goo.gl/oxCWFZ" alt="(4套) 軟鋼圈內衣_Madonna")
						p.n-name.n-left (4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna
						p.n-price__wrap
							span.n-price--normal $ 1,113,000
							span.n-price--16 
								span $
								span 1,111,580
			.n-film__box.n-is--hide#film3
				.n-film__video
					<iframe width="483" height="272" src="https://www.youtube.com/embed/sWEjLtTxs64" frameborder="0" allowfullscreen></iframe>
				.n-film__product
					a(href="#" title="(4套) 軟鋼圈內衣_Madonna" target="_blank")
						.n-pic.n-left
							img(src="https://goo.gl/oxCWFZ" alt="(4套) 軟鋼圈內衣_Madonna")
						p.n-name.n-left (4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna
						p.n-price__wrap
							span.n-price--normal $ 1,113,000
							span.n-price--16 
								span $
								span 1,111,580
			.n-film__box.n-is--hide#film4
				.n-film__video
					<iframe width="483" height="272" src="https://www.youtube.com/embed/sWEjLtTxs64" frameborder="0" allowfullscreen></iframe>
				.n-film__product
					a(href="#" title="(4套) 軟鋼圈內衣_Madonna" target="_blank")
						.n-pic.n-left
							img(src="https://goo.gl/oxCWFZ" alt="(4套) 軟鋼圈內衣_Madonna")
						p.n-name.n-left (4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna(4套) 軟鋼圈內衣_Madonna
						p.n-price__wrap
							span.n-price--normal $ 1,113,000
							span.n-price--16 
								span $
								span 1,111,580