.n-left.n-nav-sub__logo
	- var brandLogos = [{brandUrl: '#', brandName: 'logo1', brandImg: 'Resource/img201703/index/logo-90x50-1.jpg'}, {brandUrl: '#', brandName: 'logo2', brandImg: 'Resource/img201703/index/logo-90x50-2.jpg'}, {brandUrl: '#', brandName: 'logo3', brandImg: 'Resource/img201703/index/logo-90x50-3.jpg'}, {brandUrl: '#', brandName: 'logo4', brandImg: 'Resource/img201703/index/logo-90x50-4.jpg'}, {brandUrl: '#', brandName: 'logo5', brandImg: 'Resource/img201703/index/logo-90x50-5.jpg'}, {brandUrl: '#', brandName: 'logo6', brandImg: 'Resource/img201703/index/logo-90x50-6.jpg'}, {brandUrl: '#', brandName: 'logo1', brandImg: 'Resource/img201703/index/logo-90x50-1.jpg'}, {brandUrl: '#', brandName: 'logo2', brandImg: 'Resource/img201703/index/logo-90x50-2.jpg'}, {brandUrl: '#', brandName: 'logo3', brandImg: 'Resource/img201703/index/logo-90x50-3.jpg'}, {brandUrl: '#', brandName: 'logo4', brandImg: 'Resource/img201703/index/logo-90x50-4.jpg'}, {brandUrl: '#', brandName: 'logo1', brandImg: 'Resource/img201703/index/logo-90x50-1.jpg'}, {brandUrl: '#', brandName: 'logo2', brandImg: 'Resource/img201703/index/logo-90x50-2.jpg'}, {brandUrl: '#', brandName: 'logo3', brandImg: 'Resource/img201703/index/logo-90x50-3.jpg'}, {brandUrl: '#', brandName: 'logo4', brandImg: 'Resource/img201703/index/logo-90x50-4.jpg'}]
	ul.n-left.n-nav-sub__logo-list
		each brandLogo in brandLogos
			li
				a(href= brandLogo.brandUrl title= brandLogo.brandName  target="_blank")
					img(src= brandLogo.brandImg  alt= brandLogo.brandName width="66" height="37")
	ul.n-left.n-nav-sub__logo-list
		each brandLogo in brandLogos
			li
				a(href= brandLogo.brandUrl title= brandLogo.brandName  target="_blank")
					img(src= brandLogo.brandImg  alt= brandLogo.brandName width="66" height="37")
	ul.n-left.n-nav-sub__logo-list
		each brandLogo in brandLogos
			li
				a(href= brandLogo.brandUrl title= brandLogo.brandName  target="_blank")
					img(src= brandLogo.brandImg  alt= brandLogo.brandName width="66" height="37")