.n-left.n-l--aside
	.n-l-colmb10.n-immediate__wrap#immediatePost
		.n-title--15 
			i.n-icon--loudspeaker
			span 即時公告
		ul
			li
				a(href="#ovearlayPost", target="_blank" title="會員服務通知~交易記錄查詢功能新增索取購買證明服務喔務喔。(詳全文)") 會員服務通知~交易記錄查詢功能新增索取購買證明服務喔務。(詳全文)
			li
				a(href="http://www.etmall.com.tw/MemberCenter.aspx", target="_blank" title="會員服務通知~全方位改善眼周問題的突破性高效眼霜。(詳全文)") 會員服務通知~全方位改善眼周問題的突破性高效眼霜。(詳全文)
			li
				a(href="", target="_blank" title="會員服務通知~一瓶解決眼皮鬆弛、細紋等困擾。(詳全文)") 會員服務通知~一瓶解決眼皮鬆弛、細紋等困擾。(詳全文)
			li
				a(href="login.html", target="_blank" title="會員服務通知~加拿大純淨冰河水多功能保濕噴霧。(詳全文)") 會員服務通知~加拿大純淨冰河水多功能保濕噴霧。(詳全文)
	<ul id="memLeftNav" class="n-l-colmb20 n-mem__nav">
		<li class="n-mem--order">
			<a href="m1-order.html" title="訂查詢單"><i class="n-icon--order"></i> 訂查詢單</a>
		</li>
		<li class="n-mem--offer">
			<a href="m2-ticket.html" title="我的優惠"><i class="n-icon--offer"></i> 我的優惠</a>
		</li>
		<li class="n-mem--favorite current">
			<a class="current" href="m3-track-list01.html" title="我的蒐藏"><i class="n-icon--favorite"></i> 我的蒐藏</a>
			<ul>
				<li><a href="m3-track-list01.html" title="蒐藏清單">蒐藏清單</a></li>
				<li><a href="m3-history-list01.html" title="瀏覽歷程">瀏覽歷程</a></li>
				<li><a href="m3-stock-notice.html" title="貨到通知">貨到通知</a></li>
			</ul>
		</li>
		<li class="n-mem--info">
			<a href="m4-profile01.html" title="帳戶管理"><i class="n-icon--info"></i> 帳戶管理</a>
		</li>
		<li class="n-mem--help">
			<a href="m5-novice01.html" title="幫助中心"><i class="n-icon--help"></i> 幫助中心</a>
		</li>
	</ul>
	.n-mem__ad
		a(href="", title="banner words")
			img(src="Resource/img201703/member/bn-230x190.png", width="230", height="190" alt="banner words")