.n-overlay.n-overlay--post.mfp-hide#ovearlayPost
    .n-overlay__box.n-post--wrap
        <button title="關閉" type="button" class="mfp-close">&#215;</button>
        .n-l-bgw-lg
            .n-l-colmb10.n-title--18 會員服務通知~交易記錄查詢功能新增索取購買證明服務喔務喔
            .n-post__box
                p 歡迎您在東森購物網路商城上享受我們提供給您便利又安全的購物機制！為了確保您在網站上的購物安全，輸入信用卡號碼的風險，<br />東森購物網路商城藉著高科技的加密傳輸方式，在您輸入資料時以加密的程序轉成亂碼，<br />來確保您的交易資料。東森購物網路商城的安全認證網站標章是經由網際威信與VeriSign所提供的服務。這個全球安全認證的網站執照，是電子商務安全購物的重要指標。
            .n-form__foot.n-text--center 
                <input type="submit" class="n-btn n-btn--primary" value="確定">